Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

docs: update PROJECT_STRUCTURE with authentication module details
  docs/PROJECT_STRUCTURE.md
Due: none

docs: improve documentation formatting and structure
  docs/README-K8S-DEPLOYMENT.md
  docs/ROADMAP-old.md
  docs/ROADMAP_CURRENT.md
  docs/SECRETS_CONFIGURATION_GUIDE.md
  docs/SECURITY.md
  docs/STORAGE_BACKEND_INDEPENDENCE.md
  docs/TIKV_INTEGRATION_SUMMARY.md
  docs/TIKV_PERSISTENCE_INTEGRATION.md
  docs/TIMESERIES_IMPLEMENTATION_SUMMARY.md
  docs/TIME_SERIES_ENGINE.md
  docs/roadmap.md
  docs/status.md
  docs/timeseries_commands.md
Due: none

docs: add Phase 9 Query Optimization implementation plan
  docs/planning/PHASE_09_IMPLEMENTATION_PLAN.md
Due: none

feat: Phase 9 foundation - Enhanced statistics, columnar storage, and SIMD operators
  orbit/protocols/src/postgres_wire/sql/execution/columnar.rs
  orbit/protocols/src/postgres_wire/sql/execution/mod.rs
  orbit/protocols/src/postgres_wire/sql/execution/simd/aggregates.rs
  orbit/protocols/src/postgres_wire/sql/execution/simd/filters.rs
  orbit/protocols/src/postgres_wire/sql/execution/simd/mod.rs
  orbit/protocols/src/postgres_wire/sql/mod.rs
  orbit/protocols/src/postgres_wire/sql/optimizer/mod.rs
  orbit/protocols/src/postgres_wire/sql/optimizer/stats_enhanced.rs
Due: clippy

fix: silence dead_code warnings in ScramAuth fields
  orbit/protocols/src/postgres_wire/auth.rs
Due: clippy

feat: implement vectorized query execution engine
  orbit/protocols/src/postgres_wire/sql/execution/mod.rs
  orbit/protocols/src/postgres_wire/sql/execution/vectorized.rs
Due: clippy

feat: add comprehensive Phase 9 performance benchmarks
  docs/PHASE_09_BENCHMARK_RESULTS.md
  orbit/benchmarks/Cargo.toml
  orbit/benchmarks/benches/phase9_performance.rs
Due: clippy, cargo-audit

docs: add comprehensive columnar storage tradeoff analysis
  docs/COLUMNAR_STORAGE_TRADEOFFS.md
Due: none

feat: implement hybrid storage engine with tiered architecture
  orbit/protocols/src/postgres_wire/sql/execution/hybrid.rs
  orbit/protocols/src/postgres_wire/sql/execution/mod.rs
Due: clippy

fix: use type-safe PrimaryKey wrapper instead of String for primary key index
  orbit/protocols/src/postgres_wire/sql/execution/hybrid.rs
Due: clippy

docs: add Apache Iceberg integration analysis for warm/cold tiers
  docs/ICEBERG_INTEGRATION_ANALYSIS.md
Due: none

feat: add Apache Iceberg integration for cold tier storage (Phase 1 - WIP)
  Cargo.lock
  orbit/protocols/Cargo.toml
  orbit/protocols/src/postgres_wire/sql/execution/iceberg_cold.rs
  orbit/protocols/src/postgres_wire/sql/execution/mod.rs
Due: clippy, cargo-audit

fix: complete Iceberg cold tier compilation and add all Column type conversions
  orbit/protocols/src/postgres_wire/sql/execution/iceberg_cold.rs
Due: clippy

feat: add MinIO S3 integration tests for Iceberg cold tier
  Cargo.lock
  orbit/protocols/Cargo.toml
  orbit/protocols/tests/iceberg_minio_integration.rs
Due: clippy, cargo-audit

feat: complete Phase 2 Iceberg integration with HybridStorageManager
  docs/HYBRID_ICEBERG_INTEGRATION.md
  docs/ICEBERG_INTEGRATION_COMPLETE.md
  orbit/protocols/src/postgres_wire/sql/execution/hybrid.rs
  orbit/protocols/src/postgres_wire/sql/execution/iceberg_cold.rs
  orbit/protocols/src/postgres_wire/sql/execution/mod.rs
  orbit/protocols/tests/iceberg_table_operations.rs
Due: clippy

fix: resolve compiler warnings in hybrid storage manager
  orbit/protocols/src/postgres_wire/sql/execution/hybrid.rs
Due: clippy

feat: add Azure Blob Storage support for Iceberg cold tier with comprehensive testing
  Cargo.lock
  orbit/AZURE_STORAGE_QUICKSTART.md
  orbit/protocols/AZURE_TEST_RESULTS.md
  orbit/protocols/Cargo.toml
  orbit/protocols/docs/AZURE_ICEBERG_SETUP.md
  orbit/protocols/docs/AZURE_IMPLEMENTATION_SUMMARY.md
  orbit/protocols/examples/azure_iceberg_example.rs
  orbit/protocols/examples/create_azurite_container.rs
  orbit/protocols/src/postgres_wire/sql/execution/hybrid.rs
  orbit/protocols/src/postgres_wire/sql/execution/iceberg_cold.rs
  orbit/protocols/src/postgres_wire/sql/execution/mod.rs
  orbit/protocols/src/postgres_wire/sql/execution/storage_config.rs
  orbit/protocols/tests/AZURITE_SETUP.md
  orbit/protocols/tests/iceberg_azurite_integration.rs
  orbit/protocols/tests/setup_azurite.sh
Due: clippy, cargo-audit

WIP: Create orbit/engine with unified storage abstraction (checkpoint)
  Cargo.lock
  Cargo.toml
  orbit/engine/Cargo.toml
  orbit/engine/src/cluster/consensus.rs
  orbit/engine/src/cluster/manager.rs
  orbit/engine/src/cluster/mod.rs
  orbit/engine/src/cluster/recovery.rs
  orbit/engine/src/cluster/replication.rs
  orbit/engine/src/cluster/transport.rs
  orbit/engine/src/error.rs
  orbit/engine/src/lib.rs
  orbit/engine/src/metrics/mod.rs
  orbit/engine/src/query/execution.rs
  orbit/engine/src/query/mod.rs
  orbit/engine/src/query/optimizer.rs
  orbit/engine/src/query/simd/aggregates.rs
  orbit/engine/src/query/simd/filters.rs
  orbit/engine/src/query/simd/mod.rs
  orbit/engine/src/storage/columnar.rs
  orbit/engine/src/storage/config.rs
  orbit/engine/src/storage/hybrid.rs
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/storage/memory.rs
  orbit/engine/src/storage/mod.rs
  orbit/engine/src/transaction/mod.rs
  orbit/engine/src/transaction/mvcc.rs
Due: clippy, cargo-audit

fix: Add dependencies and fix imports in orbit/engine (102 -> 93 errors)
  Cargo.lock
  orbit/engine/Cargo.toml
  orbit/engine/src/query/execution.rs
  orbit/engine/src/query/simd/aggregates.rs
  orbit/engine/src/storage/columnar.rs
  orbit/engine/src/storage/config.rs
  orbit/engine/src/storage/hybrid.rs
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/storage/memory.rs
  orbit/engine/src/transaction/mvcc.rs
Due: clippy, cargo-audit

fix: Fix module exports and error types (93 -> 61 errors)
  orbit/engine/src/cluster/consensus.rs
  orbit/engine/src/cluster/manager.rs
  orbit/engine/src/cluster/mod.rs
  orbit/engine/src/cluster/recovery.rs
  orbit/engine/src/cluster/replication.rs
  orbit/engine/src/cluster/transport.rs
  orbit/engine/src/query/mod.rs
  orbit/engine/src/storage/hybrid.rs
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/storage/mod.rs
  orbit/engine/src/transaction/mvcc.rs
Due: clippy

fix: Disable orbit-shared dependent modules, fix imports (61 -> ~20 core errors)
  orbit/engine/src/cluster/mod.rs
  orbit/engine/src/storage/mod.rs
  orbit/engine/src/transaction/mod.rs
Due: clippy

feat: achieve successful compilation of orbit-engine (102 -> 0 errors)
  orbit/engine/src/lib.rs
  orbit/engine/src/query/execution.rs
  orbit/engine/src/query/simd/mod.rs
  orbit/engine/src/storage/columnar.rs
  orbit/engine/src/storage/hybrid.rs
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/storage/mod.rs
Due: clippy

feat: re-enable transaction/mvcc module with decoupled dependencies
  orbit/engine/src/transaction/mod.rs
  orbit/engine/src/transaction/mvcc.rs
Due: clippy

feat: move transaction_log, addressable, CDC, and transactions from orbit-shared
  Cargo.lock
  orbit/engine/Cargo.toml
  orbit/engine/src/addressable.rs
  orbit/engine/src/cdc.rs
  orbit/engine/src/error.rs
  orbit/engine/src/lib.rs
  orbit/engine/src/transaction_log.rs
  orbit/engine/src/transactions/core.rs
  orbit/engine/src/transactions/locks.rs
  orbit/engine/src/transactions/metrics.rs
  orbit/engine/src/transactions/mod.rs
  orbit/engine/src/transactions/performance.rs
  orbit/engine/src/transactions/security.rs
Due: clippy, cargo-audit

feat: re-enable all cluster modules (manager, recovery, replication)
  orbit/engine/src/cluster/manager.rs
  orbit/engine/src/cluster/mod.rs
  orbit/engine/src/cluster/replication.rs
Due: clippy

feat: add protocol adapter framework for PostgreSQL and Redis
  orbit/engine/examples/protocol_adapters.rs
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/adapters/postgres.rs
  orbit/engine/src/adapters/redis.rs
  orbit/engine/src/lib.rs
Due: clippy

feat: add REST adapter, complete example, and comprehensive README
  Cargo.lock
  orbit/engine/Cargo.toml
  orbit/engine/README.md
  orbit/engine/examples/complete_example.rs
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/adapters/rest.rs
Due: clippy, cargo-audit

docs: add comprehensive documentation for orbit-engine
  orbit/engine/docs/ADAPTERS.md
  orbit/engine/docs/ARCHITECTURE.md
  orbit/engine/docs/DEPLOYMENT.md
  orbit/engine/docs/MIGRATION.md
Due: none

docs: add comprehensive project summary for orbit-engine
  orbit/engine/SUMMARY.md
Due: none

feat: add protobuf build system and enable cluster transport module
  orbit/engine/Cargo.toml
  orbit/engine/build.rs
  orbit/engine/proto/consensus.proto
  orbit/engine/src/cluster/mod.rs
  orbit/engine/src/cluster/transport.rs
  orbit/engine/src/error.rs
Due: clippy, cargo-audit

feat: enhance transaction log with advanced WAL configuration options
  orbit/engine/src/transaction_log.rs
Due: clippy

feat: add OrbitQL multi-model query support to orbit-engine
  README.md
  orbit/engine/docs/ARCHITECTURE.md
  orbit/engine/docs/ORBITQL.md
  orbit/engine/examples/orbitql_example.rs
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/adapters/orbitql.rs
Due: clippy

fix: correct OrbitQL adapter API usage and remove unused imports
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/adapters/orbitql.rs
Due: clippy

fix: resolve all actionable warnings in orbit-engine
  orbit/engine/src/adapters/orbitql.rs
  orbit/engine/src/adapters/redis.rs
  orbit/engine/src/adapters/rest.rs
  orbit/engine/src/storage/hybrid.rs
  orbit/engine/src/storage/iceberg.rs
Due: clippy

docs: add missing documentation to reduce warnings (426→396)
  orbit/engine/src/adapters/rest.rs
  orbit/engine/src/addressable.rs
  orbit/engine/src/lib.rs
Due: clippy

docs: add documentation for addressable and cluster modules (396→357)
  orbit/engine/src/addressable.rs
  orbit/engine/src/cluster/consensus.rs
  orbit/engine/src/cluster/mod.rs
Due: clippy

docs: add comprehensive documentation for cluster and adapter modules (batch 3)
  orbit/engine/src/adapters/rest.rs
  orbit/engine/src/addressable.rs
  orbit/engine/src/cluster/consensus.rs
  orbit/engine/src/cluster/manager.rs
Due: clippy

docs: complete comprehensive documentation for orbit-engine - ZERO warnings achieved!
  Cargo.lock
  docs/AZURE_STORAGE_QUICKSTART.md
  docs/REDOS-FIX-SUMMARY.md
  docs/ROADMAP_CONSOLIDATED.md
  docs/SECURITY-REGEX.md
  docs/roadmap.md
  orbit/engine/src/cluster/manager.rs
  orbit/engine/src/cluster/recovery.rs
  orbit/engine/src/cluster/replication.rs
  orbit/engine/src/cluster/transport.rs
  orbit/engine/src/lib.rs
  orbit/engine/src/query/execution.rs
  orbit/engine/src/query/mod.rs
  orbit/engine/src/query/optimizer.rs
  orbit/engine/src/query/simd/aggregates.rs
  orbit/engine/src/query/simd/filters.rs
  orbit/engine/src/storage/columnar.rs
  orbit/engine/src/storage/hybrid.rs
  orbit/engine/src/storage/mod.rs
  orbit/engine/src/transaction/mod.rs
  orbit/engine/src/transaction_log.rs
  orbit/engine/src/transactions/core.rs
  orbit/engine/src/transactions/locks.rs
  orbit/engine/src/transactions/metrics.rs
  orbit/engine/src/transactions/mod.rs
  orbit/engine/src/transactions/performance.rs
  orbit/engine/src/transactions/security.rs
  orbit/protocols/src/postgres_wire/sql/execution/iceberg_cold.rs
  tests/README.md
Due: clippy, cargo-audit

fix: resolve cyclic dependency and compilation errors in orbit-util
  orbit/shared/src/error.rs
  orbit/util/src/test_utils.rs
Due: clippy
