Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

refactor(shared): drop duplicate Default impls in patterns
  orbit/shared/src/patterns/interior_mutability.rs
  orbit/shared/src/patterns/typestate.rs
  orbit/shared/src/patterns/visitors.rs
Due: clippy

docs: record the shared patterns module in PRD.md
  specifications/PRD.md
Due: none

Add LLM crate and refactor desktop app architecture
  orbit/desktop/src-tauri/Cargo.toml
  orbit/desktop/src-tauri/src/cluster.rs
  orbit/desktop/src-tauri/src/connections.rs
  orbit/desktop/src-tauri/src/main.rs
  orbit/desktop/src-tauri/src/queries.rs
  orbit/llm/Cargo.toml
  orbit/llm/src/breaker.rs
  orbit/llm/src/error.rs
  orbit/llm/src/provider.rs
  orbit/llm/src/retry.rs
  orbit/llm/src/secret.rs
  orbit/llm/src/types.rs
  specifications/AI_LLM_ROADMAP.md
  specifications/COMPETITIVE_ANALYSIS.md
Due: clippy, cargo-audit

Storage: optional timestamps; add LLM config
  orbit/desktop/src-tauri/src/storage.rs
  orbit/llm/src/config.rs
Due: clippy

fix(postgres): exclude comma from the SCRAM server nonce
  orbit/server/src/protocols/postgres_wire/auth.rs
Due: clippy

feat(desktop): rework connection management, add cluster panel
  orbit/desktop/dist/assets/index-CuG3nLo2.js
  orbit/desktop/dist/assets/index-DQVIKfVi.js
  orbit/desktop/dist/index.html
  orbit/desktop/package-lock.json
  orbit/desktop/package.json
  orbit/desktop/src-tauri/Cargo.lock
  orbit/desktop/src-tauri/src/cluster.rs
  orbit/desktop/src-tauri/src/connections.rs
  orbit/desktop/src-tauri/src/encryption.rs
  orbit/desktop/src-tauri/src/main.rs
  orbit/desktop/src-tauri/src/models.rs
  orbit/desktop/src-tauri/src/storage.rs
  orbit/desktop/src/App.tsx
  orbit/desktop/src/components/ClusterPanel.tsx
  orbit/desktop/src/components/ConnectionDialog.tsx
  orbit/desktop/src/components/ConnectionManager.tsx
  orbit/desktop/src/components/DataVisualization.tsx
  orbit/desktop/src/components/MLModelManager.tsx
  orbit/desktop/src/components/QueryEditor.tsx
  orbit/desktop/src/components/QueryHistoryPanel.tsx
  orbit/desktop/src/components/QueryResultsTable.tsx
  orbit/desktop/src/hooks/useQueryTabs.ts
  orbit/desktop/src/services/tauri.ts
  orbit/desktop/src/types/index.ts
  orbit/desktop/src/utils/queryFormatter.ts
  orbit/desktop/src/utils/queryFormatterSafety.test.ts
Due: clippy, cargo-audit

feat(llm): complete the orbit-llm provider abstraction
  Cargo.lock
  Cargo.toml
  orbit/llm/src/breaker.rs
  orbit/llm/src/compat.rs
  orbit/llm/src/config.rs
  orbit/llm/src/http.rs
  orbit/llm/src/lib.rs
  orbit/llm/src/provider.rs
  orbit/llm/src/providers/anthropic.rs
  orbit/llm/src/providers/compatible.rs
  orbit/llm/src/providers/mod.rs
  orbit/llm/src/providers/ollama.rs
  orbit/llm/src/providers/openai.rs
  orbit/llm/src/providers/openai_shape.rs
  orbit/llm/src/registry.rs
  orbit/llm/src/router.rs
  orbit/llm/src/secret.rs
  orbit/llm/src/testing.rs
  orbit/llm/src/types.rs
  orbit/llm/src/usage.rs
Due: clippy, cargo-audit

feat(server): add LLM.* commands, route GraphRAG through the registry
  config/orbit-server.toml
  orbit-python-client/orbit_client/client.py
  orbit/server/Cargo.toml
  orbit/server/src/config.rs
  orbit/server/src/lib.rs
  orbit/server/src/llm/mod.rs
  orbit/server/src/protocols/graphrag/entity_extraction.rs
  orbit/server/src/protocols/graphrag/graph_rag_actor.rs
  orbit/server/src/protocols/graphrag/llm_client.rs
  orbit/server/src/protocols/resp/commands/graphrag.rs
  orbit/server/src/protocols/resp/commands/llm.rs
  orbit/server/src/protocols/resp/commands/mod.rs
Due: clippy, cargo-audit

chore(ml): gate the industry_models scaffolding behind a feature
  orbit/ml/Cargo.toml
  orbit/ml/src/lib.rs
Due: clippy, cargo-audit

style(tests): apply rustfmt to the TLS integration tests
  orbit/server/tests/lb_tls_test.rs
  orbit/server/tests/tls_test.rs
Due: clippy

docs: add competitive analysis and AI/LLM roadmap; update PRD
  specifications/AI_LLM_ROADMAP.md
  specifications/COMPETITIVE_ANALYSIS.md
  specifications/PRD.md
Due: none

Support PostgreSQL extended protocol and REST SQL
  orbit/desktop/src-tauri/src/connections.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/rest/handlers.rs
  orbit/server/src/protocols/rest/server.rs
Due: clippy

Add TLS support and REST catalogue integration
  Makefile
  config/orbit-server.toml
  orbit/desktop/src-tauri/Cargo.lock
  orbit/desktop/src-tauri/Cargo.toml
  orbit/desktop/src-tauri/src/connections.rs
  orbit/desktop/src-tauri/src/main.rs
  orbit/server/src/config.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/postgres_server.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/rest/handlers.rs
  orbit/server/src/protocols/rest/server.rs
  specifications/PRD.md
Due: clippy, cargo-audit

Postgres: track transaction state & fold identifiers
  Cargo.lock
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  tests/Cargo.toml
  tests/integration/pg_conformance.rs
Due: clippy, cargo-audit

Postgres wire: COPY, LISTEN/NOTIFY, SQL engine fixes
  orbit/engine/src/unified/adapters.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/postgres_server.rs
  orbit/server/src/protocols/postgres_wire/mod.rs
  orbit/server/src/protocols/postgres_wire/notifications.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/tcl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  orbit/server/src/protocols/postgres_wire/sql/select_pipeline.rs
  specifications/PRD.md
  tests/integration/pg_conformance.rs
Due: clippy

Persist unified storage on RocksDB; PostgreSQL conformance 45/48 -> 212/212
  orbit/engine/src/unified/adapters.rs
  orbit/engine/src/unified/mod.rs
  orbit/engine/src/unified/rocksdb_backend.rs
  orbit/engine/src/unified/storage.rs
  orbit/server/src/config.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/postgres_server.rs
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/mod.rs
  orbit/server/src/protocols/postgres_wire/notifications.rs
  orbit/server/src/protocols/postgres_wire/persistent_storage.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  orbit/server/src/protocols/postgres_wire/sql/select_pipeline.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  orbit/server/src/protocols/rest/handlers.rs
  orbit/server/src/unified_storage.rs
  specifications/PRD.md
  tests/integration/pg_conformance.rs
Due: clippy

postgres: PL/pgSQL, cancel, replication & types
  config/orbit-server.toml
  orbit/server/src/config.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/common/cancel.rs
  orbit/server/src/protocols/common/mod.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/error.rs
  orbit/server/src/protocols/mcp/integration.rs
  orbit/server/src/protocols/postgres_server.rs
  orbit/server/src/protocols/postgres_wire/domains.rs
  orbit/server/src/protocols/postgres_wire/fastpath.rs
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/mod.rs
  orbit/server/src/protocols/postgres_wire/persistent_storage.rs
  orbit/server/src/protocols/postgres_wire/plpgsql.rs
  orbit/server/src/protocols/postgres_wire/plpgsql_function.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/select_pipeline.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  orbit/server/src/protocols/postgres_wire/sqlstate.rs
  orbit/server/src/protocols/postgres_wire/stored_functions.rs
  orbit/server/src/protocols/rest/handlers.rs
  specifications/PRD.md
  tests/integration/pg_conformance.rs
Due: clippy

RocksDB durability, configs, and Postgres fixes
  .gitignore
  Cargo.lock
  config/orbit-server.toml
  orbit/engine/Cargo.toml
  orbit/engine/src/unified/rocksdb_backend.rs
  orbit/engine/tests/durability.rs
  orbit/server/Cargo.toml
  orbit/server/src/config.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/postgres_wire/auth.rs
  orbit/server/src/protocols/postgres_wire/gssapi.rs
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/mod.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/select_pipeline.rs
  orbit/server/src/unified_storage.rs
  specifications/PRD.md
  tests/Cargo.toml
  tests/integration/pg_conformance.rs
  tests/integration/pg_crash_durability.rs
Due: clippy, cargo-audit

4D0F94FB-1F25-4AF4-B029-F86207810B49
  .gitignore
Due: none

<thinking>Add .vibecoder to .gitignore</thinking> Add .vibecoder to .gitignore
  .gitignore
Due: none

<thinking>``` x Pin GitHub Actions and dependencies, escape HTML in benchmark reports
  .github/workflows/release.yml
  benchmarks/scripts/analyze_results.py
  benchmarks/scripts/run_benchmarks.sh
  benchmarks/src/orbitql/benchmark.rs
  benchmarks/src/performance/mod.rs
  benchmarks/src/persistence/lsm_tree.rs
  benchmarks/src/persistence/workload.rs
Due: clippy

Add table OID to schemas and wire through storage modules
  coverage.lcov
  orbit/server/src/ai/storage/tiering_engine.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/cypher/graph_algorithms_procedures.rs
  orbit/server/src/protocols/postgres_wire/persistent_storage.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/index_advisor.rs
  orbit/server/src/protocols/postgres_wire/sql/mvcc_executor.rs
  orbit/server/src/protocols/postgres_wire/sql/statistics.rs
Due: clippy

Externalize example credentials and improve pattern logic
  orbit-examples/insurance/python/01_policy_creation_workflow.py
  orbit-examples/manufacturing/python/01_work_order_processing.py
  orbit-examples/orbit_utils.py
  orbit-examples/telco/python/01_subscriber_onboarding.py
  orbit/server/src/protocols/mcp/sql_generator.rs
  orbit/shared/src/patterns/conversions.rs
  orbit/shared/src/patterns/visitors.rs
  orbit/shared/src/validation.rs
Due: clippy

Use matches! macro for forbidden keyword check
  orbit/shared/src/patterns/conversions.rs
Due: clippy

docs: refresh docs links and formatting
  README.md
  docs/ICEBERG_TIME_TRAVEL_SETUP.md
  docs/PYTHON_UDF_COMPLETE_DOCUMENTATION.md
  docs/content/ai/AI_FEATURES_SUMMARY.md
  docs/features.md
  docs/index.md
  docs/overview.md
  docs/quick_start.md
  docs/status.md
Due: none

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
