Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

feat(docs): Extended documentation for training and models modules
  orbit-ml/src/models.rs
  orbit-ml/src/training.rs
Due: clippy

fix: Resolve compilation error and continue documentation improvements
  orbit-protocols/src/neo4j/cypher_spatial.rs
Due: clippy

feat(docs): Major progress on documentation and warning reduction
  orbit-ml/src/config.rs
  orbit-ml/src/error.rs
  orbit-ml/src/lib.rs
  orbit-ml/src/neural_networks/mod.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
Due: clippy

feat(docs): Continue documentation improvements across transformers module
  orbit-ml/src/transformers/mod.rs
Due: clippy

docs: Complete documentation for neural network layers
  orbit-ml/src/neural_networks/layers.rs
Due: clippy

docs: Add comprehensive documentation for training and positional encoding
  orbit-ml/src/training.rs
  orbit-ml/src/transformers/positional_encoding.rs
Due: clippy

docs: Complete documentation for ML modules and optimizers
  orbit-ml/src/engine/mod.rs
  orbit-ml/src/graph_neural_networks/mod.rs
  orbit-ml/src/multi_language/mod.rs
  orbit-ml/src/neural_networks/optimizers.rs
  orbit-ml/src/sql_extensions/mod.rs
Due: clippy

fix: Resolve compilation errors and add remaining documentation
  orbit-ml/src/data.rs
  orbit-ml/src/engine/builder.rs
  orbit-ml/src/engine/factory.rs
  orbit-ml/src/engine/manager.rs
  orbit-ml/src/engine/mod.rs
  orbit-ml/src/engine/scheduler.rs
  orbit-ml/src/metrics.rs
  orbit-ml/src/neural_networks/convolutional.rs
  orbit-ml/src/neural_networks/gru.rs
  orbit-ml/src/neural_networks/lstm.rs
  orbit-ml/src/neural_networks/recurrent.rs
  orbit-ml/src/sql_extensions/sql_functions.rs
  orbit-ml/src/transformers/positional_encoding.rs
  orbit-ml/src/utils.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
  orbit-shared/src/orbitql/comprehensive_benchmark.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/orbitql/parallel_execution.rs
Due: clippy

Update project name in README header
  README.md
Due: none

Fix GPU dependencies and compilation issues
  Cargo.lock
  orbit-ml/Cargo.toml
  orbit-ml/src/engine/mod.rs
  orbit-ml/src/error.rs
  orbit-shared/src/orbitql/comprehensive_benchmark.rs
  orbit-shared/src/orbitql/cost_model.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/orbitql/index_recommendation.rs
  orbit-shared/src/orbitql/query_cache.rs
Due: clippy, cargo-audit

fix: comprehensive clippy warning cleanup for orbit-ml package
  orbit-ml/src/config.rs
  orbit-ml/src/engine/factory.rs
  orbit-ml/src/engine/manager.rs
  orbit-ml/src/engine/mod.rs
  orbit-ml/src/inference.rs
  orbit-ml/src/metrics.rs
  orbit-ml/src/neural_networks/feedforward.rs
  orbit-ml/src/neural_networks/layers.rs
  orbit-ml/src/neural_networks/optimizers.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/orbitql/query_cache.rs
Due: clippy

docs: move DEVELOPMENT.md to docs/ directory
  docs/DEVELOPMENT.md
Due: none

feat: add project organization rules and enforcement script
  docs/PROJECT_ORGANIZATION_RULES.md
  scripts/check-file-organization.sh
Due: none

docs: move all .md files to /docs directory structure
  docs/examples/java_spring_boot_integration.md
  docs/github/COMMUNITY_SETUP.md
  docs/github/issue-templates/arangodb-multi-model.md
  docs/github/issue-templates/bug_report.md
  docs/github/issue-templates/feature_request.md
  docs/github/issue-templates/graphml-graphrag-analytics.md
  docs/github/issue-templates/neo4j-bolt-protocol.md
  docs/protocols/SPATIAL_README.md
Due: none

fix: Resolve compilation warnings and dead code issues
  orbit-shared/src/orbitql/cost_model.rs
  orbit-shared/src/orbitql/index_recommendation.rs
  orbit-shared/src/orbitql/index_selection.rs
  orbit-shared/src/orbitql/optimizer.rs
  orbit-shared/src/orbitql/vectorized_execution.rs
  orbit-shared/src/spatial/crs.rs
  orbit-shared/src/spatial/gpu.rs
  orbit-shared/src/spatial/index.rs
Due: clippy

fix: Final clippy warning fixes
  orbit-shared/src/spatial/index.rs
Due: clippy

fix: Resolve dead code warnings for critical query optimization fields
  orbit-shared/src/orbitql/index_recommendation.rs
  orbit-shared/src/orbitql/index_selection.rs
  orbit-shared/src/orbitql/optimizer.rs
  orbit-shared/src/orbitql/parallel_execution.rs
  orbit-shared/src/orbitql/production_deployment.rs
Due: clippy

fix: Resolve dead code warning for S3StorageProvider fields
  orbit-shared/src/orbitql/storage_integration.rs
Due: clippy

Fix compilation errors and dead code warnings in storage_integration.rs
  orbit-shared/src/orbitql/storage_integration.rs
Due: clippy

Fix Clippy warnings and improve code quality
  orbit-shared/src/orbitql/advanced_analytics.rs
  orbit-shared/src/orbitql/cost_based_planner.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/spatial/index.rs
Due: clippy

Fix additional Clippy warnings to enable CI/CD success
  orbit-ml/src/neural_networks/optimizers.rs
  orbit-shared/src/orbitql/index_selection.rs
Due: clippy

Fix dead code warnings with #[allow(dead_code)] annotations
  orbit-client-spring/src/grpc_server.rs
  orbit-compute/src/capabilities.rs
  orbit-protocols/src/postgres_wire/sql/execution_strategy.rs
  orbit-protocols/src/postgres_wire/sql/expression_evaluator.rs
  orbit-protocols/src/resp/spatial_commands.rs
  orbit-server/src/persistence/cloud.rs
  orbit-shared/src/orbitql/index_selection.rs
  orbit-shared/src/orbitql/production_deployment.rs
  orbit-shared/src/orbitql/query_cache.rs
  orbit-shared/src/spatial/crs.rs
  orbit-shared/src/spatial/index.rs
Due: clippy

Complete fix of all remaining dead code warnings
  orbit-application/src/lifecycle.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-protocols/src/postgres_wire/sql/executor.rs
  orbit-shared/src/orbitql/query_cache.rs
  orbit-shared/src/orbitql/vectorized_execution.rs
  orbit-shared/src/spatial/index.rs
  orbit-shared/src/spatial/streaming.rs
Due: clippy

fix: resolve all Clippy warnings and errors across codebase
  orbit-application/src/event.rs
  orbit-application/src/health.rs
  orbit-application/src/plugin.rs
  orbit-application/src/service.rs
  orbit-client-spring/src/config.rs
  orbit-client-spring/src/container.rs
  orbit-client-spring/src/jni_bindings.rs
  orbit-compute/src/capabilities.rs
  orbit-compute/src/gpu.rs
  orbit-compute/src/lib.rs
  orbit-ml/src/error.rs
  orbit-ml/src/industry_models/mod.rs
  orbit-ml/src/lib.rs
  orbit-protocols/src/arangodb/aql_spatial.rs
  orbit-protocols/src/neo4j/cypher_spatial.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-protocols/src/postgres_wire/sql/execution_strategy.rs
  orbit-protocols/src/postgres_wire/sql/executor.rs
  orbit-protocols/src/postgres_wire/sql/expression_evaluator.rs
  orbit-protocols/src/postgres_wire/sql/mod.rs
  orbit-protocols/src/postgres_wire/sql/mvcc_demo.rs
  orbit-protocols/src/postgres_wire/sql/mvcc_executor.rs
  orbit-protocols/src/resp/spatial_commands.rs
  orbit-server-etcd/src/config.rs
  orbit-server-prometheus/src/config.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/orbitql/index_recommendation.rs
  orbit-shared/src/orbitql/index_selection.rs
  orbit-shared/src/orbitql/optimizer.rs
  orbit-shared/src/orbitql/parallel_execution.rs
  orbit-shared/src/orbitql/production_deployment.rs
  orbit-shared/src/orbitql/query_cache.rs
  orbit-shared/src/orbitql/statistics.rs
  orbit-shared/src/orbitql/vectorized_execution.rs
  orbit-shared/src/spatial/index.rs
Due: clippy

Fix formatting and clippy warnings
  .github/workflows/digitalocean-deploy.yml
  DOCUMENTATION_UPDATES_SUMMARY.md
  README.md
  docs/protocols/RESP_PRODUCTION_GUIDE.md
  docs/protocols/protocol_adapters.md
  examples/resp-server/Cargo.toml
  examples/resp-server/README.md
  examples/resp-server/TEST_REPORT.md
  examples/resp-server/run_tests.sh
  examples/resp-server/src/comprehensive_test.rs
  examples/resp-server/src/main.rs
  examples/resp-server/src/stress_test.rs
  examples/resp-server/src/test_client.rs
  orbit-client-spring/src/lib.rs
  orbit-client/src/client.rs
  orbit-compute/src/capabilities.rs
  orbit-compute/src/lib.rs
  orbit-ml/Cargo.toml
  orbit-ml/src/lib.rs
  orbit-protocols/src/postgres_wire/sql/integration_test.rs
  orbit-protocols/src/postgres_wire/sql/mod.rs
  orbit-protocols/src/resp/commands.rs
  orbit-protocols/src/resp/local_invocation.rs
  orbit-protocols/src/resp/mod.rs
  orbit-protocols/src/resp/simple_local.rs
  orbit-server-prometheus/src/lib.rs
  orbit-shared/src/orbitql/cost_model.rs
  start-orbit-redis.sh
Due: clippy, cargo-audit

Add comprehensive project audit and priority TODO list
  COMPREHENSIVE_PROJECT_AUDIT.md
  PRIORITY_TODO_LIST.md
Due: none

feat: disable automated CI/CD and implement manual CI/CD system
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  MANUAL-CI-CD.md
  run-ci.sh
  scripts/manual-ci-cd.sh
Due: none

fix: resolve Clippy warnings in orbit-compute capabilities.rs
  orbit-compute/src/capabilities.rs
Due: clippy

deps: update dependencies to resolve yanked crossbeam-channel
  Cargo.lock
Due: cargo-audit

security: fix critical vulnerabilities and documentation warnings
  Cargo.lock
  Cargo.toml
  orbit-ml/Cargo.toml
  orbit-ml/src/neural_networks/mod.rs
  orbit-proto/src/converters.rs
  orbit-protocols/src/postgres_wire/messages.rs
  orbit-protocols/src/postgres_wire/sql/parser/tcl.rs
  orbit-util/src/time.rs
Due: clippy, cargo-audit

fix: Replace manual Default impls with derive(Default) for BeanScope and AutowireMode enums
  orbit-client-spring/src/annotations.rs
Due: clippy

fix: Optimize Kubernetes Container Pipeline to prevent disk space issues
  .github/workflows/k8s-container-pipeline.yml
Due: none

Fix orbit-util Cargo.toml: Add explicit lib section
  orbit-util/Cargo.toml
Due: cargo-audit

feat: Add comprehensive benchmarking module with advanced security patterns
  Cargo.lock
  Cargo.toml
  examples/benchmarks-demo/Cargo.toml
  examples/benchmarks-demo/src/main.rs
  examples/comprehensive-multimodel-demo/Cargo.toml
  examples/comprehensive-multimodel-demo/src/main.rs
  orbit-client-spring/src/integration.rs
  orbit-ml/src/transformers/attention.rs
  orbit-protocols/src/aql/aql_parser.rs
  orbit-protocols/src/aql/graphrag_engine.rs
  orbit-protocols/src/cypher/cypher_parser.rs
  orbit-protocols/src/error.rs
  orbit-protocols/src/lib.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-protocols/src/postgres_wire/sql/executor.rs
  orbit-protocols/src/postgres_wire/sql/executor_tests.rs
  orbit-protocols/src/postgres_wire/sql/expression_evaluator.rs
  orbit-protocols/src/postgres_wire/sql/mod.rs
  orbit-protocols/src/postgres_wire/sql/parser/utilities.rs
  orbit-protocols/src/postgres_wire/vector_engine.rs
  orbit-protocols/src/test_utils.rs
  orbit-protocols/src/vector_store_proptest.rs
  orbit-shared/Cargo.toml
  orbit-shared/debug_macro
  orbit-shared/src/benchmarks.rs
  orbit-shared/src/builder_pattern.rs
  orbit-shared/src/config_utils.rs
  orbit-shared/src/config_utils_tests.rs
  orbit-shared/src/error_handling.rs
  orbit-shared/src/exception.rs
  orbit-shared/src/execution_utils.rs
  orbit-shared/src/lib.rs
  orbit-shared/src/security_patterns.rs
  sonar-project.properties
  tests/bdd/features/database_operations.feature
  tests/bdd/features/vector_similarity_search.feature
  tests/bdd/mod.rs
Due: clippy, cargo-audit

feat: Apply best practices and integrate develop branch changes
  examples/benchmarks-demo/src/main.rs
  orbit-shared/src/cdc.rs
  orbit-shared/src/event_sourcing.rs
  orbit-shared/src/pooling/advanced_pool.rs
  orbit-shared/src/pooling/health_monitor.rs
  orbit-shared/src/replication.rs
  orbit-shared/src/stream_processing.rs
Due: clippy

docs: Move documentation files to docs folder for better organization
  docs/COMPREHENSIVE_PROJECT_AUDIT.md
  docs/DOCUMENTATION_UPDATES_SUMMARY.md
  docs/FIX_SUMMARY.md
  docs/MANUAL-CI-CD.md
  docs/PRIORITY_TODO_LIST.md
Due: none

docs: Update documentation with Phase 11 features and fix broken links
  README.md
  docs/PHASE_11_IMPLEMENTATION_SUMMARY.md
  docs/development/SECRETS_CONFIGURATION_INDEX.md
  docs/wip/CI_CD_ISSUE_RESOLUTION.md
Due: none
