Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

fix(postgres): Update deprecated chrono timestamp method
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
Due: clippy

docs(whitepaper): Add PDF version of HTAP whitepaper
  docs/whitepapers/OrbitRS_HTAP_Database_Whitepaper.pdf
Due: none

fix(lua): Fix database API test compilation errors
  orbit/server/src/lua/database_api.rs
Due: clippy

add missing reference
  orbit/shared/src/orbitql/ast.rs
Due: clippy

Implement i64 SIMD support for all backends
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
Due: clippy

Extend SimdBackend trait with f32/f64 operations
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
Due: clippy

Implement f32/f64 SIMD support (AVX2/NEON) and benchmarks
  orbit/server/benches/simd_benchmarks.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
Due: clippy

Implement Window Function Frames support and fix compilation errors
  Cargo.lock
  docs/whitepapers/OrbitRS_High_Performance_Architecture.md
  orbit/server/CONTINUATION_SESSION_SUMMARY.md
  orbit/server/Cargo.toml
  orbit/server/FINAL_IMPLEMENTATION_STATUS.md
  orbit/server/IMPLEMENTATION_COMPLETE_SUMMARY.md
  orbit/server/LUA_UDF_IMPLEMENTATION.md
  orbit/server/benches/simd_benchmarks.rs
  orbit/server/src/lib.rs
  orbit/server/src/lua/mod.rs
  orbit/server/src/lua/sql_integration_test.rs
  orbit/server/src/lua/sql_syntax_e2e_test.rs
  orbit/server/src/lua/udf_integration_test.rs
  orbit/server/src/lua/udf_integration_test.rs.bak2
  orbit/server/src/lua/udf_integration_test.rs.bak3
  orbit/server/src/lua/udf_integration_test.rs.bak4
  orbit/server/src/lua/udf_registry.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/udf_handler.rs
  orbit/server/src/protocols/postgres_wire/sql/udf_handler.rs.bak2
  orbit/server/src/protocols/postgres_wire/sql/udf_handler.rs.new
  orbit/server/src/protocols/postgres_wire/sql/window_functions.rs
  orbit/server/src/protocols/postgres_wire/sql/window_functions_integration_test.rs
  orbit/server/src/python/config.rs
  orbit/server/src/python/mod.rs
  orbit/server/src/python/runtime.rs
  orbit/server/src/python/tests.rs
  orbit/server/src/python/types.rs
  orbit/server/src/python/udf_handler.rs
  orbit/server/src/python/udf_registry.rs
  orbit/server/src/python/worker.py
  orbit/shared/src/orbitql/parser.rs
Due: clippy, cargo-audit

feat(python-udf): Add subprocess-based Python UDF support
  CHANGELOG.md
  docs/PYTHON_UDF_COMPLETE_DOCUMENTATION.md
  orbit/server/src/lib.rs
  specifications/PRD.md
Due: clippy

refactor: Add feature flags and improve window function frames
  orbit/server/src/protocols/common/mod.rs
  orbit/server/src/protocols/common/storage/mod.rs
  orbit/server/src/protocols/cypher/bolt_protocol_tests.rs
  orbit/server/src/protocols/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/window_functions.rs
  orbit/server/src/protocols/resp/commands/scripting.rs
Due: clippy

docs: Update whitepapers with accurate implementation status and dates
  CHANGELOG.md
  docs/whitepapers/OrbitRS_CQL_vs_ScyllaDB_Whitepaper.md
  docs/whitepapers/OrbitRS_HTAP_Database_Whitepaper.md
  docs/whitepapers/OrbitRS_High_Performance_Architecture.md
Due: none

feat(wasm-udf): Add WebAssembly UDF support with wasmtime
  Cargo.lock
  docs/WASM_UDF_DOCUMENTATION.md
  orbit/server/Cargo.toml
  orbit/server/src/lib.rs
  orbit/server/src/wasm/config.rs
  orbit/server/src/wasm/mod.rs
  orbit/server/src/wasm/runtime.rs
  orbit/server/src/wasm/types.rs
  orbit/server/src/wasm/udf_handler.rs
  orbit/server/src/wasm/udf_registry.rs
Due: clippy, cargo-audit

docs: Add comprehensive WASM UDF examples for 6 languages
  docs/WASM_UDF_EXAMPLES.md
Due: none

docs: Add comprehensive Lua UDF documentation and update CHANGELOG
  CHANGELOG.md
  docs/LUA_UDF_COMPLETE_DOCUMENTATION.md
  docs/LUA_UDF_EXAMPLES.md
  docs/WASM_UDF_DOCUMENTATION.md
Due: none

docs(changelog): Add comprehensive Lua UDF implementation entry
  CHANGELOG.md
Due: none

minof document fixes
  orbit/server/src/protocols/postgres_wire/sql/udf_handler.rs.new
  orbit/server/src/unified_storage.rs
Due: clippy

updated gitignore
  .gitignore
Due: none

feat(wasm-udf): Implement async WASM function execution
  CHANGELOG.md
  docs/WASM_UDF_DOCUMENTATION.md
  orbit/server/src/wasm/runtime.rs
Due: clippy

feat(wasm-udf): Implement SIMD support for vectorized computation
  CHANGELOG.md
  docs/WASM_UDF_DOCUMENTATION.md
  docs/WASM_UDF_EXAMPLES.md
  orbit/server/src/wasm/config.rs
  orbit/server/src/wasm/runtime.rs
Due: clippy

feat(wasm-udf): Implement WASI support for file I/O and system operations
  CHANGELOG.md
  Cargo.lock
  docs/WASM_UDF_DOCUMENTATION.md
  orbit/server/Cargo.toml
  orbit/server/src/wasm/config.rs
  orbit/server/src/wasm/runtime.rs
Due: clippy, cargo-audit

feat(wasm-udf): Implement streaming I/O for large datasets
  CHANGELOG.md
  docs/WASM_UDF_DOCUMENTATION.md
  orbit/server/src/wasm/config.rs
  orbit/server/src/wasm/runtime.rs
  orbit/server/src/wasm/types.rs
  orbit/server/src/wasm/udf_registry.rs
Due: clippy

feat(wasm-udf): Implement multi-threading with WASM threads proposal
  CHANGELOG.md
  docs/WASM_UDF_DOCUMENTATION.md
  orbit/server/src/wasm/config.rs
  orbit/server/src/wasm/runtime.rs
Due: clippy

feat(wasm-udf): Implement Component Model support (experimental)
  CHANGELOG.md
  docs/WASM_UDF_DOCUMENTATION.md
  orbit/server/src/wasm/config.rs
  orbit/server/src/wasm/runtime.rs
Due: clippy

docs(specs): Update PostgreSQL 18 and MongoDB compatibility specifications
  specifications/protocols/MONGODB_COMPATIBILITY.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: none

fix: Window functions, WASM runtime, and code cleanup
  orbit/server/Cargo.toml
  orbit/server/benches/simd_benchmarks.rs
  orbit/server/src/lib.rs
  orbit/server/src/lua/mod.rs
  orbit/server/src/lua/sql_integration_test.rs
  orbit/server/src/lua/sql_syntax_e2e_test.rs
  orbit/server/src/lua/udf_integration_test.rs
  orbit/server/src/lua/udf_registry.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/udf_handler.rs
  orbit/server/src/protocols/postgres_wire/sql/window_functions.rs
  orbit/server/src/protocols/postgres_wire/sql/window_functions_integration_test.rs
  orbit/server/src/python/config.rs
  orbit/server/src/python/runtime.rs
  orbit/server/src/python/tests.rs
  orbit/server/src/python/types.rs
  orbit/server/src/python/udf_handler.rs
  orbit/server/src/python/udf_registry.rs
  orbit/server/src/wasm/config.rs
  orbit/server/src/wasm/runtime.rs
  orbit/server/src/wasm/types.rs
  orbit/server/src/wasm/udf_handler.rs
  orbit/server/src/wasm/udf_registry.rs
Due: clippy, cargo-audit

docs(changelog): Add entry for window functions and WASM runtime fixes
  CHANGELOG.md
Due: none

fix: Resolve build warnings and test failures
  orbit/server/src/lua/udf_registry.rs
  orbit/server/src/python/tests.rs
  orbit/server/src/python/udf_handler.rs
  orbit/server/src/python/udf_registry.rs
  orbit/server/src/wasm/runtime.rs
  orbit/server/src/wasm/udf_handler.rs
  orbit/server/src/wasm/udf_registry.rs
Due: clippy

fix(changelog): Correct Lua SQL syntax example
  CHANGELOG.md
Due: none

docs(lua): Create comprehensive SQL syntax examples and fix existing examples
  docs/LUA_SQL_SYNTAX_EXAMPLES.md
  docs/LUA_UDF_EXAMPLES.md
Due: none

docs(changelog): Add Lua SQL syntax examples documentation entry
  CHANGELOG.md
Due: none

docs(changelog): Add comprehensive feature summary and reorganize version history
  CHANGELOG.md
Due: none

deps: Update wasmtime dependencies to 39.0.1
  Cargo.lock
  orbit/server/Cargo.toml
Due: cargo-audit

docs(whitepapers): Add competitive analysis for Snowflake and Databricks
  docs/whitepapers/OrbitRS_vs_Databricks_Competitive_Analysis.md
  docs/whitepapers/OrbitRS_vs_Databricks_Competitive_Analysis.pdf
  docs/whitepapers/OrbitRS_vs_Snowflake_Competitive_Analysis.md
  docs/whitepapers/OrbitRS_vs_Snowflake_Competitive_Analysis.pdf
Due: none

feat(sql): Add time travel SQL syntax support for Iceberg queries
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
Due: clippy

feat(sql): Integrate time travel with query executor
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
Due: clippy

feat(iceberg): Implement Phase 3 write operations
  orbit/engine/Cargo.toml
  orbit/engine/src/storage/iceberg.rs
Due: clippy, cargo-audit

feat(sql): Implement UNDROP TABLE syntax and infrastructure
  Cargo.lock
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  start/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  start/.minio.sys/buckets/.heal/mrf/list.bin
  start/.minio.sys/buckets/.usage.json/xl.meta
  start/.minio.sys/config/config.json/xl.meta
  start/.minio.sys/config/iam/format.json/xl.meta
  start/.minio.sys/config/iam/sts/L6QYJAU7JNAXHF1DQ225/identity.json/xl.meta
  start/.minio.sys/format.json
  start/.minio.sys/pool.bin/xl.meta
Due: clippy, cargo-audit

test: Add comprehensive tests for time travel, UNDROP, and Iceberg
  orbit/server/src/protocols/postgres_wire/sql/index_advisor.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/costs.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/planner.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
Due: clippy

fix(sql): Fix time travel clause parsing order and MVCC executor handling
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
Due: clippy

style: Apply cargo fmt formatting
  orbit/engine/src/storage/iceberg.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  orbit/server/src/wasm/runtime.rs
Due: clippy

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
