Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

chore(deps): update sqlx-no-rsa git url to TuringWorks organization
  CLAUDE.md
  Cargo.lock
  benchmarks/Cargo.lock
  config/deny.toml
  orbit/shared/Cargo.toml
Due: cargo-audit

fix(build): resolve compilation warnings
  orbit/compute/build.rs
  orbit/engine/src/adapters/postgres.rs
  orbit/engine/src/adapters/rest.rs
  orbit/engine/src/procedures/interpreter.rs
  orbit/engine/src/query/execution.rs
  orbit/engine/src/unified/operations.rs
  orbit/engine/src/unified/schema.rs
  orbit/engine/src/unified/storage.rs
  orbit/engine/src/unified/tiered.rs
  orbit/engine/src/unified/types.rs
  orbit/ml/src/industry_models/common.rs
  orbit/ml/src/industry_models/retail_ecommerce_consumer/mod.rs
  orbit/ml/src/industry_models/technology_media_internet/mod.rs
Due: clippy

fix(clippy): resolve warnings in orbit-engine and orbit-server
  orbit/engine/src/adapters/orbitql.rs
  orbit/engine/src/query/optimizer.rs
  orbit/engine/src/storage/hybrid.rs
  orbit/engine/src/unified/adapters.rs
  orbit/engine/src/unified/operations.rs
  orbit/engine/src/unified/schema.rs
  orbit/server/src/ai/optimizer/cost_model.rs
  orbit/server/src/ai/transaction/deadlock_preventer.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/cypher_functions.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/cypher/storage.rs
  orbit/server/src/protocols/graph_database/persistent_storage.rs
  orbit/server/src/protocols/graphrag/entity_extraction.rs
  orbit/server/src/protocols/graphrag/storage.rs
  orbit/server/src/protocols/mcp/integration.rs
  orbit/server/src/protocols/mcp/schema_discovery.rs
  orbit/server/src/protocols/mysql/auth.rs
  orbit/server/src/protocols/postgres_wire/persistent_storage.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/vector_engine.rs
  orbit/server/src/protocols/resp/commands/graph.rs
  orbit/server/src/protocols/resp/commands/string.rs
  orbit/server/src/protocols/resp/commands/string_persistent.rs
  orbit/server/src/services.rs
Due: clippy

fix(clippy): resolve len_zero and field_reassign_with_default errors
  orbit/engine/src/adapters/rest.rs
  orbit/engine/src/query/execution.rs
  orbit/engine/src/unified/operations.rs
  orbit/engine/src/unified/storage.rs
  orbit/engine/src/unified/tiered.rs
  orbit/engine/src/unified/types.rs
  orbit/ml/src/industry_models/transportation_logistics_travel/autonomous_fleet.rs
  orbit/server/src/ai/optimizer/cost_model.rs
  orbit/server/src/config.rs
  orbit/server/src/main.rs
  orbit/server/src/persistence/cloud.rs
  orbit/server/src/protocols/aql/graphrag_engine.rs
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/common/formatting.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql/protocol.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/cypher_functions.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/storage.rs
  orbit/server/src/protocols/graph_database/persistent_storage.rs
  orbit/server/src/protocols/graphrag/entity_extraction.rs
  orbit/server/src/protocols/graphrag/multi_hop_reasoning.rs
  orbit/server/src/protocols/graphrag/storage.rs
  orbit/server/src/protocols/mcp/integration.rs
  orbit/server/src/protocols/mcp/schema_discovery.rs
  orbit/server/src/protocols/postgres_wire/persistent_storage.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/vector_engine.rs
  orbit/server/src/protocols/resp/commands/graph.rs
  tests/verification/checks/check_clippy.sh
Due: clippy

fix(docs): update broken links in status.md
  docs/status.md
Due: none

fix(engine): resolve E0594 mutability error in tiered storage test
  orbit/engine/src/unified/tiered.rs
Due: clippy

fix(server): resolve clippy warnings in tests
  orbit/engine/tests/cdc_integration_tests.rs
  orbit/engine/tests/cross_protocol_integration.rs
  orbit/engine/tests/tiered_storage_minio_tests.rs
  orbit/server/src/protocols/aql/tests.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_algorithms_procedures.rs
  orbit/server/src/protocols/graphrag/entity_extraction.rs
  orbit/server/src/protocols/mcp/tests.rs
  orbit/server/src/protocols/mysql/auth.rs
  orbit/server/src/protocols/postgres_wire/sql/pgvector_tests.rs
  orbit/server/tests/ai_tests.rs
  orbit/server/tests/integration_test.rs
  orbit/server/tests/websocket_streaming_tests.rs
Due: clippy

fix(server): resolve formatting and clippy doc comment errors
  orbit/server/tests/integration_test.rs
Due: clippy

fix(ci): update security and test check scripts
  config/deny.toml
  tests/verification/checks/check_security.sh
  tests/verification/checks/check_tests.sh
Due: none

fix(server): resolve flaky integration tests
  orbit/server/tests/integration_test.rs
Due: clippy

fix(ci): remove checks for non-existent examples
  tests/verification/checks/check_examples.sh
Due: none

style(server): cleanup whitespace in integration tests
  orbit/server/tests/integration_test.rs
Due: clippy

docs: fix intra-doc links and html tags
  orbit/engine/src/lib.rs
  orbit/engine/src/unified/operations.rs
  orbit/server/src/protocols/common/storage/tiered.rs
  orbit/server/src/protocols/postgres_wire/jsonb/path.rs
  orbit/server/src/protocols/postgres_wire/sql/json.rs
  orbit/server/src/protocols/resp/commands/pubsub.rs
  orbit/shared/src/orbitql/ast.rs
  orbit/shared/src/timeseries/aggregation.rs
Due: clippy

docs: fix intra-doc links in unified module
  orbit/engine/src/unified/mod.rs
Due: clippy

docs: fix intra-doc links in unified module (use crate:: prefix)
  orbit/engine/src/unified/mod.rs
Due: clippy

fix: resolve documentation issues and CI check scripts
  docs/content/migration/MIGRATION_GUIDE.md
  docs/content/protocols/MYSQL_COMPLETE_DOCUMENTATION.md
  docs/content/server/PYTHON_CLIENT_LIBRARY.md
  docs/overview.md
  tests/verification/checks/check_benchmarks.sh
  tests/verification/checks/check_coverage.sh
Due: none

feat(ml): implement CNN and Conv2D layer forward/backward passes
  orbit/ml/src/neural_networks/convolutional.rs
  orbit/ml/src/neural_networks/layers.rs
Due: clippy

feat(ml): implement training loop with loss functions and metrics
  orbit/ml/src/training.rs
Due: clippy

feat(ml): implement embedding lookup for transformer embeddings
  orbit/ml/src/neural_networks/layers.rs
  orbit/ml/src/transformers/mod.rs
Due: clippy

feat(ml): implement inference pipeline and model registry integration
  orbit/ml/src/inference.rs
  orbit/ml/src/models.rs
Due: clippy

fix(ml): use optimizer learning rate in RNN weight updates
  orbit/ml/src/neural_networks/gru.rs
  orbit/ml/src/neural_networks/lstm.rs
  orbit/ml/src/neural_networks/recurrent.rs
Due: clippy

feat(ml): implement anomaly detection and tree ensemble models
  orbit/ml/src/industry_models/cross_cutting_horizontal/anomaly_detection.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/mod.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/tree_ensembles.rs
Due: clippy

feat(ml): implement full time series forecasting models
  orbit/ml/src/industry_models/cross_cutting_horizontal/time_series_models.rs
Due: clippy

feat(ml): implement deep reinforcement learning agents
  orbit/ml/src/industry_models/cross_cutting_horizontal/reinforcement_learning.rs
Due: clippy

refactor(ml): improve anomaly detection and tree ensemble tests
  orbit/ml/src/industry_models/cross_cutting_horizontal/anomaly_detection.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/tree_ensembles.rs
  orbit/ml/src/inference.rs
Due: clippy

fix(ml): resolve clippy warnings and move MinIO tests to integration
  Cargo.lock
  MINIO_TEST_SETUP.md
  orbit/ml/src/industry_models/cross_cutting_horizontal/reinforcement_learning.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/time_series_models.rs
  tests/Cargo.toml
  tests/integration/tiered_storage_minio_tests.rs
Due: clippy, cargo-audit

refactor(engine): remove S3 backend MinIO tests from unit tests
  orbit/engine/src/unified/s3_backend.rs
Due: clippy

feat(pgvector): implement HNSW and IVFFlat indexes for vector similarity search
  README.md
  orbit/server/src/protocols/mod.rs
  orbit/server/src/protocols/postgres_wire/vector_engine.rs
  orbit/server/src/protocols/vector_index.rs
Due: clippy

feat(pgvector): add BDD scenarios and fix CREATE EXTENSION parsing
  orbit/server/src/protocols/postgres_wire/vector_engine.rs
  tests/bdd/features/pgvector_compatibility.feature
Due: clippy

chore: add protocol compatibility test resources
  orbit-compatibility/README.md
  orbit-compatibility/aql/README.md
  orbit-compatibility/cql/README.md
  orbit-compatibility/mongodb/README.md
  orbit-compatibility/mysql/README.md
  orbit-compatibility/neo4j/README.md
  orbit-compatibility/orbitql/README.md
  orbit-compatibility/postgresql/README.md
  orbit-compatibility/postgresql/compatibility_check.py
  orbit-compatibility/postgresql/requirements.txt
  orbit-compatibility/redis/README.md
Due: none

feat: implement comprehensive compatibility checks for all protocols
  orbit-compatibility/README.md
  orbit-compatibility/aql/README.md
  orbit-compatibility/aql/compatibility_check.py
  orbit-compatibility/aql/requirements.txt
  orbit-compatibility/cql/README.md
  orbit-compatibility/cql/compatibility_check.py
  orbit-compatibility/cql/requirements.txt
  orbit-compatibility/mongodb/README.md
  orbit-compatibility/mongodb/compatibility_check.py
  orbit-compatibility/mongodb/requirements.txt
  orbit-compatibility/mysql/README.md
  orbit-compatibility/mysql/compatibility_check.py
  orbit-compatibility/mysql/requirements.txt
  orbit-compatibility/neo4j/README.md
  orbit-compatibility/neo4j/compatibility_check.py
  orbit-compatibility/neo4j/requirements.txt
  orbit-compatibility/orbitql/README.md
  orbit-compatibility/orbitql/compatibility_check.py
  orbit-compatibility/orbitql/requirements.txt
  orbit-compatibility/postgresql/README.md
  orbit-compatibility/postgresql/pg18_check.py
  orbit-compatibility/postgresql/pgvector_check.py
  orbit-compatibility/postgresql/timescale_check.py
  orbit-compatibility/redis/README.md
  orbit-compatibility/redis/compatibility_check.py
  orbit-compatibility/redis/requirements.txt
  orbit-compatibility/run_tests.py
Due: none

fix: Fix deadlock in pgvector auto_dimension_detection test
  orbit/server/src/protocols/postgres_wire/vector_engine.rs
Due: clippy

docs: update changelog with pgvector and compatibility test suite
  docs/content/development/CHANGELOG.md
Due: none

docs: add ML protocol integration documentation, examples, and BDD tests
  docs/content/development/CHANGELOG.md
  docs/content/ml/ML_PROTOCOL_INTEGRATION.md
  orbit-compatibility/README.md
  orbit-compatibility/run_tests.py
  orbit-examples/ml-protocol-examples/README.md
  orbit-examples/ml-protocol-examples/javascript/redis_ml.js
  orbit-examples/ml-protocol-examples/python/postgresql_ml.py
  orbit-examples/ml-protocol-examples/python/redis_ml.py
  orbit-examples/ml-protocol-examples/python/rest_ml.py
  orbit-examples/ml-protocol-examples/sql/ml_inference.sql
  orbit-examples/ml-protocol-examples/sql/ml_training.sql
  orbit-examples/ml-protocol-examples/sql/ml_vectors.sql
  tests/bdd/features/ml_protocol_integration.feature
Due: none

fix(operator): update kube-runtime to 0.99 API compatibility
  Cargo.lock
  orbit/operator/Cargo.toml
  orbit/operator/src/cluster_controller.rs
Due: clippy, cargo-audit

style: apply rustfmt to vector_engine.rs tests
  orbit/server/src/protocols/postgres_wire/vector_engine.rs
Due: clippy

feat: enhance test runner with server startup and auto-dependency install
  orbit-compatibility/README.md
  orbit-compatibility/run_tests.py
Due: none

docs: update changelog with ML protocol integration entry
  docs/content/development/CHANGELOG.md
Due: none

fix(storage): add RocksDB column family migration support
  orbit/server/src/protocols/common/storage/tiered.rs
  orbit/server/src/protocols/persistence/rocksdb_redis_provider.rs
Due: clippy

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
