Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

feat: Complete Kubernetes deployment optimization with GPU support
  .github/workflows/k8s-container-pipeline.yml
  README-K8S-DEPLOYMENT.md
  docs/k8s-deployment-sizing-guide.md
  helm/orbit-rs/values-enterprise.yaml
  helm/orbit-rs/values-small.yaml
  orbit-compute/src/errors.rs
  orbit-compute/src/gpu.rs
  scripts/validate-k8s-deployments.sh
Due: clippy

fix: Resolve GitHub Pages code block formatting issues
  docs/development/development.md
  docs/features/transaction_features.md
  docs/protocols/protocol_adapters.md
  docs/quick_start.md
Due: none

docs: Add comprehensive compute acceleration guide and workload documentation
  README-K8S-DEPLOYMENT.md
  docs/COMPUTE_ACCELERATION_GUIDE.md
Due: none

docs: Fix broken links in quick_start.md Next Steps section
  docs/quick_start.md
Due: none

docs: Fix GitHub Pages links and add missing content
  docs/api/index.md
  docs/index.md
  docs/legal/privacy/index.md
  docs/legal/terms/index.md
  docs/support/index.md
Due: none

feat: Add comprehensive geospatial enhancement proposal
  docs/GEOSPATIAL_ENHANCEMENT_PROPOSAL.md
Due: none

docs: Add comprehensive RFC for Multi-Protocol Geospatial Data Support
  docs/rfc/rfc_geospatial_multi_protocol.md
Due: none

feat: Implement comprehensive multi-protocol geospatial support (Phase 1)
  Cargo.lock
  orbit-shared/Cargo.toml
  orbit-shared/src/lib.rs
  orbit-shared/src/spatial/crs.rs
  orbit-shared/src/spatial/functions.rs
  orbit-shared/src/spatial/geometry.rs
  orbit-shared/src/spatial/gpu.rs
  orbit-shared/src/spatial/index.rs
  orbit-shared/src/spatial/mod.rs
  orbit-shared/src/spatial/operations.rs
  orbit-shared/src/spatial/streaming.rs
Due: clippy, cargo-audit

feat: Complete OrbitQL executor implementation with full spatial support
  orbit-compute/src/errors.rs
  orbit-protocols/src/arangodb/aql_spatial.rs
  orbit-protocols/src/arangodb/mod.rs
  orbit-protocols/src/lib.rs
  orbit-protocols/src/neo4j/cypher_spatial.rs
  orbit-protocols/src/neo4j/mod.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-protocols/src/orbitql/mod.rs
  orbit-protocols/src/postgres_wire/spatial_functions.rs
  orbit-protocols/src/resp/SPATIAL_README.md
  orbit-protocols/src/resp/mod.rs
  orbit-protocols/src/resp/spatial_commands.rs
  orbit-shared/src/lib.rs
  orbit-shared/src/orbitql/ast.rs
  orbit-shared/src/orbitql/mod.rs
  orbit-shared/src/orbitql/spatial.rs
Due: clippy

feat: Add comprehensive competitive analysis and strategic RFCs
  docs/rfc/COMPETITIVE_ANALYSIS.md
  docs/rfc/RFC-001-COLUMNAR_ANALYTICS_ENGINE.md
  docs/rfc/RFC-002-UNIFIED_MULTIMODAL_QUERY_ENGINE.md
  docs/rfc/RFC-003-EDGE_NATIVE_ARCHITECTURE.md
  docs/rfc/RFC-004-AI_NATIVE_DATABASE_FEATURES.md
Due: none

feat: Add comprehensive competitive analysis RFCs
  docs/rfc/ORBIT_RS_FEATURE_CATALOG.md
  docs/rfc/RFC-005-VIRTUAL_ACTOR_SYSTEM.md
  docs/rfc/RFC-006-MULTI_PROTOCOL_ADAPTERS.md
  docs/rfc/RFC-007-DISTRIBUTED_TRANSACTIONS.md
  docs/rfc/RFC-008-GRAPH_DATABASE_CAPABILITIES.md
  docs/rfc/RFC-009-VECTOR_DATABASE_CAPABILITIES.md
  docs/rfc/RFC-010-TIME_SERIES_ENGINE.md
  docs/rfc/RFC-011-STORAGE_BACKEND_ARCHITECTURE.md
  docs/rfc/RFC-012-QUERY_LANGUAGES.md
  docs/rfc/RFC-013-PERSISTENCE_DURABILITY.md
  docs/rfc/RFC-014-SECURITY_AUTHENTICATION.md
Due: none

feat: Add comprehensive strategic planning documentation
  docs/planning/EXECUTIVE_SUMMARY.md
  docs/planning/README.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
  docs/planning/roadmap/STRATEGIC_ROADMAP_2025-2026.md
  docs/rfcs/RFC-012-kubernetes-cloud-native.md
Due: none

refactor: Move RFC files from docs/rfc/ to docs/rfcs/ directory
  docs/COMPUTE_ACCELERATION_GUIDE.md
  docs/features.md
  docs/rfcs/COMPETITIVE_ANALYSIS.md
  docs/rfcs/ORBIT_RS_FEATURE_CATALOG.md
  docs/rfcs/README.md
  docs/rfcs/RFC-001-COLUMNAR_ANALYTICS_ENGINE.md
  docs/rfcs/RFC-002-UNIFIED_MULTIMODAL_QUERY_ENGINE.md
  docs/rfcs/RFC-003-EDGE_NATIVE_ARCHITECTURE.md
  docs/rfcs/RFC-004-AI_NATIVE_DATABASE_FEATURES.md
  docs/rfcs/RFC-005-VIRTUAL_ACTOR_SYSTEM.md
  docs/rfcs/RFC-006-MULTI_PROTOCOL_ADAPTERS.md
  docs/rfcs/RFC-007-DISTRIBUTED_TRANSACTIONS.md
  docs/rfcs/RFC-008-GRAPH_DATABASE_CAPABILITIES.md
  docs/rfcs/RFC-009-VECTOR_DATABASE_CAPABILITIES.md
  docs/rfcs/RFC-010-TIME_SERIES_ENGINE.md
  docs/rfcs/RFC-011-STORAGE_BACKEND_ARCHITECTURE.md
  docs/rfcs/RFC-012-QUERY_LANGUAGES.md
  docs/rfcs/RFC-013-PERSISTENCE_DURABILITY.md
  docs/rfcs/RFC-014-SECURITY_AUTHENTICATION.md
  docs/rfcs/RFC_ACTOR_MEMORY_INTEGRATION.md
  docs/rfcs/RFC_MMAP_ARCHITECTURE.md
  docs/rfcs/RFC_PERSISTENCE_ALTERNATIVES.md
  docs/rfcs/rfc_geospatial_multi_protocol.md
  docs/rfcs/rfc_heterogeneous_compute.md
Due: none

feat: Add comprehensive Digital Ocean deployment support with GPU and Spaces integration
  .github/workflows/digitalocean-deploy.yml
  config/deployment-config.yaml
  deploy/config/deployment-config.yaml
  deploy/examples/digitalocean-droplets-config.yaml
  deploy/examples/digitalocean-spaces-config.toml
  deploy/scripts/gpu-droplet-init.sh
  deploy/scripts/standard-droplet-init.sh
  docs/CHANGELOG.md
  docs/deployment/DIGITAL_OCEAN.md
  orbit-server/src/persistence/cloud.rs
  orbit-server/src/persistence/config.rs
  orbit-server/src/persistence/mod.rs
Due: clippy

feat: Add comprehensive AMD EPYC processor support and enhanced compute capabilities
  deploy/examples/aws-gpu-deployment.yaml
  deploy/examples/azure-gpu-deployment.yaml
  deploy/examples/digitalocean-droplets-config.yaml
  docs/deployment/CLOUD_GPU_SUPPORT_ANALYSIS.md
  docs/deployment/GPU_ARCHITECTURE_SUPPORT.md
  orbit-compute/src/capabilities.rs
  orbit-server/src/persistence/config.rs
  orbit-server/src/persistence/mod.rs
Due: clippy

docs: Fix documentation links and enhance professional styling
  docs/_config.yml
  docs/assets/css/custom.css
  docs/index.md
  docs/project_overview.md
Due: none

docs: Add comprehensive navigation for orbit-compute hardware acceleration
  docs/COMPUTE_ACCELERATION_GUIDE.md
  docs/_config.yml
  docs/features.md
  docs/index.md
  docs/overview.md
  docs/rfcs/rfc_heterogeneous_compute.md
Due: none

docs: Fix broken links and enhance community infrastructure
  .github/COMMUNITY_SETUP.md
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CODE_OF_CONDUCT.md
  docs/index.md
Due: none

docs: Fix broken relative path links in COMPUTE_ACCELERATION_GUIDE.md
  docs/COMPUTE_ACCELERATION_GUIDE.md
Due: none

docs: Fix all broken links in project_overview.md Documentation Index
  docs/project_overview.md
Due: none

docs: Enhance Documentation Index to match user expectations
  docs/project_overview.md
Due: none

docs: Fix all broken links in roadmap.md navigation and content
  docs/roadmap.md
Due: none

ci: Fix Kubernetes container pipeline to only run on relevant changes
  .github/workflows/k8s-container-pipeline.yml
Due: none

feat(phase-9): Implement query optimization Phase 9.1, 9.2, and 9.3
  orbit-shared/src/orbitql/cost_based_planner.rs
  orbit-shared/src/orbitql/cost_model.rs
  orbit-shared/src/orbitql/index_selection.rs
  orbit-shared/src/orbitql/mod.rs
  orbit-shared/src/orbitql/optimizer.rs
  orbit-shared/src/orbitql/statistics.rs
Due: clippy

feat: Complete Phase 9 - Query Optimization Implementation
  orbit-shared/src/orbitql/benchmark.rs
  orbit-shared/src/orbitql/index_recommendation.rs
  orbit-shared/src/orbitql/mod.rs
  orbit-shared/src/orbitql/parallel_execution.rs
  orbit-shared/src/orbitql/query_cache.rs
  orbit-shared/src/orbitql/vectorized_execution.rs
Due: clippy

docs: Add comprehensive RFC for ML and Deep Learning integration
  docs/RFC-ML-DEEP-LEARNING-INTEGRATION.md
Due: none

feat: Add comprehensive ML/DL framework foundation for Orbit
  Cargo.lock
  Cargo.toml
  orbit-ml/Cargo.toml
  orbit-ml/src/config.rs
  orbit-ml/src/data.rs
  orbit-ml/src/engine/builder.rs
  orbit-ml/src/engine/factory.rs
  orbit-ml/src/engine/manager.rs
  orbit-ml/src/engine/mod.rs
  orbit-ml/src/engine/scheduler.rs
  orbit-ml/src/error.rs
  orbit-ml/src/graph_neural_networks/mod.rs
  orbit-ml/src/industry_models/mod.rs
  orbit-ml/src/inference.rs
  orbit-ml/src/lib.rs
  orbit-ml/src/metrics.rs
  orbit-ml/src/models.rs
  orbit-ml/src/multi_language/mod.rs
  orbit-ml/src/neural_networks/mod.rs
  orbit-ml/src/sql_extensions/mod.rs
  orbit-ml/src/sql_extensions/sql_functions.rs
  orbit-ml/src/training.rs
  orbit-ml/src/transformers/mod.rs
  orbit-ml/src/utils.rs
Due: clippy, cargo-audit

fix: Add Send + Sync bounds to OptimizationRule trait
  orbit-shared/src/orbitql/optimizer.rs
Due: clippy

Apply cargo fix to orbit-shared
  orbit-ml/src/neural_networks/feedforward.rs
  orbit-ml/src/neural_networks/optimizers.rs
  orbit-ml/src/transformers/attention.rs
  orbit-ml/src/transformers/mod.rs
  orbit-ml/src/transformers/positional_encoding.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
  orbit-shared/src/orbitql/ast.rs
  orbit-shared/src/orbitql/benchmark.rs
  orbit-shared/src/orbitql/comprehensive_benchmark.rs
  orbit-shared/src/orbitql/cost_based_planner.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/orbitql/index_selection.rs
  orbit-shared/src/orbitql/optimizer.rs
  orbit-shared/src/orbitql/parallel_execution.rs
  orbit-shared/src/orbitql/production_deployment.rs
  orbit-shared/src/orbitql/query_cache.rs
  orbit-shared/src/orbitql/spatial.rs
  orbit-shared/src/orbitql/statistics.rs
  orbit-shared/src/orbitql/storage_integration.rs
  orbit-shared/src/orbitql/vectorized_execution.rs
Due: clippy

Fix configuration and naming convention warnings
  orbit-compute/src/capabilities.rs
  orbit-shared/src/spatial/gpu.rs
Due: clippy

Fix code quality issues: patterns, assignments, and shadows
  orbit-client-spring/src/config.rs
  orbit-ml/src/transformers/mod.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-server-prometheus/src/config.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
  orbit-shared/src/orbitql/benchmark.rs
  orbit-shared/src/orbitql/index_selection.rs
Due: clippy

Fix unused variable warnings in orbit-shared
  orbit-shared/src/orbitql/advanced_analytics.rs
  orbit-shared/src/orbitql/benchmark.rs
  orbit-shared/src/orbitql/comprehensive_benchmark.rs
  orbit-shared/src/orbitql/parallel_execution.rs
Due: clippy

fix: resolve major unused variable warnings (45+ warnings fixed)
  orbit-ml/src/neural_networks/convolutional.rs
  orbit-ml/src/neural_networks/feedforward.rs
  orbit-ml/src/neural_networks/gru.rs
  orbit-ml/src/neural_networks/lstm.rs
  orbit-ml/src/neural_networks/recurrent.rs
  orbit-ml/src/transformers/mod.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
  orbit-shared/src/orbitql/cost_based_planner.rs
  orbit-shared/src/orbitql/storage_integration.rs
Due: clippy

fix: clean remaining unused variables and imports (25 warnings fixed)
  orbit-ml/src/transformers/attention.rs
  orbit-protocols/src/neo4j/cypher_spatial.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-shared/src/orbitql/benchmark.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/orbitql/parallel_execution.rs
  orbit-shared/src/orbitql/statistics.rs
Due: clippy

fix: suppress dead code warnings with #[allow(dead_code)] (21 warnings fixed)
  orbit-client-spring/src/grpc_server.rs
  orbit-client-spring/src/http_server.rs
  orbit-client-spring/src/integration.rs
  orbit-ml/src/neural_networks/feedforward.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
  orbit-shared/src/orbitql/distributed_execution.rs
  orbit-shared/src/orbitql/storage_integration.rs
Due: clippy

feat: add comprehensive documentation + fix final unused code (70 warnings fixed)
  orbit-ml/src/error.rs
  orbit-ml/src/transformers/mod.rs
  orbit-protocols/src/arangodb/aql_spatial.rs
  orbit-shared/src/orbitql/index_recommendation.rs
  orbit-shared/src/orbitql/storage_integration.rs
Due: clippy

feat(docs): Major documentation improvements and dead code cleanup
  orbit-ml/src/engine/mod.rs
  orbit-ml/src/neural_networks/mod.rs
  orbit-ml/src/transformers/attention.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
Due: clippy
