Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

feat(cli,desktop): extend CLI and desktop app with new protocol support
  orbit/cli/src/main.rs
  orbit/desktop/src-tauri/Cargo.lock
  orbit/desktop/src-tauri/Cargo.toml
  orbit/desktop/src-tauri/src/connections.rs
  orbit/desktop/src-tauri/src/queries.rs
  orbit/desktop/src-tauri/src/storage.rs
Due: clippy, cargo-audit

feat(postgres): implement utility commands parser
  orbit/cli/src/main.rs
  orbit/desktop/src-tauri/build.rs
  orbit/desktop/src-tauri/src/connections.rs
  orbit/desktop/src-tauri/src/encryption.rs
  orbit/desktop/src-tauri/src/main.rs
  orbit/desktop/src-tauri/src/models.rs
  orbit/desktop/src-tauri/src/queries.rs
  orbit/desktop/src-tauri/src/storage.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utility_commands.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy

feat(postgres): implement TCL and additional utility commands
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utility_commands.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy

feat(postgres): implement two-phase commit and DCL commands
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/tcl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utility_commands.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy

feat(cli): improve query handling and error messages
  orbit-examples/README.md
  orbit/cli/src/main.rs
  orbit/server/src/fts/query_parser.rs
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/error.rs
  orbit/server/src/protocols/flight/server.rs
  orbit/server/src/protocols/mysql/fts.rs
  orbit/server/src/protocols/orbitwire/codec.rs
  orbit/server/src/protocols/orbitwire/frame.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/orbitwire/session.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/cardinality.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utility_commands.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  orbit/server/src/protocols/resp/commands/vector.rs
Due: clippy

feat(fts): implement full-text search across MySQL and CQL protocols
  orbit/server/src/protocols/cql/fts.rs
  orbit/server/src/protocols/cql/mod.rs
  orbit/server/src/protocols/mysql/fts.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy

Add comprehensive travel booking platform examples
  orbit-examples/travel/README.md
  orbit-examples/travel/mongodb/01_travel_packages.js
  orbit-examples/travel/python/01_flight_booking.py
  orbit-examples/travel/redis/01_search_cache.redis
  orbit-examples/travel/redis/02_pricing_engine.redis
  orbit-examples/travel/redis/03_loyalty_points.redis
  orbit-examples/travel/sql/01_schema_flights.sql
  orbit-examples/travel/sql/02_schema_hotels.sql
  orbit-examples/travel/sql/03_schema_cars.sql
  orbit-examples/travel/sql/04_schema_packages.sql
Due: none

docs(changelog): add cross-protocol full-text search entry
  docs/content/development/CHANGELOG.md
Due: none

fix: resolve merge conflict artifacts in multiple files
  orbit/cli/src/main.rs
  orbit/server/src/protocols/flight/server.rs
  orbit/server/src/protocols/mysql/fts.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy

fix merge issues (#347)
  orbit/cli/src/main.rs
  orbit/server/src/protocols/flight/server.rs
  orbit/server/src/protocols/mysql/fts.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
Due: clippy

feat(postgres): Implement PostgreSQL JSON functions (Phase 1 + Phase 4)
  orbit/cli/src/main.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/orbitwire/session.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/json.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement missing arithmetic operators
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement missing comparison operators
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/cardinality.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement OID and Domain types
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement bitwise and statistical aggregate functions
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement 17 PostgreSQL array functions
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement advanced string and regex functions
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement 13 PostgreSQL date/time functions
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement statistical aggregate functions
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

docs: Update protocol status and compatibility specifications
  specifications/protocols/ANSI_SQL_COMPATIBILITY.md
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: none

docs: Mark additional window functions as complete in POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: none

feat(js): Implement JavaScript runtime support for protocols
  Cargo.lock
  orbit/server/Cargo.toml
  orbit/server/src/js/boa_runtime.rs
  orbit/server/src/js/mod.rs
  orbit/server/src/js/quickjs_runtime.rs
  orbit/server/src/js/security.rs
  orbit/server/src/js/types.rs
  orbit/server/src/lib.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
Due: clippy, cargo-audit

Implement OrbitQL aggregates (ARRAY_AGG, STRING_AGG) and update AQL compatibility spec
  orbit/server/src/fts/query_parser.rs
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/cql/fts.rs
  orbit/server/src/protocols/mysql/fts.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/json.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  orbit/server/src/protocols/resp/commands/vector.rs
  orbit/shared/src/orbitql/ast.rs
  orbit/shared/src/orbitql/executor.rs
  orbit/shared/src/orbitql/optimizer.rs
  orbit/shared/src/orbitql/parser.rs
  orbit/shared/src/orbitql/planner.rs
  specifications/protocols/ARANGODB_AQL_COMPATIBILITY.md
  specifications/protocols/ORBITQL_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy

Javascript language support (#348)
  Cargo.lock
  orbit/cli/src/main.rs
  orbit/server/Cargo.toml
  orbit/server/src/fts/query_parser.rs
  orbit/server/src/js/boa_runtime.rs
  orbit/server/src/js/mod.rs
  orbit/server/src/js/quickjs_runtime.rs
  orbit/server/src/js/security.rs
  orbit/server/src/js/types.rs
  orbit/server/src/lib.rs
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/cql/fts.rs
  orbit/server/src/protocols/mysql/fts.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/orbitwire/session.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/json.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/cardinality.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  orbit/server/src/protocols/resp/commands/vector.rs
  orbit/shared/src/orbitql/ast.rs
  orbit/shared/src/orbitql/executor.rs
  orbit/shared/src/orbitql/optimizer.rs
  orbit/shared/src/orbitql/parser.rs
  orbit/shared/src/orbitql/planner.rs
  specifications/protocols/ANSI_SQL_COMPATIBILITY.md
  specifications/protocols/ARANGODB_AQL_COMPATIBILITY.md
  specifications/protocols/ORBITQL_COMPATIBILITY.md
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy, cargo-audit

feat(orbitql): Add industry examples and enhance parser
  orbit-examples/PROTOCOL_COMPARISON.md
  orbit-examples/healthcare/orbitql/01_clinical_queries.orbitql
  orbit-examples/logistics/orbitql/01_supply_chain_queries.orbitql
  orbit-examples/media/orbitql/01_content_queries.orbitql
  orbit/server/src/protocols/orbitql/executor.rs
  orbit/shared/src/orbitql/ast.rs
  orbit/shared/src/orbitql/lexer.rs
  orbit/shared/src/orbitql/parser.rs
Due: clippy

docs: Add protocol comparison whitepaper and data center examples
  docs/whitepapers/OrbitRS_Protocol_Comparison_Whitepaper.html
  docs/whitepapers/OrbitRS_Protocol_Comparison_Whitepaper.md
  docs/whitepapers/OrbitRS_Protocol_Comparison_Whitepaper.pdf
  orbit-examples/data_center/README.md
  orbit-examples/data_center/cql/01_environmental_telemetry.cql
  orbit-examples/data_center/cypher/01_network_topology.cypher
  orbit-examples/data_center/redis/01_realtime_alerts.redis
  orbit-examples/data_center/sql/01_asset_management.sql
  orbit-examples/data_center/workflows/01_predictive_maintenance.md
  orbit-examples/data_center/workflows/02_orbital_data_offload.md
  orbit-examples/healthcare/README.md
  orbit-examples/telco/README.md
  orbit-examples/telco/workflows/03_add_line.md
Due: none

feat(redis): implement 13 sorted set commands + OrbitQL function/procedure parsing
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/resp/actors.rs
  orbit/server/src/protocols/resp/commands/sorted_set.rs
  orbit/server/src/protocols/resp/simple_local.rs
  orbit/shared/src/orbitql/lexer.rs
  orbit/shared/src/orbitql/parser.rs
  specifications/protocols/ORBITQL_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
  specifications/protocols/REDIS_COMPATIBILITY.md
Due: clippy

fix: resolve clippy warnings and fix OrbitQL parser
  orbit/server/src/protocols/common/fts.rs
  orbit/server/src/protocols/postgres_wire/sql/graph_traversal.rs
  orbit/shared/src/orbitql/ast.rs
  orbit/shared/src/orbitql/parser.rs
  orbit/shared/src/spatial/functions.rs
Due: clippy

remove temporary files
  .gitignore
  devdata/cql/rocksdb/CURRENT
  devdata/cql/rocksdb/IDENTITY
  devdata/cql/rocksdb/LOCK
  devdata/cql/rocksdb/LOG
  devdata/cql/rocksdb/OPTIONS-000007
  devdata/mysql/rocksdb/CURRENT
  devdata/mysql/rocksdb/IDENTITY
  devdata/mysql/rocksdb/LOCK
  devdata/mysql/rocksdb/LOG
  devdata/mysql/rocksdb/OPTIONS-000007
  devdata/postgresql/rocksdb/CURRENT
  devdata/postgresql/rocksdb/IDENTITY
  devdata/postgresql/rocksdb/LOCK
  devdata/postgresql/rocksdb/LOG
  devdata/postgresql/rocksdb/OPTIONS-000007
  devdata/redis/rocksdb/CURRENT
  devdata/redis/rocksdb/IDENTITY
  devdata/redis/rocksdb/LOCK
  devdata/redis/rocksdb/LOG
  devdata/redis/rocksdb/OPTIONS-000007
  devdata/rocksdb/CURRENT
  devdata/rocksdb/IDENTITY
  devdata/rocksdb/LOCK
  devdata/rocksdb/LOG
  devdata/rocksdb/OPTIONS-000007
Due: none

fix: resolve clippy errors and reduce warnings
  orbit/cli/src/main.rs
  orbit/server/src/fts/query_parser.rs
  orbit/server/src/protocols/common/fts.rs
  orbit/server/src/protocols/common/graph_algorithms.rs
  orbit/server/src/protocols/cql/fts.rs
  orbit/server/src/protocols/cql/graph.rs
  orbit/server/src/protocols/cql/spatial.rs
  orbit/server/src/protocols/cql/types.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/flight/codec.rs
  orbit/server/src/protocols/flight/server.rs
  orbit/server/src/protocols/mongodb/graph.rs
  orbit/server/src/protocols/mongodb/protocol.rs
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mongodb/spatial.rs
  orbit/server/src/protocols/mysql/adapter.rs
  orbit/server/src/protocols/mysql/fts.rs
  orbit/server/src/protocols/orbitwire/codec.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/orbitwire/values.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/graph_traversal.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utility_commands.rs
  orbit/server/src/protocols/resp/actors.rs
  orbit/server/src/protocols/resp/codec.rs
  orbit/server/src/protocols/resp/commands/vector.rs
  orbit/server/src/protocols/resp/types.rs
Due: clippy

docs: Update FTS, Redis, and PostgreSQL documentation
  docs/content/features/full-text-search.md
  docs/content/protocols/postgresql.md
  docs/content/protocols/redis.md
Due: none

test: Fix test failures in FTS query parser and graph traversal
  orbit/server/src/fts/query_parser.rs
  orbit/server/src/protocols/postgres_wire/sql/graph_traversal.rs
Due: clippy

Implement ZTNA mTLS support across all protocol servers
  Cargo.lock
  docs/content/deployment/LOAD_BALANCING.md
  docs/content/protocols/postgresql.md
  docs/content/security/ZTNA.md
  orbit/server/Cargo.toml
  orbit/server/src/bin/orbit-lb.rs
  orbit/server/src/config.rs
  orbit/server/src/lib.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/aql/http_server.rs
  orbit/server/src/protocols/aql/server.rs
  orbit/server/src/protocols/arangodb/http_server.rs
  orbit/server/src/protocols/common/fts.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql_server.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/server.rs
  orbit/server/src/protocols/mod.rs
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mysql/adapter.rs
  orbit/server/src/protocols/mysql_server.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/postgres_server.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/resp_server.rs
  orbit/server/src/protocols/tls.rs
  orbit/server/src/server.rs
  orbit/server/src/tcp_proxy.rs
  orbit/server/tests/lb_tls_test.rs
  orbit/server/tests/tls_test.rs
  orbit/server/tests/tls_verification.rs
Due: clippy, cargo-audit

feat(fts): Implement unified FTS engine with configurable backend
  config/orbit-server.toml
  orbit/server/src/fts/query_parser.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/aql/http_server.rs
  orbit/server/src/protocols/aql/server.rs
  orbit/server/src/protocols/arangodb/http_server.rs
  orbit/server/src/protocols/common/fts.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql_server.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/server.rs
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mysql/adapter.rs
  orbit/server/src/protocols/mysql_server.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/postgres_server.rs
  orbit/server/src/protocols/resp_server.rs
  orbit/server/src/protocols/tls.rs
  orbit/server/src/server.rs
  orbit/server/src/tcp_proxy.rs
  orbit/server/tests/lb_tls_test.rs
  orbit/server/tests/tls_test.rs
  orbit/server/tests/tls_verification.rs
Due: clippy

documentation updates
  docs/content/gpu-compute/GPU_ACCELERATION.md
  docs/content/graph-rag/GRAPHRAG_GUIDE.md
  docs/content/mcp/MCP_GUIDE.md
  docs/content/ml/AI_ML_GUIDE.md
  docs/content/protocols/PROTOCOL_OVERVIEW.md
  docs/content/rfcs/RFC_INDEX.md
  docs/content/server/SERVER_GUIDE.md
Due: none

docs: update CHANGELOG with mTLS, JavaScript runtime, and PostgreSQL 18 features
  docs/content/development/CHANGELOG.md
Due: none

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
