Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

fix(mongodb): fix compilation errors in MongoDB protocol
  orbit/server/src/protocols/mod.rs
  orbit/server/src/protocols/mongodb/mod.rs
  orbit/server/src/protocols/mongodb/protocol.rs
  orbit/server/src/protocols/mongodb/server.rs
Due: clippy

fix(mongodb): Handle lowercase 'ismaster' command from PyMongo clients
  orbit/server/src/protocols/mongodb/server.rs
Due: clippy

feat(protocols): improve PostgreSQL, CQL, Cypher, and AQL compatibility
  .gitignore
  Cargo.lock
  orbit-compatibility/mongodb/requirements.txt
  orbit-compatibility/pci_report.json
  orbit-compatibility/postgresql/pgvector_check.py
  orbit-compatibility/redis/compatibility_check.py
  orbit-compatibility/run_tests.py
  orbit/server/Cargo.toml
  orbit/server/src/main.rs
  orbit/server/src/protocols/aql/http_server.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql/protocol.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/mcp/integration.rs
  orbit/server/src/protocols/mysql/mod.rs
  orbit/server/src/protocols/postgres_server.rs
  orbit/server/src/protocols/postgres_wire/persistent_storage.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  orbit/server/src/server.rs
  orbit/shared/src/error.rs
  pci_report.json
Due: clippy, cargo-audit

chore: fix unused import and variable warnings
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/mongodb/protocol.rs
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
Due: clippy

fix(client): add Redis mock handlers and change fallback to NO_IMPL
  orbit/client/src/invocation.rs
  orbit/client/src/proxy.rs
  orbit/server/src/protocols/mongodb/protocol.rs
Due: clippy

chore: suppress dead_code warnings for planned actor CRUD methods
  orbit/server/src/protocols/postgres_wire/query_engine.rs
Due: clippy

fix(client): correct lpop/rpop mock return type to Vec
  orbit/client/src/invocation.rs
Due: clippy

docs: update changelog with Redis persistence fixes
  docs/content/development/CHANGELOG.md
Due: none

feat(postgres): Implement JSONB operators with correct parser precedence
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
Due: clippy

feat(postgres): Add vector type support with parsing and casting
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
Due: clippy

feat(postgres): Fix window frame BETWEEN parsing
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
Due: clippy

feat(postgres): complete PostgreSQL syntax support features
  orbit/server/Cargo.toml
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql/protocol.rs
  orbit/server/src/protocols/mcp/integration.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/mvcc_executor.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/costs.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/planner.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  pci_report.json
  tests/orbit-compatibility/postgresql/array_check.py
  tests/orbit-compatibility/postgresql/function_check.py
  tests/orbit-compatibility/run_tests.py
Due: clippy, cargo-audit

fix: remove unused imports and prefix unused variables
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
Due: clippy

test: mark slow time series model tests as ignored
  orbit/ml/src/industry_models/cross_cutting_horizontal/time_series_models.rs
Due: clippy

feat(postgres): fix SQL parser for compound queries, JOINs, and array expressions
  create_bucket.py
  create_minio_bucket.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/costs.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/planner.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
Due: clippy

docs: reorganize planning docs and add protocol specifications
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/index.md
  docs/overview.md
  docs/project_overview.md
  docs/quick_start.md
  orbit-examples/ml-protocol-examples/QUICK_START.md
  orbit-examples/ml-protocol-examples/README.md
  speifications/PRD.md
  speifications/planning/EXECUTIVE_SUMMARY.md
  speifications/planning/PHASE_09_IMPLEMENTATION_PLAN.md
  speifications/planning/README.md
  speifications/planning/backlog/BACKLOG_PRIORITY_UPDATE.md
  speifications/planning/backlog/GRAPH_AI_ANALYTICS.md
  speifications/planning/backlog/NEO4J_BOLT_PROTOCOL.md
  speifications/planning/backlog/REALTIME_LIVE_QUERIES.md
  speifications/planning/backlog/SCHEMA_FLEXIBILITY.md
  speifications/planning/backlog/UNIFIED_MULTI_MODEL_QUERY.md
  speifications/planning/competitive/COMPETITIVE_POSITIONING.md
  speifications/planning/features/transaction_features.md
  speifications/planning/phases/phase-09-query-optimization.md
  speifications/planning/phases/phase-10-production-readiness.md
  speifications/planning/roadmap/STRATEGIC_ROADMAP_2025-2026.md
  speifications/protocols/grammars-v4/aql/README.md
  speifications/protocols/grammars-v4/athena/README.md
  speifications/protocols/grammars-v4/cql3/README.md
  speifications/protocols/grammars-v4/cypher/README.md
  speifications/protocols/grammars-v4/lua/README.md
  speifications/protocols/grammars-v4/mariadb/README.md
  speifications/protocols/grammars-v4/mysql/README.md
  speifications/protocols/grammars-v4/postgresql/README.md
  speifications/protocols/grammars-v4/redis/README.md
  speifications/protocols/mysql-mariadb-reference-rust.md
  speifications/protocols/mysql950-reference-rust.md
  speifications/protocols/postgresql18-reference-c.md
  speifications/protocols/postgresql18-reference-rust.md
  tests/README.md
  tests/create_bucket.py
  tests/create_minio_bucket.rs
Due: clippy

docs: update planning docs and add protocol grammar references
  speifications/planning/PHASE_09_IMPLEMENTATION_PLAN.md
  speifications/planning/README.md
  speifications/planning/backlog/BACKLOG_PRIORITY_UPDATE.md
  speifications/planning/backlog/GRAPH_AI_ANALYTICS.md
  speifications/planning/backlog/NEO4J_BOLT_PROTOCOL.md
  speifications/planning/backlog/REALTIME_LIVE_QUERIES.md
  speifications/planning/backlog/UNIFIED_MULTI_MODEL_QUERY.md
  speifications/planning/features/transaction_features.md
  speifications/planning/phases/phase-09-query-optimization.md
  speifications/protocols/arangodb_aql_reference.md
  speifications/protocols/cql-protocol-reference.md
  speifications/protocols/grammars-v4/aql/README.md
  speifications/protocols/grammars-v4/athena/README.md
  speifications/protocols/grammars-v4/cql3/README.md
  speifications/protocols/grammars-v4/cypher/README.md
  speifications/protocols/grammars-v4/lua/README.md
  speifications/protocols/grammars-v4/mariadb/README.md
  speifications/protocols/grammars-v4/mysql/README.md
  speifications/protocols/grammars-v4/postgresql/README.md
  speifications/protocols/grammars-v4/redis/README.md
  speifications/protocols/neo4j_cypher_protocol_reference.md
  speifications/protocols/redis-resp-protocol-specification.md
  u00261
Due: none

feat(protocols): implement RESP3 types and update protocol specs
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/cql/mod.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/mysql/packet.rs
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/resp/codec.rs
  orbit/server/src/protocols/resp/types.rs
Due: clippy

feat(protocols): implement comprehensive protocol coverage from ANTLR4 grammar analysis
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/aql/mod.rs
  orbit/server/src/protocols/aql/tests.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql/parser.rs
  orbit/server/src/protocols/cypher/db_procedures.rs
  orbit/server/src/protocols/cypher/graph_algorithms_procedures.rs
  orbit/server/src/protocols/cypher/mod.rs
  orbit/server/src/protocols/mysql/adapter.rs
  orbit/server/src/protocols/mysql/protocol.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  orbit/server/src/protocols/resp/actors.rs
  orbit/server/src/protocols/resp/commands/acl.rs
  orbit/server/src/protocols/resp/commands/functions.rs
  orbit/server/src/protocols/resp/commands/mod.rs
  orbit/server/src/protocols/resp/commands/stream.rs
  orbit/server/src/protocols/resp/simple_local.rs
Due: clippy

document update
  README.md
Due: none

docs: update documentation for 9 native protocols
  README.md
  docs/content/protocols/PROTOCOL_STATUS.md
  docs/content/roadmap/PROJECT_STATUS.md
  docs/features.md
Due: none

feat(resp): add missing RESP commands and unit tests
  orbit/server/src/protocols/postgres_wire/sql/index_advisor.rs
  orbit/server/src/protocols/postgres_wire/sql/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/cardinality.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/cost_router.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parallel_executor.rs
  orbit/server/src/protocols/postgres_wire/sql/plan_cache.rs
  orbit/server/src/protocols/postgres_wire/sql/query_cache.rs
  orbit/server/src/protocols/postgres_wire/sql/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/statistics.rs
  orbit/server/src/protocols/postgres_wire/sql/vectorized_executor.rs
  orbit/server/src/protocols/resp/commands/graph.rs
  orbit/server/src/protocols/resp/commands/time_series.rs
  orbit/server/src/protocols/resp/commands/vector.rs
  speifications/protocols/mongodb-wire-protocol-reference.md
  tests/integration/test_vector_commands.py
  tests/run_integration_tests.py
  tests/src/lib.rs
Due: clippy

docs: update feature status matrix with realistic test counts
  speifications/PRD.md
Due: none

Parsers and Lexers for protocols
  speifications/protocols/grammars-generated/cypher/BoltPackStream.g4
  speifications/protocols/grammars-generated/cypher/CypherLexer.g4
  speifications/protocols/grammars-generated/cypher/CypherParser.g4
  speifications/protocols/grammars-generated/cypher/README.md
  speifications/protocols/grammars-generated/mariadb/MariaDBLexer.g4
  speifications/protocols/grammars-generated/mariadb/MariaDBParser.g4
  speifications/protocols/grammars-generated/mariadb/README.md
  speifications/protocols/grammars-generated/mongo/MongoLexer.g4
  speifications/protocols/grammars-generated/mongo/MongoParser.g4
  speifications/protocols/grammars-generated/mongo/README.md
  speifications/protocols/grammars-generated/mysql/MySQLLexer.g4
  speifications/protocols/grammars-generated/mysql/MySQLParser.g4
  speifications/protocols/grammars-generated/mysql/README.md
Due: none

feat(mongodb,aql): implement MongoDB CRUD and fix AQL PRUNE parsing
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/aql/tests.rs
  orbit/server/src/protocols/mongodb/mod.rs
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mongodb/storage.rs
Due: clippy

feat(resp,cql): add Redis CLUSTER commands and enhance CQL BATCH
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/resp/commands/cluster.rs
  orbit/server/src/protocols/resp/commands/mod.rs
Due: clippy

feat(mongodb): implement comprehensive aggregation pipeline
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mongodb/storage.rs
Due: clippy

feat(cypher): implement APOC procedures library
  orbit/server/src/protocols/cypher/apoc_procedures.rs
  orbit/server/src/protocols/cypher/mod.rs
  speifications/protocols/Protocol-specs/arangodb_aql_reference.md
  speifications/protocols/Protocol-specs/cql-protocol-reference.md
  speifications/protocols/Protocol-specs/mongodb-wire-protocol-reference.md
  speifications/protocols/Protocol-specs/mysql-mariadb-reference-rust.md
  speifications/protocols/Protocol-specs/mysql950-reference-rust.md
  speifications/protocols/Protocol-specs/neo4j_cypher_protocol_reference.md
  speifications/protocols/Protocol-specs/postgresql18-reference-c.md
  speifications/protocols/Protocol-specs/postgresql18-reference-rust.md
  speifications/protocols/Protocol-specs/redis-resp-protocol-specification.md
  speifications/protocols/grammars-generated/cassandra/CqlLexer.g4
  speifications/protocols/grammars-generated/cassandra/CqlParser.g4
  speifications/protocols/grammars-generated/cassandra/README.md
  speifications/protocols/grammars-generated/cassandra/basic_cql.cql
  speifications/protocols/grammars-generated/cassandra/cassandra_5_features.cql
  speifications/protocols/grammars-generated/cassandra/scylladb_extensions.cql
  speifications/protocols/grammars-generated/postgresql/PostgreSQL18Lexer.g4
  speifications/protocols/grammars-generated/postgresql/PostgreSQL18Parser.g4
  speifications/protocols/grammars-generated/postgresql/README.md
Due: clippy

docs: update PRD with comprehensive protocol status matrix
  speifications/PRD.md
Due: none

feat(mongodb): Add 34 expression operators, 2 commands, and 102 comprehensive tests
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mongodb/storage.rs
Due: clippy

docs: Update MongoDB Protocol status to 75% complete with 102 tests
  README.md
Due: none

feat(query-optimization): Add statistics collection and cost-based optimizer
  orbit/engine/src/query/cost_model.rs
  orbit/engine/src/query/mod.rs
  orbit/engine/src/query/statistics.rs
Due: clippy

feat(mongodb): Add 25+ expression operators, 5 aggregation stages, and 15 tests
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mongodb/storage.rs
Due: clippy

feat(cql): Add DESCRIBE, TRIGGER, User statements, LIKE/Token operators, and 11 tests
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql/parser.rs
Due: clippy

feat(mysql): Add 22 tests and MySQL commands (SHOW COLUMNS, SHOW CREATE TABLE, etc.)
  orbit/server/src/protocols/mysql/adapter.rs
Due: clippy

feat(aql): Add AND/OR operators, arithmetic expressions, object shorthand
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/aql/query_engine.rs
Due: clippy

feat(mysql): Add prepared statement cache and batch insert optimization
  orbit/server/src/protocols/mysql/batch_insert.rs
  orbit/server/src/protocols/mysql/mod.rs
  orbit/server/src/protocols/mysql/prepared_cache.rs
Due: clippy

chore: Update ML protocol examples
  orbit-examples/ml-protocol-examples/01_healthcare_ml.sql
  orbit-examples/ml-protocol-examples/02_finance_ml.sql
  orbit-examples/ml-protocol-examples/03_retail_ecommerce_ml.sql
  orbit-examples/ml-protocol-examples/04_manufacturing_iot_ml.sql
  orbit-examples/ml-protocol-examples/05_telecommunications_ml.sql
  orbit-examples/ml-protocol-examples/06_logistics_transportation_ml.sql
  orbit-examples/ml-protocol-examples/07_energy_utilities_ml.sql
  orbit-examples/ml-protocol-examples/08_education_ml.sql
  orbit-examples/ml-protocol-examples/09_legal_compliance_ml.sql
  orbit-examples/ml-protocol-examples/10_media_internet_ml.sql
  orbit-examples/ml-protocol-examples/11_agriculture_environment_ml.sql
  orbit-examples/ml-protocol-examples/12_knowledge_graph_prediction.sql
  orbit-examples/ml-protocol-examples/aql/graph_ml.aql
  orbit-examples/ml-protocol-examples/cypher/graph_ml.cypher
  orbit-examples/ml-protocol-examples/orbitql/graph_ml.orbitql
  orbit-examples/ml-protocol-examples/python/aql_ml.py
  orbit-examples/ml-protocol-examples/python/cypher_ml.py
  orbit-examples/ml-protocol-examples/python/orbitql_ml.py
Due: none
