Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

fix: correct thiserror format string for Timeout variant
  orbit/util/src/test_utils.rs
Due: clippy

fix: resolve all compilation errors across orbit-rs codebase
  orbit/engine/examples/complete_example.rs
  orbit/engine/examples/orbitql_example.rs
  orbit/engine/examples/protocol_adapters.rs
  orbit/engine/src/adapters/orbitql.rs
  orbit/engine/src/addressable.rs
  orbit/engine/src/cluster/recovery.rs
  orbit/engine/src/cluster/transport.rs
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/storage/mod.rs
  orbit/engine/src/transaction_log.rs
  orbit/engine/src/transactions/core.rs
  orbit/engine/src/transactions/locks.rs
  orbit/engine/src/transactions/metrics.rs
  orbit/engine/src/transactions/security.rs
  orbit/proto/src/converters.rs
  orbit/protocols/examples/azure_iceberg_example.rs
  orbit/protocols/examples/create_azurite_container.rs
  orbit/server/examples/persistence_demo.rs
Due: clippy

fix: remove unused StringArray import from iceberg.rs
  orbit/engine/src/storage/iceberg.rs
Due: clippy

fix: remove unused imports and fix StringArray conditional import
  orbit/engine/examples/complete_example.rs
  orbit/engine/examples/orbitql_example.rs
  orbit/engine/examples/protocol_adapters.rs
  orbit/engine/src/adapters/orbitql.rs
  orbit/engine/src/addressable.rs
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/transaction_log.rs
Due: clippy

fix: update all doctests to use correct HybridStorageManager API
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/adapters/postgres.rs
  orbit/engine/src/adapters/redis.rs
  orbit/engine/src/adapters/rest.rs
  orbit/engine/src/lib.rs
Due: clippy

fix: add missing imports to JSONB doctests in orbit-protocols
  orbit/protocols/src/postgres_wire/jsonb/mod.rs
  orbit/protocols/src/postgres_wire/jsonb/operators.rs
Due: clippy

feat: implement warm tier scanning in HybridStorageManager
  orbit/engine/src/storage/hybrid.rs
Due: clippy

feat: complete remaining TODOs in unified storage engine
  orbit/engine/src/adapters/postgres.rs
  orbit/engine/src/query/optimizer.rs
  orbit/engine/src/storage/iceberg.rs
Due: clippy

feat: add comprehensive time travel support across all protocol adapters
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/adapters/postgres.rs
Due: clippy

docs: add comprehensive Iceberg alternatives analysis for time travel
  orbit/engine/ICEBERG_ALTERNATIVES.md
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/storage/iceberg.rs
Due: clippy

eval: add Icelake evaluation - compilation fails, not viable
  Cargo.lock
  orbit/engine/Cargo.toml
  orbit/engine/ICELAKE_EVALUATION_RESULTS.md
  orbit/engine/tests/icelake_evaluation.rs
Due: clippy, cargo-audit

feat: implement Iceberg snapshot API stopgap for time travel support
  orbit/engine/ICEBERG_STOPGAP_IMPLEMENTATION.md
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/storage/iceberg_ext.rs
  orbit/engine/src/storage/mod.rs
Due: clippy

chore: complete minor enhancements and document Phase 3 roadmap
  orbit/engine/PHASE_3_ROADMAP.md
  orbit/engine/src/adapters/orbitql.rs
  orbit/engine/src/query/execution.rs
Due: clippy

security: fix protobuf vulnerability by removing tikv-client dependency
  Cargo.lock
  Cargo.toml
  orbit/protocols/Cargo.toml
  orbit/protocols/src/persistence/mod.rs
Due: clippy, cargo-audit

feat: migrate SIMD implementation from orbit-engine to orbit-compute
  Cargo.lock
  orbit/compute/IMPLEMENTATION_PLAN.md
  orbit/compute/PRODUCTION_READINESS_ANALYSIS.md
  orbit/compute/src/cpu.rs
  orbit/compute/src/cpu/engine.rs
  orbit/compute/src/cpu/mod.rs
  orbit/compute/src/cpu/simd/aggregates.rs
  orbit/compute/src/cpu/simd/filters.rs
  orbit/compute/src/cpu/simd/mod.rs
  orbit/compute/src/cpu/simd/types.rs
  orbit/compute/src/lib.rs
  orbit/engine/Cargo.toml
  orbit/engine/src/query/execution.rs
  orbit/engine/src/query/mod.rs
  orbit/engine/src/storage/columnar.rs
Due: clippy, cargo-audit

feat: integrate CPUEngine with VectorizedExecutor
  orbit/engine/src/query/execution.rs
Due: clippy

feat: add production-ready Metal GPU acceleration with complete test coverage
  Cargo.lock
  orbit/compute/Cargo.toml
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/lib.rs
  orbit/compute/src/query.rs
  orbit/compute/src/shaders/database_kernels.metal
  orbit/engine/src/query/execution.rs
  orbit/engine/src/query/mod.rs
  orbit/engine/src/query/optimizer.rs
  orbit/engine/tests/acceleration_integration.rs
  orbit/engine/tests/gpu_acceleration_integration.rs
  orbit/engine/tests/simd_acceleration_functional.rs
Due: clippy, cargo-audit

feat: add cross-platform GPU backend architecture with auto-detection
  Cargo.lock
  docs/GPU_BACKEND_IMPLEMENTATION_GUIDE.md
  orbit/compute/Cargo.toml
  orbit/compute/src/gpu_backend.rs
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/lib.rs
Due: clippy, cargo-audit

feat: add Vulkan GPU backend for cross-platform GPU acceleration
  Cargo.lock
  orbit/compute/Cargo.toml
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/lib.rs
Due: clippy, cargo-audit

feat: add GLSL compute shaders for Vulkan GPU acceleration
  orbit/compute/src/shaders/vulkan/README.md
  orbit/compute/src/shaders/vulkan/aggregate_count.comp
  orbit/compute/src/shaders/vulkan/aggregate_sum.comp
  orbit/compute/src/shaders/vulkan/bitmap_ops.comp
  orbit/compute/src/shaders/vulkan/filter_f64.comp
  orbit/compute/src/shaders/vulkan/filter_i32.comp
  orbit/compute/src/shaders/vulkan/filter_i64.comp
Due: none

fix: compile GLSL shaders to SPIR-V bytecode and fix reserved word issues
  orbit/compute/src/shaders/vulkan/aggregate_count.spv
  orbit/compute/src/shaders/vulkan/aggregate_sum.comp
  orbit/compute/src/shaders/vulkan/aggregate_sum.spv
  orbit/compute/src/shaders/vulkan/bitmap_ops.comp
  orbit/compute/src/shaders/vulkan/bitmap_ops.spv
  orbit/compute/src/shaders/vulkan/filter_f64.comp
  orbit/compute/src/shaders/vulkan/filter_f64.spv
  orbit/compute/src/shaders/vulkan/filter_i32.comp
  orbit/compute/src/shaders/vulkan/filter_i32.spv
  orbit/compute/src/shaders/vulkan/filter_i64.comp
  orbit/compute/src/shaders/vulkan/filter_i64.spv
Due: none

docs: update GPU acceleration documentation for Vulkan backend completion
  docs/GPU_ACCELERATION.md
  docs/GPU_BACKEND_IMPLEMENTATION_GUIDE.md
Due: none

feat: add CQL (Cassandra Query Language) protocol adapter
  docs/CQL_PROTOCOL_ADAPTER.md
  examples/cql_server_example.rs
  orbit/protocols/src/cql/adapter.rs
  orbit/protocols/src/cql/mod.rs
  orbit/protocols/src/cql/parser.rs
  orbit/protocols/src/cql/protocol.rs
  orbit/protocols/src/cql/types.rs
  orbit/protocols/src/error.rs
  orbit/protocols/src/lib.rs
Due: clippy

feat: add MySQL wire protocol adapter with full client compatibility
  docs/MYSQL_PROTOCOL_ADAPTER.md
  examples/mysql_server_example.rs
  orbit/protocols/src/error.rs
  orbit/protocols/src/lib.rs
  orbit/protocols/src/mysql/adapter.rs
  orbit/protocols/src/mysql/auth.rs
  orbit/protocols/src/mysql/mod.rs
  orbit/protocols/src/mysql/packet.rs
  orbit/protocols/src/mysql/protocol.rs
  orbit/protocols/src/mysql/types.rs
Due: clippy

feat: complete CQL and MySQL protocol adapter integration
  docs/PROTOCOL_ADAPTERS_INTEGRATION.md
  examples/multi_protocol_server.rs
  orbit/protocols/src/mysql/adapter.rs
  orbit/protocols/tests/protocol_integration_tests.rs
Due: clippy

feat: finalize CQL and MySQL protocol adapter integration
  Cargo.lock
  Cargo.toml
  docs/CQL_PROTOCOL_ADAPTER.md
  examples/multi-protocol-server/Cargo.toml
  examples/multi-protocol-server/src/main.rs
Due: clippy, cargo-audit

feat: integrate CQL and MySQL protocol adapters into Orbit multi-protocol server
  orbit/engine/src/adapters/cql.rs
  orbit/engine/src/adapters/mod.rs
  orbit/engine/src/adapters/mysql.rs
  orbit/server/src/config.rs
  orbit/server/src/main_multiprotocol.rs
Due: clippy

feat: enable all database protocols by default in orbit-server
  orbit/server/src/config.rs
  orbit/server/src/main_multiprotocol.rs
Due: clippy

feat: add AQL, Cypher, and OrbitQL adapters to orbit-engine with comprehensive config
  config/orbit-server.toml
  orbit/engine/src/adapters/aql.rs
  orbit/engine/src/adapters/cypher.rs
  orbit/engine/src/adapters/mod.rs
  orbit/server/src/config.rs
Due: clippy

docs: add comprehensive configuration reference for all orbit-server settings
  docs/deployment/CONFIGURATION.md
Due: none

docs: reorganize engine documentation and update project docs
  docs/AQL_REFERENCE.md
  docs/AZURE_STORAGE_QUICKSTART.md
  docs/BACKLOG_CONSOLIDATED.md
  docs/BOOSTING_ALGORITHMS_OVERVIEW.md
  docs/CHANGELOG.md
  docs/CICD.md
  docs/CLUSTER_MANAGEMENT.md
  docs/CODE_OF_CONDUCT.md
  docs/COLUMNAR_STORAGE_TRADEOFFS.md
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/COMPREHENSIVE_PROJECT_AUDIT.md
  docs/COMPUTE_ACCELERATION_GUIDE.md
  docs/DEVELOPMENT.md
  docs/DOCKER_REMOVAL_SUMMARY.md
  docs/GPU_BACKEND_IMPLEMENTATION_GUIDE.md
  docs/ORBITQL_IMPLEMENTATION_TRACKING.md
  docs/ORBITQL_ML_GUIDE.md
  docs/advanced_transaction_features.md
  docs/aql_bolt_graphrag_integration.md
  docs/aql_graphrag_design.md
  docs/complete_graphrag_integration_summary.md
  docs/contributing.md
  docs/cypher_graphrag_design.md
  docs/deployment/CLOUD_GPU_SUPPORT_ANALYSIS.md
  docs/development/DEPENDENCY_MAPPING.md
  docs/development/GITHUB_ISSUES_TRACKING.md
  docs/development/MCP_SERVER_PLAN.md
  docs/development/PHASE8_SQL_ENGINE_PLAN.md
  docs/development/SECRETS_CONFIGURATION_INDEX.md
  docs/development/TESTING_STRATEGY.md
  docs/development/development.md
  docs/engine/ADAPTERS.md
  docs/engine/ARCHITECTURE.md
  docs/engine/DEPLOYMENT.md
  docs/engine/MIGRATION.md
  docs/engine/ORBITQL.md
  docs/examples/java_spring_boot_integration.md
  docs/features/transaction_features.md
  docs/planning/PHASE_09_IMPLEMENTATION_PLAN.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
Due: none

test: add comprehensive protocol test coverage tracking and documentation
  docs/testing/PROTOCOL_TEST_COVERAGE.md
  orbit/protocols/tests/protocol_test_manifest.rs
Due: clippy

fix: update CQL and MySQL doc test examples to include all required fields
  orbit/protocols/src/cql/mod.rs
  orbit/protocols/src/mysql/mod.rs
Due: clippy

feat: add comprehensive PostgreSQL protocol test suite (76/83 tests passing - 92%)
  orbit/protocols/tests/postgres_ddl_tests.rs
  orbit/protocols/tests/postgres_dml_tests.rs
  orbit/protocols/tests/postgres_dql_tests.rs
  orbit/protocols/tests/protocol_test_manifest.rs
Due: clippy

fix: add PartialEq/Eq to QueryComplexity and fix unused variable warning
  orbit/protocols/src/mcp/sql_generator.rs
  orbit/protocols/tests/mcp_integration_test.rs
Due: clippy

feat: add MCP integration, REST API natural language query support, and schema discovery
  deploy/examples/mcp-server-deployment.yaml
  docs/deployment/DIGITAL_OCEAN.md
  docs/development/MCP_COMPLETE_SUMMARY.md
  docs/development/MCP_IMPLEMENTATION_STATUS.md
  docs/development/MCP_INTEGRATION_GUIDE.md
  docs/development/MCP_PRODUCTION_READY.md
  docs/development/MCP_REST_API_INTEGRATION.md
  docs/development/MCP_SERVER_PLAN.md
  docs/development/PHASE8_SQL_ENGINE_PLAN.md
  docs/development/REST_API_NL_QUERY.md
  docs/development/REST_API_NL_QUERY_STATUS.md
  examples/mcp-nlp-example.rs
  examples/rest-api-nl-query.rs
  orbit/engine/src/adapters/orbitql.rs
  orbit/engine/src/adapters/postgres.rs
  orbit/engine/src/adapters/redis.rs
  orbit/engine/src/adapters/rest.rs
  orbit/engine/src/lib.rs
  orbit/engine/src/storage/iceberg.rs
  orbit/engine/src/storage/iceberg_ext.rs
  orbit/engine/src/storage/mod.rs
  orbit/protocols/src/mcp/integration.rs
  orbit/protocols/src/mcp/ml_nlp.rs
  orbit/protocols/src/mcp/mod.rs
  orbit/protocols/src/mcp/nlp.rs
  orbit/protocols/src/mcp/result_processor.rs
  orbit/protocols/src/mcp/schema.rs
  orbit/protocols/src/mcp/schema_discovery.rs
  orbit/protocols/src/mcp/server.rs
  orbit/protocols/src/postgres_wire/protocol.rs
  orbit/protocols/src/postgres_wire/query_engine.rs
  orbit/protocols/src/postgres_wire/sql/execution_strategy.rs
  orbit/protocols/src/postgres_wire/sql/executor.rs
  orbit/protocols/src/rest/handlers.rs
  orbit/protocols/src/rest/mod.rs
  orbit/protocols/src/rest/models.rs
  orbit/protocols/src/rest/server.rs
Due: clippy

feat: complete CQL protocol implementation with comprehensive testing and documentation
  docs/CQL_100_PERCENT_ROADMAP.md
  docs/CQL_COMPLETE_DOCUMENTATION.md
  docs/CQL_PRODUCTION_DEPLOYMENT.md
  docs/CQL_PROGRESS_UPDATE.md
  docs/CQL_PROTOCOL_ADAPTER.md
  docs/architecture/ORBIT_ARCHITECTURE.md
  docs/testing/PROTOCOL_TEST_COVERAGE.md
  examples/multi-protocol-server/src/main.rs
  orbit/protocols/src/cql/adapter.rs
  orbit/protocols/src/cql/mod.rs
  orbit/protocols/src/cql/parser.rs
  orbit/protocols/src/cql/protocol.rs
  orbit/protocols/src/cql/types.rs
  orbit/protocols/src/postgres_wire/query_engine.rs
  orbit/protocols/src/postgres_wire/sql/execution_strategy.rs
  orbit/protocols/src/postgres_wire/sql/mvcc_executor.rs
  orbit/protocols/tests/cql_integration_tests.rs
  orbit/protocols/tests/cql_query_execution_tests.rs
  orbit/protocols/tests/cql_test_helpers.rs
  orbit/protocols/tests/protocol_integration_tests.rs
Due: clippy

fix: resolve MySQL adapter warnings
  orbit/protocols/src/mysql/adapter.rs
Due: clippy
