Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

Implement PostgreSQL 18 features and update compatibility docs
  Cargo.lock
  docs/content/aql/AQL_REFERENCE.md
  orbit/server/Cargo.toml
  orbit/server/src/protocols/aql/aql_parser.rs
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/aql/storage.rs
  orbit/server/src/protocols/aql/tests.rs
  orbit/server/src/protocols/common/graph_algorithms.rs
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/catalogs.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/planner.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  specifications/PRD.md
  specifications/protocols/ANSI_SQL_COMPATIBILITY.md
  specifications/protocols/ARANGODB_AQL_COMPATIBILITY.md
  specifications/protocols/CLIENT_TOOLS_PROTOCOL_SUPPORT.md
  specifications/protocols/MONGODB_COMPATIBILITY.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
  specifications/protocols/Protocol-specs/arangodb_aql_reference.md
  specifications/protocols/Protocol-specs/arrow-flight-sql-specification.md
  specifications/protocols/Protocol-specs/mongodb-wire-protocol-reference.md
  specifications/protocols/REDIS_COMPATIBILITY.md
Due: clippy, cargo-audit

Update compatibility mapping for AQL and MongoDB
  specifications/protocols/ARANGODB_AQL_COMPATIBILITY.md
  specifications/protocols/MONGODB_COMPATIBILITY.md
Due: none

Update MySQL version compatibility to support all target versions
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL Priority Roadmap to mark all items as supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL compatibility doc to mark all requested features as supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL client compatibility doc to mark all clients as fully supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL compatibility doc: mark Binary Result Set as fully supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL DML compatibility doc to mark all commands as fully supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL compatibility doc: mark CTEs and Window Functions as fully supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL compatibility doc: mark all Database Commands as fully supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL compatibility doc: mark all Table Commands as fully supported
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

Update MySQL compatibility doc: Mark ALL features as full support and update coverage to 100%
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

feat(cql): Add compression, scalar functions, and trigger execution support
  Cargo.lock
  docs/content/development/CHANGELOG.md
  orbit/server/Cargo.toml
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/common/storage/unified.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql/parser.rs
  orbit/server/src/protocols/cql/protocol.rs
  orbit/server/src/protocols/cql/types.rs
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/cardinality.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/planner.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  orbit/server/src/protocols/postgres_wire/sql/types.rs
  specifications/protocols/CQL_COMPATIBILITY.md
Due: clippy, cargo-audit

fix: Remove unused imports from tls_verification test
  orbit/server/tests/tls_verification.rs
Due: clippy

Fix Postgres wire protocol parser bugs (CTE, CREATE TABLE, duplicate keywords)
  docs/whitepapers/OrbitRS_CQL_vs_ScyllaDB_Whitepaper.md
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
Due: clippy

feat: Add DISABLE_PAGE_SKIPPING and TRUNCATE parsing to VACUUM command
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utility_commands.rs
Due: clippy

feat(neo4j): Implement comprehensive Neo4j Bolt Protocol support
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/bolt_protocol_tests.rs
  orbit/server/src/protocols/cypher/mod.rs
  orbit/server/src/protocols/neo4j/bolt_messages.rs
  orbit/server/src/protocols/neo4j/bolt_server.rs
  orbit/server/src/protocols/neo4j/bolt_types.rs
  orbit/server/src/protocols/neo4j/bolt_writer.rs
  orbit/server/src/protocols/neo4j/database_admin.rs
  orbit/server/src/protocols/neo4j/graph_functions.rs
  orbit/server/src/protocols/neo4j/mod.rs
  orbit/server/src/protocols/neo4j/schema.rs
  orbit/server/src/protocols/neo4j/security.rs
  orbit/server/src/protocols/neo4j/spatial_functions.rs
  orbit/server/src/protocols/neo4j/spatial_types.rs
  specifications/protocols/NEO4J_BOLT_COMPATIBILITY.md
  speifications/protocols/mysql-mariadb-reference-rust.md
Due: clippy

fix(neo4j): Fix compilation errors in Neo4j implementation
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/bolt_protocol_tests.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/cypher/server.rs
  orbit/server/src/protocols/graph_database.rs
Due: clippy

fix(neo4j): Add feature gate to PackStreamValue import
  orbit/server/src/protocols/cypher/bolt_protocol.rs
Due: clippy

fix(neo4j): Remove unused PackStreamValue import and suppress dead code warnings
  orbit/server/src/protocols/cypher/bolt_protocol.rs
Due: clippy

fix(tests): Fix test compilation errors and ignore disabled functionality tests
  orbit/server/src/protocols/cypher/bolt_protocol_tests.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
Due: clippy

feat(neo4j): Implement missing aggregating functions (stDev, stDevP, percentileCont, percentileDisc)
  orbit/server/src/protocols/cypher/cypher_functions.rs
Due: clippy

docs(neo4j): Update Bolt compatibility spec with completed aggregating functions
  specifications/protocols/NEO4J_BOLT_COMPATIBILITY.md
Due: none

docs(orbitql): Update compatibility spec with implemented JSON functions
  specifications/protocols/ORBITQL_COMPATIBILITY.md
Due: none

feat(orbitql): Implement crypto, parse, array, and string functions
  Cargo.lock
  docs/whitepapers/OrbitRS_High_Performance_Architecture.md
  docs/whitepapers/OrbitRS_High_Performance_Architecture.pdf
  orbit/server/Cargo.toml
  orbit/server/src/protocols/postgres_wire/sql/array_string.rs
  orbit/server/src/protocols/postgres_wire/sql/crypto.rs
  orbit/server/src/protocols/postgres_wire/sql/geo.rs
  orbit/server/src/protocols/postgres_wire/sql/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parse.rs
  specifications/protocols/SHARED_FTS.md
  specifications/protocols/SHARED_GEOSPATIAL.md
Due: clippy, cargo-audit

docs(orbitql): Update compatibility spec with implemented functions
  specifications/protocols/ORBITQL_COMPATIBILITY.md
Due: none

Fix build errors and warnings
  Cargo.lock
  docs/whitepapers/OrbitRS_CQL_vs_ScyllaDB_Whitepaper.md
  orbit/server/Cargo.toml
  orbit/server/src/lib.rs
  orbit/server/src/lua/mlua_runtime.rs
  orbit/server/src/lua/mod.rs
  orbit/server/src/lua/redis_api.rs
  orbit/server/src/lua/security.rs
  orbit/server/src/lua/types.rs
  orbit/server/src/protocols/aql/tests.rs
  orbit/server/src/protocols/postgres_wire/sql/crypto.rs
  orbit/server/src/protocols/postgres_wire/sql/geo.rs
  orbit/server/src/protocols/resp/commands/mod.rs
  orbit/server/src/protocols/resp/commands/scripting.rs
Due: clippy, cargo-audit

Ignore slow timeout test
  orbit/server/src/lua/mlua_runtime.rs
Due: clippy

Fix failing tests
  orbit/server/src/lua/mlua_runtime.rs
  orbit/server/src/protocols/aql/tests.rs
  orbit/server/src/protocols/resp/commands/scripting.rs
Due: clippy

Add platform-specific async I/O APIs to architecture whitepaper
  docs/whitepapers/OrbitRS_High_Performance_Architecture.md
Due: none

docs(changelog): Update changelog with Dec 11-12 releases
  docs/content/development/CHANGELOG.md
Due: none

docs(whitepaper): Add comprehensive HTAP database analysis and roadmap
  docs/whitepapers/OrbitRS_HTAP_Database_Whitepaper.md
Due: none

Add PDF version of HTAP Database Whitepaper
  docs/whitepapers/OrbitRS_HTAP_Database_Whitepaper.pdf
Due: none

Implement SIMD Foundation (Phase 1)
  Cargo.lock
  docs/whitepapers/OrbitRS_HTAP_Database_Whitepaper.md
  orbit/server/Cargo.toml
  orbit/server/benches/simd_benchmarks.rs
  orbit/server/src/lua/database_api.rs
  orbit/server/src/lua/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/mod.rs
  orbit/server/src/protocols/resp/commands/hyperloglog.rs
  orbit/server/src/protocols/resp/commands/mod.rs
Due: clippy, cargo-audit

Apply cargo fmt to SIMD code
  orbit/server/benches/simd_benchmarks.rs
  orbit/server/src/lib.rs
  orbit/server/src/lua/database_api.rs
  orbit/server/src/lua/mlua_runtime.rs
  orbit/server/src/lua/mod.rs
  orbit/server/src/lua/redis_api.rs
  orbit/server/src/lua/security.rs
  orbit/server/src/lua/types.rs
  orbit/server/src/protocols/postgres_wire/sql/array_string.rs
  orbit/server/src/protocols/postgres_wire/sql/crypto.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  orbit/server/src/protocols/postgres_wire/sql/geo.rs
  orbit/server/src/protocols/postgres_wire/sql/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parse.rs
  orbit/server/src/protocols/resp/commands/hyperloglog.rs
  orbit/server/src/protocols/resp/commands/mod.rs
  orbit/server/src/protocols/resp/commands/scripting.rs
  orbit/server/src/protocols/resp/commands/sorted_set.rs
  specifications/protocols/REDIS_COMPATIBILITY.md
Due: clippy

Optimize SIMD aggregations and string operations
  docs/benchmarks/simd_phase1_results.txt
  orbit/server/src/lua/database_api.rs
  orbit/server/src/lua/mod.rs
  orbit/server/src/lua/udf_registry.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  specifications/protocols/NEO4J_BOLT_COMPATIBILITY.md
Due: clippy

Implement SIMD MIN/MAX operations for i32
  orbit/server/src/lua/udf_registry.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
Due: clippy

Add MIN/MAX benchmarks to SIMD benchmark suite
  orbit/server/benches/simd_benchmarks.rs
Due: clippy

Fix UDF type conversion errors
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
Due: clippy
