Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

feat: complete MySQL protocol implementation with comprehensive testing and production readiness
  docs/MYSQL_100_PERCENT_ROADMAP.md
  docs/MYSQL_PRODUCTION_DEPLOYMENT.md
  docs/MYSQL_PRODUCTION_READINESS.md
  docs/architecture/ORBIT_ARCHITECTURE.md
  examples/multi-protocol-server/src/main.rs
  orbit/protocols/src/mysql/auth.rs
  orbit/protocols/src/mysql/mod.rs
  orbit/protocols/src/mysql/protocol.rs
  orbit/protocols/src/postgres_wire/sql/executor.rs
  orbit/protocols/src/postgres_wire/sql/expression_evaluator.rs
  orbit/protocols/src/postgres_wire/sql/parser/expressions.rs
  orbit/protocols/tests/mysql_integration_tests.rs
  orbit/protocols/tests/mysql_query_execution_tests.rs
  orbit/protocols/tests/mysql_syntax_tests.rs
  orbit/protocols/tests/mysql_unit_tests.rs
  orbit/protocols/tests/protocol_integration_tests.rs
Due: clippy

docs: add comprehensive RESP protocol test failure analysis and fix plan
  docs/RESP_FIX_PLAN.md
  docs/RESP_TEST_FAILURES.md
Due: none

fix: clean up test warnings in orbit-protocols
  docs/RESP_FIX_IMPLEMENTATION_SUMMARY.md
  orbit/protocols/src/resp/commands/list.rs
  orbit/protocols/src/resp/commands/set.rs
  orbit/protocols/src/resp/commands/sorted_set.rs
  orbit/protocols/src/resp/commands/string.rs
  orbit/protocols/src/resp/commands/traits.rs
  orbit/protocols/tests/mysql_integration_tests.rs
  orbit/protocols/tests/mysql_syntax_tests.rs
  orbit/protocols/tests/mysql_unit_tests.rs
  orbit/protocols/tests/resp_command_unit_tests.rs
Due: clippy

feat: enhance RESP protocol with SET options and fix LINDEX
  orbit/protocols/src/resp/commands/list.rs
  orbit/protocols/src/resp/commands/string.rs
  orbit/protocols/tests/resp_command_unit_tests.rs
Due: clippy

feat: integrate MySQL and CQL protocol adapters into orbit-server
  orbit/server/src/main.rs
Due: clippy

refactor: enable MySQL and CQL protocols by default in orbit-server
  orbit/server/src/main.rs
Due: clippy

feat: add MySQL metadata query support (SHOW and INFORMATION_SCHEMA)
  examples/multi-protocol-server/src/main.rs
  examples/standalone/mysql_server_example.rs
  orbit/protocols/src/mysql/adapter.rs
  orbit/protocols/src/mysql/mod.rs
  orbit/protocols/src/mysql/protocol.rs
  orbit/protocols/src/postgres_wire/sql/execution_strategy.rs
  orbit/protocols/src/postgres_wire/sql/mvcc_executor.rs
  orbit/protocols/tests/protocol_integration_tests.rs
Due: clippy

fix: update Cargo.lock and sync remaining test files
  Cargo.lock
  orbit/server/Cargo.toml
  orbit/server/src/main.rs
  orbit/server/src/protocols/cql/mod.rs
  orbit/server/src/protocols/graphrag/graph_rag_actor.rs
  orbit/server/src/protocols/mysql/mod.rs
  orbit/server/src/protocols/persistence/mod.rs
  orbit/server/src/protocols/postgres_wire/jsonb/mod.rs
  orbit/server/src/protocols/postgres_wire/jsonb/operators.rs
  orbit/server/src/protocols/postgres_wire/sql/mod.rs
  orbit/server/src/protocols/rest/handlers.rs
  orbit/server/src/protocols/rest/sse.rs
  orbit/server/src/protocols/rest/websocket.rs
  tests/bdd/mod.rs
  tests/orbit-protocols/iceberg_azurite_integration.rs
  tests/orbit-protocols/iceberg_minio_integration.rs
  tests/orbit-protocols/iceberg_table_operations.rs
  tests/orbit-protocols/postgres_ddl_tests.rs
  tests/orbit-protocols/postgres_dml_tests.rs
  tests/orbit-protocols/postgres_dql_tests.rs
  tests/orbit-protocols/postgres_integration_test.rs
  tests/orbit-protocols/protocol_integration_tests.rs
  tests/orbit-protocols/resp_basic_tests.rs
  tests/orbit-protocols/resp_integration_test.rs
Due: clippy, cargo-audit

feat: add GraphRAG persistence and protocol storage integration
  Cargo.lock
  docs/DOCUMENTATION_UPDATE_PROTOCOL_PERSISTENCE.md
  docs/GRAPHRAG_PERSISTENCE_IMPLEMENTATION.md
  docs/GRAPHRAG_STORAGE_STATUS.md
  docs/MCP_GRAPHRAG_COMPLETION_PLAN.md
  docs/MCP_GRAPHRAG_FINAL_STATUS.md
  docs/MCP_GRAPHRAG_IMPLEMENTATION_COMPLETE.md
  docs/MCP_GRAPHRAG_IMPLEMENTATION_STATUS.md
  docs/PERSISTENCE_COMPLETE_DOCUMENTATION.md
  docs/PERSISTENCE_ISSUES_AND_FIXES.md
  docs/PROTOCOL_PERSISTENCE_STATUS.md
  docs/ROCKSDB_VS_RUST_NATIVE_ANALYSIS.md
  docs/features.md
  docs/overview.md
  docs/project_overview.md
  docs/protocols/protocol_adapters.md
  orbit/cli/Cargo.toml
  orbit/cli/src/main.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/aql/mod.rs
  orbit/server/src/protocols/aql/server.rs
  orbit/server/src/protocols/aql/storage.rs
  orbit/server/src/protocols/cypher/mod.rs
  orbit/server/src/protocols/cypher/storage.rs
  orbit/server/src/protocols/graph_database.rs
  orbit/server/src/protocols/graph_database/persistent_storage.rs
  orbit/server/src/protocols/graphrag/entity_extraction.rs
  orbit/server/src/protocols/graphrag/graph_rag_actor.rs
  orbit/server/src/protocols/graphrag/llm_client.rs
  orbit/server/src/protocols/graphrag/mod.rs
  orbit/server/src/protocols/graphrag/storage.rs
  orbit/server/src/protocols/mcp/handlers.rs
  orbit/server/src/protocols/mcp/schema.rs
  orbit/server/src/protocols/mcp/server.rs
  orbit/server/src/protocols/resp/commands/graphrag.rs
  orbit/server/src/protocols/resp/commands/mod.rs
  orbit/server/src/server.rs
Due: clippy, cargo-audit

fix: resolve compilation errors in Cypher and AQL protocol implementations
  Cargo.lock
  docs/DOCUMENTATION_UPDATE_GRAPHRAG_PERSISTENCE.md
  docs/PERSISTENCE_COMPLETE_DOCUMENTATION.md
  docs/PROTOCOL_100_PERCENT_PLAN.md
  docs/PROTOCOL_PERSISTENCE_STATUS.md
  docs/architecture/ORBIT_ARCHITECTURE.md
  docs/features.md
  docs/project_overview.md
  orbit/server/Cargo.toml
  orbit/server/src/protocols/aql/http_server.rs
  orbit/server/src/protocols/aql/mod.rs
  orbit/server/src/protocols/aql/server.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/cypher/mod.rs
  orbit/server/src/protocols/cypher/server.rs
  orbit/server/src/protocols/mcp/handlers.rs
Due: clippy, cargo-audit

fix: resolve all AI module warnings and add comprehensive AI-native features
  orbit/server/src/ai/controller.rs
  orbit/server/src/ai/decision.rs
  orbit/server/src/ai/example.rs
  orbit/server/src/ai/integration.rs
  orbit/server/src/ai/knowledge.rs
  orbit/server/src/ai/learning.rs
  orbit/server/src/ai/mod.rs
  orbit/server/src/ai/optimizer/cost_model.rs
  orbit/server/src/ai/optimizer/index_advisor.rs
  orbit/server/src/ai/optimizer/mod.rs
  orbit/server/src/ai/optimizer/pattern_classifier.rs
  orbit/server/src/ai/resource/mod.rs
  orbit/server/src/ai/resource/workload_predictor.rs
  orbit/server/src/ai/storage/mod.rs
  orbit/server/src/ai/storage/tiering_engine.rs
  orbit/server/src/ai/transaction/deadlock_preventer.rs
  orbit/server/src/ai/transaction/mod.rs
  orbit/server/src/lib.rs
  orbit/server/tests/ai_tests.rs
Due: clippy

docs: add comprehensive AI-native features documentation
  docs/AI_FEATURES_SUMMARY.md
  docs/AI_IMPLEMENTATION_COMPLETE.md
  docs/AI_NATIVE_FEATURES_IMPLEMENTATION.md
  docs/PROJECT_OVERVIEW_ACCURATE.md
  docs/RFC-004_IMPLEMENTATION_STATUS.md
  docs/rfcs/completed/README.md
  docs/rfcs/completed/RFC-004-AI_NATIVE_DATABASE_FEATURES.md
Due: none

docs: update project audit report with AI features completion
  docs/COMPREHENSIVE_PROJECT_AUDIT.md
Due: none

docs: update project overview and status with AI features and current metrics
  docs/PROJECT_OVERVIEW_ACCURATE.md
  docs/PROJECT_STATUS.md
Due: none

docs: update README with AI-Native database features
  README.md
Due: none

docs: update architecture and features documentation with AI-Native subsystems
  docs/architecture/ORBIT_ARCHITECTURE.md
  docs/features.md
Due: none

fix: resolve all warnings in spatial streaming module
  orbit/shared/src/spatial/streaming.rs
Due: clippy

feat: complete geospatial implementation and columnar analytics engine
  docs/COMPREHENSIVE_PROJECT_AUDIT.md
  docs/GEOSPATIAL_IMPLEMENTATION_COMPLETE.md
  docs/rfcs/completed/README.md
  docs/rfcs/completed/RFC-001-COLUMNAR_ANALYTICS_ENGINE.md
  docs/rfcs/rfc_geospatial_multi_protocol.md
  orbit/server/src/protocols/arangodb/aql_spatial.rs
  orbit/server/src/protocols/neo4j/cypher_spatial.rs
  orbit/server/src/protocols/postgres_wire/spatial_functions.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/compression.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/statistics.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/vectorized.rs
  orbit/server/src/protocols/resp/spatial_commands.rs
  orbit/shared/src/orbitql/spatial.rs
  orbit/shared/src/spatial/functions.rs
  orbit/shared/src/spatial/index.rs
  orbit/shared/src/spatial/operations.rs
Due: clippy

feat: add Vulkan GPU support and refine documentation
  docs/GPU_ACCELERATION_COMPLETE.md
  docs/GPU_ACCELERATION_COMPLETE_SUMMARY.md
  docs/GPU_ACCELERATION_OPPORTUNITIES.md
  docs/GPU_ACCELERATION_PHASE1_COMPLETE.md
  docs/GPU_ACCELERATION_PHASE2_COMPLETE.md
  docs/GPU_ACCELERATION_PLAN.md
  docs/GPU_COMPLETE_DOCUMENTATION.md
  docs/GPU_GRAPHRAG_INTEGRATION_PLAN.md
  docs/GPU_GRAPH_TRAVERSAL.md
  docs/GPU_GRAPH_TRAVERSAL_IMPLEMENTATION.md
  docs/GPU_PHASE1_IMPLEMENTATION_SUMMARY.md
  orbit/compute/build_shaders.sh
  orbit/compute/src/columnar_analytics.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/shaders/vulkan/graph_bfs.spv
  orbit/compute/src/shaders/vulkan/graph_connected_components.spv
  orbit/compute/src/shaders/vulkan/vector_similarity.spv
  orbit/compute/src/spatial_operations.rs
  orbit/compute/src/vector_similarity.rs
Due: clippy

fix: remove unused variable warnings in graph traversal and update GPU modules
  orbit/compute/src/columnar_joins.rs
  orbit/compute/src/gpu_cuda.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/ml_operations.rs
  orbit/compute/src/shaders/vulkan/spatial_distance.comp
  orbit/compute/src/spatial_operations.rs
  orbit/compute/src/timeseries_operations.rs
  orbit/compute/src/vector_similarity.rs
Due: clippy

security: replace unmaintained serde_cbor with ciborium
  Cargo.lock
  orbit/server/Cargo.toml
  orbit/server/src/protocols/postgres_wire/jsonb/mod.rs
Due: clippy, cargo-audit

security: upgrade dependencies to reduce unmaintained warnings
  Cargo.lock
  Cargo.toml
  orbit/application/Cargo.toml
  orbit/ml/Cargo.toml
  orbit/protocols/Cargo.toml
  orbit/server/Cargo.toml
Due: cargo-audit

perf: optimize GPU graph traversal with critical performance improvements
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/graph_traversal.rs
  orbit/compute/src/shaders/database_kernels.metal
  orbit/compute/src/shaders/vulkan/graph_bfs.comp
  orbit/compute/src/shaders/vulkan/graph_bfs.spv
Due: clippy

feat: implement GPU-accelerated Dijkstra's shortest path algorithm
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/graph_traversal.rs
  orbit/compute/src/shaders/database_kernels.metal
  orbit/compute/src/shaders/vulkan/dijkstra_relax.comp
  orbit/compute/src/shaders/vulkan/dijkstra_relax.spv
Due: clippy

feat: implement DFS and PageRank graph traversal algorithms
  orbit/compute/src/graph_traversal.rs
Due: clippy

feat: enable GPU acceleration for columnar MIN/MAX aggregations
  orbit/compute/src/columnar_analytics.rs
Due: clippy

feat: add GPU-accelerated matrix multiplication (GEMM) with Metal
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/graph_traversal.rs
  orbit/compute/src/ml_operations.rs
  orbit/compute/src/shaders/database_kernels.metal
  orbit/compute/src/timeseries_operations.rs
Due: clippy

feat: add Vulkan GPU support for matrix multiplication (GEMM)
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/ml_operations.rs
  orbit/compute/src/shaders/vulkan/matrix_multiply.comp
  orbit/compute/src/shaders/vulkan/matrix_multiply.spv
Due: clippy

feat: add GPU acceleration for spatial distance operations (Metal + Vulkan)
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/shaders/vulkan/spatial_distance.spv
  orbit/compute/src/shaders/vulkan/spatial_distance_sphere.comp
  orbit/compute/src/shaders/vulkan/spatial_distance_sphere.spv
  orbit/compute/src/spatial_operations.rs
Due: clippy

feat: add GPU acceleration for time-series window aggregations (Metal + Vulkan)
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/shaders/database_kernels.metal
  orbit/compute/src/shaders/vulkan/timeseries_finalize_avg.comp
  orbit/compute/src/shaders/vulkan/timeseries_finalize_avg.spv
  orbit/compute/src/shaders/vulkan/timeseries_window_aggregate.comp
  orbit/compute/src/shaders/vulkan/timeseries_window_aggregate.spv
Due: clippy

feat: add time-series GPU integration + GPU hash join (Metal + Vulkan)
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/gpu_vulkan.rs
  orbit/compute/src/shaders/database_kernels.metal
  orbit/compute/src/shaders/vulkan/hash_join_build.comp
  orbit/compute/src/shaders/vulkan/hash_join_build.spv
  orbit/compute/src/shaders/vulkan/hash_join_probe.comp
  orbit/compute/src/shaders/vulkan/hash_join_probe.spv
  orbit/compute/src/timeseries_operations.rs
Due: clippy

refactor: add device pooling to GPUAccelerationManager to eliminate initialization overhead
  orbit/compute/src/gpu.rs
  orbit/compute/src/ml_operations.rs
  orbit/compute/src/spatial_operations.rs
  orbit/compute/src/timeseries_operations.rs
Due: clippy

fix: add conditional compilation to GPU graph traversal variables
  orbit/compute/src/graph_traversal.rs
Due: clippy

feat: implement multi-model query execution for RFC-002
  docs/rfcs/completed/RFC-002-UNIFIED_MULTIMODAL_QUERY_ENGINE.md
  docs/rfcs/completed/rfc_geospatial_multi_protocol.md
  docs/rfcs/completed/rfc_heterogeneous_compute.md
  orbit/shared/src/orbitql/executor.rs
  orbit/shared/src/orbitql/planner.rs
Due: clippy

feat: implement Row-Level Security (RLS) for RFC-014
  orbit/shared/src/security/mod.rs
  orbit/shared/src/security/row_level_security.rs
Due: clippy

feat: implement Actor Memory Behavior traits (RFC_ACTOR_MEMORY_INTEGRATION)
  orbit/shared/src/actor_memory.rs
  orbit/shared/src/lib.rs
Due: clippy

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
