Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

ci: Add build status note to trigger fresh CI run
  README.md
Due: none

feat: Add TiKV distributed persistence provider
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/TIKV_INTEGRATION_SUMMARY.md
  docs/TIKV_PERSISTENCE_INTEGRATION.md
  orbit-server/src/persistence/config.rs
  orbit-server/src/persistence/factory.rs
  orbit-server/src/persistence/mod.rs
  orbit-server/src/persistence/tikv.rs
Due: clippy

feat: Enhanced Strategic Roadmap with ETL Platform and Security Integration
  docs/ETL_CONNECTOR_PLATFORM_SPECIFICATION.md
  docs/SECURITY_ENHANCEMENT_ROADMAP.md
  docs/planning/README.md
  docs/planning/roadmap/STRATEGIC_ROADMAP_2025-2026.md
Due: none

fix: Correct malformed XML citations in RFC-005-VIRTUAL_ACTOR_SYSTEM.md
  docs/rfcs/RFC-005-VIRTUAL_ACTOR_SYSTEM.md
Due: none

docs: Comprehensive Issue Documentation for Completed and Future Work
  docs/issues/ENTERPRISE_ETL_PLATFORM_FUTURE.md
  docs/issues/README.md
  docs/issues/STRATEGIC_PLANNING_COMPLETE.md
  docs/issues/TIKV_DISTRIBUTED_PERSISTENCE_COMPLETE.md
  docs/issues/ZERO_TRUST_SECURITY_FUTURE.md
Due: none

docs: Fix documentation links in PROJECT_OVERVIEW_ACCURATE.md
  docs/PROJECT_OVERVIEW_ACCURATE.md
Due: none

docs: Fix documentation links in PROJECT_STRUCTURE.md
  docs/PROJECT_STRUCTURE.md
Due: none

docs: Move RFC-ML-DEEP-LEARNING-INTEGRATION.md to rfcs folder
  docs/rfcs/RFC-ML-DEEP-LEARNING-INTEGRATION.md
Due: none

docs: update quick_start.md with only working examples
  docs/quick_start.md
Due: none

fix: Add vector actor methods to mock invocation system
  orbit-client/src/invocation.rs
Due: clippy

JSONB implementation
  orbit-protocols/Cargo.toml
  orbit-protocols/src/postgres_wire/jsonb/mod.rs
  orbit-protocols/src/postgres_wire/storage/mod.rs
Due: clippy, cargo-audit

feat: Complete integration of advanced connection pooling
  Cargo.lock
  Cargo.toml
  MULTIPROTOCOL_UPDATE_SUMMARY.md
  README.md
  config/orbit-server.toml
  demo_cow_data/orbit.wal
  docs/NATIVE_MULTIPROTOCOL.md
  docs/quick_start.md
  examples/distributed-counter-example/Cargo.toml
  examples/distributed_counter.rs
  examples/hello-world.rs
  examples/multiprotocol-demo/Cargo.toml
  examples/multiprotocol-demo/README.md
  examples/multiprotocol-demo/src/main.rs
  orbit-server/examples/hello-world.rs
  orbit-server/src/config.rs
  orbit-server/src/lib.rs
  orbit-server/src/main_multiprotocol.rs
  orbit-server/src/persistence/tikv.rs
  orbit-server/src/test_pooling_integration.rs
  orbit-shared/src/pooling/advanced_pool.rs
  start-multiprotocol-server.sh
Due: clippy, cargo-audit

feat: Finalize advanced connection pooling integration
  .github/workflows/ci.yml
  README.md
  docs/NATIVE_MULTIPROTOCOL.md
Due: none

feat: Update Redis dependency to 0.32.7
  Cargo.lock
  POOLING_INTEGRATION_COMPLETE.md
  orbit-protocols/Cargo.toml
Due: cargo-audit

feat: Phase 11 Advanced JSON/JSONB Implementation 🚀
  README.md
  orbit-protocols/src/postgres_wire/jsonb/aggregation.rs
  orbit-protocols/src/postgres_wire/jsonb/indexing.rs
  orbit-protocols/src/postgres_wire/jsonb/mod.rs
  orbit-protocols/src/postgres_wire/jsonb/operators.rs
  orbit-protocols/src/postgres_wire/jsonb/path.rs
  orbit-protocols/src/postgres_wire/jsonb/schema.rs
  orbit-protocols/src/postgres_wire/jsonb/storage.rs
  orbit-protocols/src/postgres_wire/mod.rs
  orbit-server/src/persistence/config.rs
Due: clippy

Fix PostgreSQL wire protocol storage serialization and dependencies
  Cargo.lock
  orbit-protocols/Cargo.toml
  orbit-protocols/src/postgres_wire/jsonb/mod.rs
  orbit-protocols/src/postgres_wire/sql/optimizer/costs.rs
  orbit-protocols/src/postgres_wire/sql/optimizer/mod.rs
  orbit-protocols/src/postgres_wire/sql/optimizer/stats.rs
  orbit-protocols/src/postgres_wire/storage/mod.rs
  orbit-shared/src/lib.rs
  orbit-shared/src/triggers.rs
Due: clippy, cargo-audit

Fix security vulnerabilities in orbit-desktop dependencies
  orbit-desktop/package-lock.json
  orbit-desktop/package.json
  orbit-desktop/src-tauri/Cargo.lock
Due: cargo-audit

feat: improve code quality and security through SonarQube analysis
  .gitignore
  orbit-desktop/src/components/QueryEditor.tsx
  orbit-server/src/persistence/lsm_tree.rs
  orbit-shared/src/orbitql/streaming.rs
  sonar-project.properties
Due: clippy

fix: resolve compilation errors by adding missing imports in test modules
  orbit-client/src/invocation.rs
  orbit-client/src/proxy.rs
  orbit-server/src/load_balancer.rs
  orbit-server/src/mesh.rs
Due: clippy

refactor: replace wildcard imports with explicit imports for better code clarity
  orbit-application/src/event.rs
  orbit-application/src/health.rs
  orbit-application/src/lib.rs
  orbit-benchmarks/src/orbitql/benchmark.rs
  orbit-client/src/addressable.rs
  orbit-client/src/client.rs
  orbit-client/src/lib.rs
  orbit-compute/src/lib.rs
  orbit-ml/src/neural_networks/mod.rs
  orbit-ml/src/transformers/attention.rs
  orbit-ml/src/transformers/mod.rs
  orbit-proto/src/converters.rs
  orbit-proto/src/lib.rs
  orbit-proto/src/services.rs
  orbit-protocols/src/ml/mod.rs
  orbit-protocols/src/orbitql/mod.rs
  orbit-protocols/src/postgres_wire/jsonb/indexing.rs
  orbit-protocols/src/postgres_wire/jsonb/mod.rs
  orbit-protocols/src/rest/mod.rs
  orbit-protocols/src/test_utils.rs
  orbit-server-etcd/src/lib.rs
  orbit-server-prometheus/src/collector.rs
  orbit-server-prometheus/src/exporter.rs
  orbit-server-prometheus/src/lib.rs
  orbit-server-prometheus/src/server.rs
  orbit-server/src/lib.rs
  orbit-server/src/persistence/lsm_tree.rs
  orbit-server/src/server.rs
  orbit-shared/src/lib.rs
  orbit-shared/src/orbitql/streaming.rs
  orbit-util/src/lib.rs
  sonar-project.properties
Due: clippy

fix: resolve all clippy warnings for better code quality
  orbit-protocols/src/postgres_wire/jsonb/operators.rs
  orbit-protocols/src/postgres_wire/jsonb/storage.rs
  orbit-server/src/test_pooling_integration.rs
Due: clippy

refactor: reduce cognitive complexity in key functions for better maintainability
  orbit-protocols/src/postgres_wire/jsonb/operators.rs
  orbit-protocols/src/postgres_wire/jsonb/path.rs
  orbit-protocols/src/postgres_wire/sql/optimizer/costs.rs
  orbit-server/src/main.rs
Due: clippy

refactor: reduce cognitive complexity in saga functions
  orbit-server/src/persistence/mod.rs
  orbit-server/src/server.rs
  orbit-shared/src/orbitql/mod.rs
  orbit-shared/src/saga.rs
Due: clippy

fix: comprehensive code quality improvements
  orbit-desktop/src/components/DataVisualization.tsx
  orbit-desktop/src/components/MLModelManager.tsx
  orbit-desktop/src/components/QueryEditor.tsx
  orbit-protocols/src/orbitql/executor.rs
  orbit-protocols/src/orbitql/mod.rs
  orbit-server/src/memory/pin_manager.rs
  orbit-server/src/persistence/cloud.rs
  orbit-server/src/persistence/config.rs
  orbit-server/src/persistence/cow_btree.rs
  orbit-server/src/persistence/dynamic.rs
  orbit-server/src/persistence/factory.rs
  orbit-server/src/persistence/memory.rs
  orbit-server/src/persistence/mod.rs
  orbit-server/src/persistence/rocksdb.rs
  orbit-server/src/persistence/tikv.rs
  orbit-server/src/server.rs
  orbit-shared/src/exception.rs
  tools/vscode-orbitql/src/extension.ts
Due: clippy

refactor: improve code quality and fix type safety issues
  orbit-desktop/src/App.tsx
  orbit-desktop/src/components/MLModelManager.tsx
  orbit-desktop/src/services/tauri.ts
  orbit-desktop/src/types/index.ts
Due: none

fix: address additional code quality issues
  orbit-desktop/dist/assets/index-BqTOw2_m.css
  orbit-desktop/dist/assets/index-BrluSJKQ.js
  orbit-desktop/dist/index.html
  orbit-desktop/src/components/SampleQueries.tsx
  orbit-desktop/src/services/tauri.ts
Due: none

refactor: reduce cognitive complexity in multiple functions
  orbit-client-spring/src/container.rs
  orbit-compute/src/benchmarks/mod.rs
  orbit-compute/src/capabilities.rs
  orbit-desktop/dist/assets/index-DARQrTJA.js
  orbit-desktop/dist/index.html
  orbit-ml/src/transformers/mod.rs
Due: clippy

fix: resolve compilation errors and warnings
  orbit-client-spring/src/container.rs
  orbit-compute/src/benchmarks/mod.rs
  orbit-compute/src/capabilities.rs
  orbit-ml/src/transformers/mod.rs
  orbit-protocols/src/orbitql/executor.rs
  orbit-server/src/persistence/dynamic.rs
Due: clippy

clean: remove unused imports across the project
  orbit-server/src/persistence/config.rs
  orbit-server/src/persistence/dynamic.rs
Due: clippy

Security: Fix ReDoS vulnerable regex patterns in QueryEditor
  orbit-desktop/src/components/QueryEditor.tsx
Due: none

Update compiled assets after ReDoS security fix
  orbit-desktop/dist/assets/index-DQVIKfVi.js
  orbit-desktop/dist/index.html
Due: none

Fix Cargo configuration and syntax errors
  orbit-shared/Cargo.toml
  orbit-shared/src/lib.rs
Due: clippy, cargo-audit

Apply cargo fmt formatting to security modules
  orbit-shared/src/lib.rs
  orbit-shared/src/security/audit.rs
  orbit-shared/src/security/authentication.rs
  orbit-shared/src/security/authorization.rs
  orbit-shared/src/security/encryption.rs
  orbit-shared/src/security/mod.rs
  orbit-shared/src/security/policy.rs
  orbit-shared/src/security/sql_validation.rs
  orbit-shared/src/security/threat_detection.rs
Due: clippy

Fix Clippy errors and compilation issues
  orbit-shared/src/lib.rs
  orbit-shared/src/security/audit.rs
  orbit-shared/src/security/authentication.rs
  orbit-shared/src/security/authorization.rs
  orbit-shared/src/security/encryption.rs
  orbit-shared/src/security/threat_detection.rs
Due: clippy

Fix remaining Clippy errors and clean up code
  orbit-protocols/src/postgres_wire/sql/optimizer/costs.rs
  orbit-protocols/src/postgres_wire/sql/optimizer/planner.rs
  orbit-shared/src/security/encryption.rs
Due: clippy

feat: Improve cognitive complexity and code maintainability
  COGNITIVE_COMPLEXITY_ANALYSIS.md
  Cargo.toml
  orbit-protocols/src/resp/commands.rs
  orbit-shared/src/lib.rs
Due: clippy, cargo-audit

fix: resolve all clippy warnings for better code quality
  Cargo.lock
  analyze_complexity.py
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
  orbit-desktop/src/App.tsx
  orbit-desktop/src/components/QueryEditor.tsx
  orbit-desktop/src/components/QueryResultsTable.tsx
  orbit-desktop/src/constants/queryKeywords.ts
  orbit-desktop/src/hooks/useQueryTabs.ts
  orbit-desktop/src/services/tauri.ts
  orbit-protocols/src/resp/commands/connection.rs
  orbit-protocols/src/resp/commands/graph.rs
  orbit-protocols/src/resp/commands/graphrag.rs
  orbit-protocols/src/resp/commands/hash.rs
  orbit-protocols/src/resp/commands/list.rs
  orbit-protocols/src/resp/commands/mod.rs
  orbit-protocols/src/resp/commands/pubsub.rs
  orbit-protocols/src/resp/commands/server.rs
  orbit-protocols/src/resp/commands/set.rs
  orbit-protocols/src/resp/commands/sorted_set.rs
  orbit-protocols/src/resp/commands/string.rs
  orbit-protocols/src/resp/commands/time_series.rs
  orbit-protocols/src/resp/commands/traits.rs
  orbit-protocols/src/resp/commands/vector.rs
  orbit-protocols/src/resp/commands_old.rs
  orbit-shared/Cargo.toml
  orbit-shared/src/error_utils.rs
  orbit-shared/src/lib.rs
  orbit-shared/src/serialization.rs
  sonar-project.properties
Due: clippy, cargo-audit

Fix compiler warnings and improve code quality
  orbit-protocols/src/graphrag/knowledge_graph.rs
  orbit-protocols/src/resp/commands/connection.rs
  orbit-protocols/src/resp/commands/hash.rs
  orbit-protocols/src/resp/commands/mod.rs
  orbit-protocols/src/resp/commands/sorted_set.rs
  orbit-protocols/src/resp/server.rs
  orbit-shared/src/actor_communication.rs
  orbit-shared/src/cluster_manager.rs
  orbit-shared/src/consensus.rs
  orbit-shared/src/error_handling.rs
  orbit-shared/src/integrated_recovery.rs
  orbit-shared/src/orbitql/lexer.rs
  orbit-shared/src/security/audit.rs
  orbit-shared/src/security/sql_validation.rs
  orbit-shared/src/timeseries/core.rs
  orbit-shared/src/transactions/locks.rs
  tests/bdd/mod.rs
Due: clippy
