Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

feat(postgres): implement OLD/NEW table references in RETURNING clause
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/select.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
Due: clippy

feat(postgres): implement VIRTUAL generated columns (PostgreSQL 18)
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
Due: clippy

feat(postgres): add MERGE RETURNING parsing tests (PostgreSQL 18)
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
Due: clippy

fix: update redis Value enum variants for 0.32 API
  orbit/cli/src/main.rs
  orbit/desktop/src-tauri/src/queries.rs
Due: clippy

feat(sql): add PostgreSQL 18 WITHOUT OVERLAPS temporal constraint parsing
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
Due: clippy

feat(postgres): implement variable-length cancellation keys (PG18/protocol 3.2)
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
Due: clippy

feat(postgres): add PERIOD FK parsing and NegotiateProtocolVersion (PG18)
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
Due: clippy

feat(postgres): implement PG18 temporal constraint execution and protocol negotiation
  orbit/server/src/protocols/postgres_wire/messages.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/PRD.md
  specifications/protocols/CLIENT_TOOLS_PROTOCOL_SUPPORT.md
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: clippy

Update orbit-examples README with complete directory structure
  orbit-examples/README.md
Due: none

feat(postgres): add sequence functions and math functions for PG18 compatibility
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

Update PostgreSQL 18 compatibility status
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
Due: none

Update protocol status documentation
  specifications/protocols/PROTOCOL_STATUS.md
Due: none

docs: update specifications with sequence functions and math functions
  specifications/PRD.md
  specifications/protocols/PROTOCOL_STATUS.md
Due: none

docs: update CHANGELOG and CLIENT_TOOLS_PROTOCOL_SUPPORT with sequence functions
  docs/content/development/CHANGELOG.md
  specifications/protocols/CLIENT_TOOLS_PROTOCOL_SUPPORT.md
Due: none

docs: update documentation with PostgreSQL 18 features and test counts
  docs/content/protocols/PROTOCOL_STATUS.md
  docs/content/protocols/SQL_PARSER_ARCHITECTURE.md
  docs/features.md
Due: none

feat(postgres): implement CREATE FUNCTION and CREATE TRIGGER storage
  docs/content/development/CHANGELOG.md
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): implement extended DDL statements (TYPE, DOMAIN, ROLE, USER, POLICY, RULE)
  docs/content/development/CHANGELOG.md
  docs/content/protocols/PROTOCOL_STATUS.md
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/dml.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/mod.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/utilities.rs
  orbit/server/src/protocols/postgres_wire/sql/tests.rs
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

feat(postgres): Implement PostgreSQL 18 MERGE execution and mathematical functions
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  specifications/protocols/POSTGRESQL18_COMPATIBILITY_STATUS.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: clippy

updated gitignore
  .gitignore
Due: none

updated examples and Postgres support
  orbit-examples/defense/python/01_run_ml_examples.py
  orbit-examples/energy/python/01_run_ml_examples.py
  orbit-examples/space/python/01_run_ml_examples.py
  orbit-examples/space/sql/01_schema_space.sql
  orbit/server/src/protocols/postgres_wire/query_engine.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
  orbit/server/src/protocols/postgres_wire/vector_engine.rs
Due: clippy

fix(ddl): Complete DDL parser error fixes (30→5 errors)
  devdata/cql/rocksdb/CURRENT
  devdata/cql/rocksdb/LOG
  devdata/cql/rocksdb/MANIFEST-000005
  devdata/mysql/rocksdb/CURRENT
  devdata/mysql/rocksdb/LOG
  devdata/mysql/rocksdb/MANIFEST-000005
  devdata/postgresql/rocksdb/CURRENT
  devdata/postgresql/rocksdb/LOG
  devdata/postgresql/rocksdb/MANIFEST-000005
  devdata/redis/rocksdb/CURRENT
  devdata/redis/rocksdb/LOG
  devdata/redis/rocksdb/MANIFEST-000005
  devdata/rocksdb/CURRENT
  devdata/rocksdb/LOG
  devdata/rocksdb/MANIFEST-000005
  orbit/server/src/protocols/postgres_wire/query_engine.rs
Due: clippy

fix(ddl): Complete all DDL parser fixes - 30 errors resolved ✅
  docs/content/graph/graph_commands.md
  docs/content/server/vector_commands.md
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/ddl.rs
Due: clippy

fix(ddl): Complete ALL 30 DDL parser fixes - 100% success! ✅
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
Due: clippy

feat(range): Add lexer tokens and AST for 8 range operators
  orbit/server/src/protocols/postgres_wire/sql/ast.rs
  orbit/server/src/protocols/postgres_wire/sql/lexer.rs
  orbit/server/src/protocols/postgres_wire/sql/optimizer/cardinality.rs
Due: clippy

feat(range): Implement 8 range operators with full evaluation
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/parser/expressions.rs
Due: clippy

docs(specs): Update PostgreSQL 18 compatibility for range operators
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: none

docs(specs): Add comprehensive protocol compatibility specifications
  specifications/protocols/CQL_COMPATIBILITY.md
  specifications/protocols/MONGODB_COMPATIBILITY.md
  specifications/protocols/MYSQL_COMPATIBILITY.md
  specifications/protocols/ORBITQL_COMPATIBILITY.md
  specifications/protocols/REDIS_COMPATIBILITY.md
Due: none

docs(redis): Add comprehensive Redis modules documentation
  specifications/protocols/REDIS_COMPATIBILITY.md
Due: none

docs(pg): Add pgvector and TimescaleDB extensions documentation
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: none

docs(mysql): Expand MySQL compatibility with comprehensive command coverage
  specifications/protocols/MYSQL_COMPATIBILITY.md
Due: none

docs(sql): Add comprehensive ANSI SQL:2023 standard compliance specification
  specifications/protocols/ANSI_SQL_COMPATIBILITY.md
Due: none

docs(arch): Add JavaScript engine decision document
  docs/architecture/javascript_engine_decision.md
Due: none

docs(arch): Add full-text search engine decision document
  docs/architecture/fts_engine_decision.md
Due: none

docs(orbitql): Update OrbitQL spec with comprehensive SurrealDB-inspired commands
  specifications/protocols/ORBITQL_COMPATIBILITY.md
Due: none

docs(protocols): Add Neo4j Bolt and ArangoDB AQL compatibility specifications
  specifications/protocols/ARANGODB_AQL_COMPATIBILITY.md
  specifications/protocols/NEO4J_BOLT_COMPATIBILITY.md
Due: none

feat(fts): Implement Tantivy FTS foundation (Phase 1 complete)
  Cargo.lock
  orbit/server/Cargo.toml
  orbit/server/src/fts/engine.rs
  orbit/server/src/fts/index_manager.rs
  orbit/server/src/fts/mod.rs
  orbit/server/src/fts/query_parser.rs
  orbit/server/src/fts/ranking.rs
  orbit/server/src/fts/schema.rs
  orbit/server/src/lib.rs
Due: clippy, cargo-audit

feat(cli): add Flight SQL and OrbitWire protocol options
  orbit/cli/src/main.rs
Due: clippy

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
