Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

feat(neo4j): Complete Bolt Protocol v4.4 and enhanced Cypher parser
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/graph_database.rs
Due: clippy

docs: consolidate all architecture documentation into ORBIT_ARCHITECTURE.md
  docs/content/architecture/ORBIT_ARCHITECTURE.md
Due: none

feat(neo4j): Add comprehensive Cypher function library and expression types
  orbit/server/src/protocols/cypher/cypher_functions.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/mod.rs
Due: clippy

docs: enhance architecture docs with verified RESP implementation details
  docs/content/architecture/ORBIT_ARCHITECTURE.md
  docs/content/storage/STORAGE_ARCHITECTURE_CURRENT.md
Due: none

feat(cypher): implement UNWIND, FOREACH, and CASE expression execution
  orbit/server/src/protocols/cypher/graph_engine.rs
Due: clippy

style: format Cypher module code
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/cypher_functions.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
Due: clippy

docs: reference ORBIT_ARCHITECTURE.md as single source for architecture decisions
  AGENTS.md
  CLAUDE.md
  docs/PRD.md
Due: none

docs: reorganize MCP documentation into dedicated directory
  docs/content/mcp/MCP_COMPLETE_SUMMARY.md
  docs/content/mcp/MCP_IMPLEMENTATION_STATUS.md
  docs/content/mcp/MCP_INTEGRATION_GUIDE.md
  docs/content/mcp/MCP_PRODUCTION_READY.md
  docs/content/mcp/MCP_REST_API_INTEGRATION.md
  docs/content/mcp/MCP_SERVER_PLAN.md
Due: none

chore(cypher): update implementation status and deprecate legacy bolt.rs
  orbit/server/src/protocols/cypher/bolt.rs
  orbit/server/src/protocols/cypher/mod.rs
Due: clippy

docs: update Neo4j/Cypher documentation for production-ready status
  docs/content/architecture/ORBIT_ARCHITECTURE.md
  docs/content/development/CHANGELOG.md
  docs/content/development/github/issue-templates/neo4j-bolt-protocol.md
  docs/content/protocols/protocol_adapters.md
Due: none

docs: remove obsolete timestamp update task from PRD.md checklist
  docs/PRD.md
Due: none

docs: update outdated statistics across documentation
  docs/content/development/ROADMAP-old.md
  docs/content/development/testing/PROTOCOL_TEST_COVERAGE.md
  docs/content/development/wip/DOCUMENTATION_UPDATES.md
  docs/content/roadmap/PROJECT_STATUS.md
  docs/content/server/ORBIT_MASTER_DOCUMENTATION.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
  docs/status.md
Due: none

feat(graph): implement Phase 15 advanced graph analytics algorithms
  docs/content/development/CHANGELOG.md
  docs/content/development/github/issue-templates/neo4j-bolt-protocol.md
  orbit/server/src/protocols/cypher/graph_algorithms_procedures.rs
Due: clippy

docs: add comprehensive geospatial architecture to ORBIT_ARCHITECTURE.md
  docs/content/architecture/ORBIT_ARCHITECTURE.md
  docs/content/geo/GEOSPATIAL_IMPLEMENTATION_COMPLETE.md
Due: none

feat(unified): implement cross-protocol storage foundation
  docs/content/architecture/UNIFIED_STORAGE_DESIGN.md
  orbit/engine/src/lib.rs
  orbit/engine/src/unified/mod.rs
  orbit/engine/src/unified/operations.rs
  orbit/engine/src/unified/types.rs
Due: clippy

feat(unified): implement UnifiedStorage layer for cross-protocol data sharing
  Cargo.lock
  orbit/engine/Cargo.toml
  orbit/engine/src/unified/mod.rs
  orbit/engine/src/unified/storage.rs
Due: clippy, cargo-audit

feat(unified): implement Schema Registry for cross-protocol data management
  orbit/engine/src/unified/mod.rs
  orbit/engine/src/unified/operations.rs
  orbit/engine/src/unified/schema.rs
Due: clippy

feat(unified): implement protocol adapters for cross-protocol data access
  orbit/engine/src/unified/adapters.rs
  orbit/engine/src/unified/mod.rs
  orbit/engine/src/unified/schema.rs
  orbit/engine/src/unified/storage.rs
  orbit/engine/src/unified/types.rs
Due: clippy

feat(server): add unified storage integration module
  Cargo.lock
  orbit/server/Cargo.toml
  orbit/server/src/lib.rs
  orbit/server/src/unified_storage.rs
Due: clippy, cargo-audit

test(unified): add cross-protocol integration tests
  orbit/engine/tests/cross_protocol_integration.rs
Due: clippy

feat(config): add unified storage TOML configuration with tiered storage
  config/orbit-server.toml
  orbit/server/src/config.rs
Due: clippy

feat(config): add cluster-aware unified storage configuration
  config/orbit-server.toml
  orbit/server/src/config.rs
Due: clippy

feat(unified): implement tiered storage backend with Hot/Warm/Cold tiers
  orbit/engine/src/unified/mod.rs
  orbit/engine/src/unified/tiered.rs
Due: clippy

feat(unified): add actor-tier placement integration for tier-aware storage
  orbit/engine/src/unified/actor_tier_placement.rs
  orbit/engine/src/unified/mod.rs
Due: clippy

feat: add unified storage implementation with feature flags
  docs/content/architecture/UNIFIED_STORAGE_DESIGN.md
  docs/content/storage/UNIFIED_VS_INDIVIDUAL_STORAGE.md
Due: none

feat: implement unified storage engine and configuration
  orbit/engine/src/lib.rs
  orbit/engine/src/unified/actor_tier_placement.rs
  orbit/engine/src/unified/adapters.rs
  orbit/engine/src/unified/mod.rs
  orbit/engine/src/unified/schema.rs
  orbit/engine/src/unified/storage.rs
  orbit/engine/src/unified/tiered.rs
  orbit/engine/tests/cross_protocol_integration.rs
  orbit/server/src/config.rs
  orbit/server/src/lib.rs
  orbit/server/src/protocols/cypher/mod.rs
  orbit/server/src/unified_storage.rs
Due: clippy

feat(ml): add industry models infrastructure and initial verticals
  docs/content/ml/INDUSTRY_MODELS_PLAN.md
  orbit/ml/src/industry_models/banking.rs
  orbit/ml/src/industry_models/common.rs
  orbit/ml/src/industry_models/fintech.rs
  orbit/ml/src/industry_models/healthcare.rs
  orbit/ml/src/industry_models/mod.rs
Due: clippy

feat(ml): add retail, automotive, and drug discovery models
  orbit/ml/src/industry_models/automotive.rs
  orbit/ml/src/industry_models/drug_discovery.rs
  orbit/ml/src/industry_models/retail.rs
Due: clippy

feat(ml): add insurance, aerospace, energy, and genomics models
  orbit/ml/src/industry_models/aerospace.rs
  orbit/ml/src/industry_models/energy.rs
  orbit/ml/src/industry_models/genomics.rs
  orbit/ml/src/industry_models/insurance.rs
Due: clippy

feat(ml): add manufacturing, IoT, and physical AI models
  orbit/ml/src/industry_models/iot.rs
  orbit/ml/src/industry_models/manufacturing.rs
  orbit/ml/src/industry_models/physical_ai.rs
Due: clippy

feat(ml): add financial trading and logistics models
  orbit/ml/src/industry_models/agritech.rs
  orbit/ml/src/industry_models/fleet_logistics.rs
  orbit/ml/src/industry_models/hedge_fund.rs
  orbit/ml/src/industry_models/trading.rs
Due: clippy

feat(ml): add physics, robotics, consumer electronics, and fashion models
  orbit/ml/src/industry_models/consumer_electronics.rs
  orbit/ml/src/industry_models/fashion.rs
  orbit/ml/src/industry_models/physics.rs
  orbit/ml/src/industry_models/robotics.rs
Due: clippy

feat(ml): implement full training pipeline for healthcare models
  orbit/ml/src/industry_models/common.rs
  orbit/ml/src/industry_models/healthcare.rs
Due: clippy

feat(ml): rename drug_discovery to pharmaceutical_research and add mining vertical
  orbit/engine/src/unified/index.rs
  orbit/ml/src/data_loaders.rs
  orbit/ml/src/industry_models/mining.rs
  orbit/ml/src/industry_models/pharmaceutical_research.rs
  orbit/ml/src/lib.rs
  orbit/ml/src/neural_networks/candle_layers.rs
  orbit/ml/src/neural_networks/mod.rs
  u00261
Due: clippy

feat(ml): add hospital systems, expand insurance, add offshore/solar/repair verticals
  orbit/ml/src/industry_models/hospital_systems.rs
  orbit/ml/src/industry_models/insurance.rs
  orbit/ml/src/industry_models/offshore_drilling.rs
  orbit/ml/src/industry_models/repair_services.rs
  orbit/ml/src/industry_models/solar_installations.rs
Due: clippy

feat(ml): add smart city, building management, and infrastructure verticals
  orbit/ml/src/industry_models/building_management.rs
  orbit/ml/src/industry_models/infrastructure_management.rs
  orbit/ml/src/industry_models/smart_city.rs
Due: clippy

feat(ml): add oil & gas exploration and marine exploration verticals
  orbit/ml/src/industry_models/marine_exploration.rs
  orbit/ml/src/industry_models/oil_gas_exploration.rs
Due: clippy

feat(ml): add autonomous fleet, rail systems, and venue management verticals
  orbit/ml/src/industry_models/autonomous_fleet.rs
  orbit/ml/src/industry_models/rail_systems.rs
  orbit/ml/src/industry_models/venue_management.rs
Due: clippy

fix: resolve all compilation errors in orbit-ml
  orbit/ml/src/data_loaders.rs
Due: clippy

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
