Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

Improve SCM blame handling for code analysis tools
  .git-blame-ignore-revs
  .gitattributes
  sonar-project.properties
Due: none

Fix SonarQube code quality issues
  orbit-compute/src/monitoring/linux.rs
  orbit-compute/src/scheduler.rs
  orbit-desktop/src/components/DataVisualization.tsx
  orbit-desktop/src/hooks/useQueryTabs.ts
  orbit-ml/src/neural_networks/feedforward.rs
  orbit-ml/src/transformers/attention.rs
  tests/bdd/mod.rs
Due: clippy

Reduce cognitive complexity of get_provider function
  orbit-server/src/persistence/dynamic.rs
Due: clippy

feat: implement comprehensive ReDoS security fixes and cognitive complexity reduction
  orbit-desktop/REDOS-FIX-SUMMARY.md
  orbit-desktop/SECURITY-REGEX.md
  orbit-desktop/redos-demo.js
  orbit-desktop/src/components/QueryEditor.tsx
  orbit-desktop/src/utils/queryFormatterSafety.test.ts
  orbit-server/src/persistence/config.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
Due: clippy

feat: add comprehensive database categories to competitive analysis
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
Due: none

feat: Add comprehensive DB-Engines ranking analysis covering 425 database systems
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
Due: none

feat: Add comprehensive time series database competitive analysis
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
Due: none

feat: Add comprehensive spatial and event store database competitive analysis
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
Due: none

feat: Add comprehensive RDF store database competitive analysis
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
Due: none

Complete vector database market analysis in comprehensive comparison
  docs/COMPREHENSIVE_DATABASE_COMPARISON.md
  docs/planning/competitive/COMPETITIVE_POSITIONING.md
Due: none

Integrate RESP and PostgreSQL protocols into OrbitServer
  Cargo.lock
  orbit-server/Cargo.toml
  orbit-server/src/lib.rs
  orbit-server/src/server.rs
  orbit-server/tests/integration_test.rs
Due: clippy, cargo-audit

Fix compilation errors after protocol integration
  examples/hello-world.rs
  examples/hello-world/src/main.rs
  examples/integrated-server.rs
  orbit-server/examples/hello-world.rs
  orbit-server/src/main.rs
Due: clippy

Move integrated-server example to correct location
  orbit-server/examples/integrated-server.rs
Due: clippy

Update all documentation for integrated multi-protocol server
  DOCUMENTATION_UPDATE_INTEGRATED_SERVER.md
  README.md
  docs/quick_start.md
  examples/sql-psql-demo/QUICKSTART.md
  orbit-server/examples/integrated-server.rs
Due: clippy

Fix PostgreSQL port conflict in integrated server
  README.md
  docs/quick_start.md
  examples/sql-psql-demo/QUICKSTART.md
  orbit-server/examples/integrated-server.rs
Due: clippy

feat: Complete PostgreSQL persistence implementation with comprehensive documentation
  Cargo.lock
  README.md
  config/orbit-server.toml
  docs/migration-to-postgresql-persistence.md
  docs/postgresql-persistence.md
  docs/quick_start.md
  orbit-protocols/Cargo.toml
  orbit-protocols/src/lib.rs
  orbit-protocols/src/postgres_wire/mod.rs
  orbit-protocols/src/postgres_wire/persistent_storage.rs
  orbit-protocols/src/postgres_wire/query_engine.rs
  orbit-protocols/src/resp/commands/mod.rs
  orbit-protocols/src/resp/commands/string.rs
  orbit-server/examples/integrated-server.rs
  orbit-server/src/persistence/config.rs
  orbit-server/src/server.rs
Due: clippy, cargo-audit

fix: Resolve PostgreSQL persistence column case sensitivity and SERIAL handling
  orbit-protocols/src/postgres_wire/persistent_storage.rs
  orbit-protocols/src/postgres_wire/query_engine.rs
Due: clippy

fix: Resolve SELECT query data display issue in PostgreSQL persistence
  orbit-protocols/src/postgres_wire/persistent_storage.rs
  orbit-protocols/src/postgres_wire/query_engine.rs
Due: clippy

style: Apply cargo fmt formatting to PostgreSQL persistence code
  orbit-protocols/src/postgres_wire/persistent_storage.rs
  orbit-protocols/src/postgres_wire/query_engine.rs
Due: clippy

feat: Add comprehensive Redis persistence implementation
  orbit-protocols/src/persistence/mod.rs
  orbit-protocols/src/persistence/redis_data.rs
  orbit-protocols/src/persistence/rocksdb_redis_provider.rs
  orbit-protocols/src/persistence/tikv_redis_provider.rs
  orbit-protocols/src/resp/commands/string_persistent.rs
  orbit-protocols/src/resp/commands/string_simple.rs
  orbit-server/examples/persistent-redis-server.rs
  orbit-server/examples/tikv-redis-test.rs
Due: clippy

fix: Add CREATE EXTENSION support to PostgreSQL wire protocol
  CREATE
  examples/pgvector-extension-test.rs
  orbit-protocols/src/postgres_wire/query_engine.rs
  orbit-protocols/src/postgres_wire/sql/parser/ddl.rs
  orbit_integrated_data/CURRENT
  orbit_integrated_data/IDENTITY
  orbit_integrated_data/LOCK
  orbit_integrated_data/LOG
  orbit_integrated_data/MANIFEST-000005
  orbit_integrated_data/OPTIONS-000007
  orbit_integrated_data/OPTIONS-000009
  orbit_integrated_data/postgresql/CURRENT
  orbit_integrated_data/postgresql/IDENTITY
  orbit_integrated_data/postgresql/LOCK
  orbit_integrated_data/postgresql/LOG
  orbit_integrated_data/postgresql/MANIFEST-000005
  orbit_integrated_data/postgresql/OPTIONS-000007
  orbit_integrated_data_cluster/CURRENT
  orbit_integrated_data_cluster/IDENTITY
  orbit_integrated_data_cluster/LOCK
  orbit_integrated_data_cluster/LOG
  orbit_integrated_data_cluster/MANIFEST-000005
  orbit_integrated_data_cluster/OPTIONS-000007
  orbit_integrated_data_cluster/OPTIONS-000009
Due: clippy

Fix all ptr_arg clippy warnings in advanced analytics module
  README.md
  orbit-protocols/src/persistence/redis_data.rs
  orbit-protocols/src/persistence/rocksdb_redis_provider.rs
  orbit-protocols/src/persistence/tikv_redis_provider.rs
  orbit-protocols/src/postgres_wire/persistent_storage.rs
  orbit-protocols/src/postgres_wire/query_engine.rs
  orbit-protocols/src/postgres_wire/sql/execution_strategy.rs
  orbit-protocols/src/postgres_wire/sql/mod.rs
  orbit-protocols/src/postgres_wire/sql/parser/ddl.rs
  orbit-protocols/src/postgres_wire/sql/parser/utilities.rs
  orbit-protocols/src/postgres_wire/sql/pgvector_tests.rs
  orbit-protocols/src/resp/commands/string_persistent.rs
  orbit-shared/src/orbitql/advanced_analytics.rs
Due: clippy

Fix INSERT statement column handling for explicit column lists
  orbit-protocols/src/postgres_wire/sql/executor.rs
Due: clippy

feat: add gRPC reflection support to Orbit server
  Cargo.lock
  orbit-proto/build.rs
  orbit-proto/src/lib.rs
  orbit-server/Cargo.toml
  orbit-server/src/server.rs
Due: clippy, cargo-audit

enhance current implementation for Postgresql and Redis support
  orbit-protocols/Cargo.toml
  orbit-protocols/examples/database_example.rs
  orbit-protocols/src/database/actors/mod.rs
  orbit-protocols/src/database/actors/postgres.rs
  orbit-protocols/src/database/actors/timescale.rs
  orbit-protocols/src/database/actors/vector.rs
  orbit-protocols/src/database/factory.rs
  orbit-protocols/src/database/messages.rs
  orbit-protocols/src/database/mod.rs
  orbit-protocols/src/database/storage.rs
  orbit-protocols/src/database/testing.rs
  orbit-protocols/src/lib.rs
  orbit-protocols/src/postgres_wire/query_engine.rs
  orbit-protocols/src/postgres_wire/sql/executor.rs
  orbit-protocols/src/postgres_wire/sql/expression_evaluator.rs
  orbit-protocols/src/resp/actors.rs
  orbit-protocols/src/resp/commands/sorted_set.rs
  orbit-protocols/src/resp/commands/string.rs
  orbit-protocols/src/resp/commands/string_persistent.rs
  orbit-protocols/src/resp/commands/traits.rs
  orbit-protocols/src/resp/mod.rs
  orbit-protocols/src/resp/persistent_server.rs
  orbit-protocols/src/resp/simple_local.rs
  orbit-protocols/tests/database_integration_test.rs
  orbit-protocols/tests/sorted_set_integration_test.rs
Due: clippy, cargo-audit

add architecture documentation and examples for Redis and database integration
  CONFIGURABLE_ARCHITECTURE.md
  REDIS_ARCHITECTURE_ANALYSIS.md
  SORTED_SET_IMPLEMENTATION.md
  examples/database_actors_demo.rs
  orbit-server/examples/integrated-server.rs
Due: clippy

Add PayPal donation link to FUNDING.yml
  .github/FUNDING.yml
Due: none

refactor: reorganize root directory structure for better maintainability
  .gitignore
  config/deny.toml
  config/sonar-project.properties
  config/tarpaulin.toml
  demo_cow_data/orbit.wal
  docs/DOCUMENTATION_UPDATES_SUMMARY.md
  docs/MANUAL-CI-CD.md
  docs/verification/README.md
  orbit_integrated_data/CURRENT
  orbit_integrated_data/IDENTITY
  orbit_integrated_data/LOCK
  orbit_integrated_data/LOG
  orbit_integrated_data/MANIFEST-000005
  orbit_integrated_data/OPTIONS-000007
  orbit_integrated_data/OPTIONS-000009
  orbit_integrated_data/postgresql/CURRENT
  orbit_integrated_data/postgresql/IDENTITY
  orbit_integrated_data/postgresql/LOCK
  orbit_integrated_data/postgresql/LOG
  orbit_integrated_data/postgresql/MANIFEST-000005
  orbit_integrated_data/postgresql/OPTIONS-000007
  orbit_integrated_data_cluster/CURRENT
  orbit_integrated_data_cluster/IDENTITY
  orbit_integrated_data_cluster/LOCK
  orbit_integrated_data_cluster/LOG
  orbit_integrated_data_cluster/MANIFEST-000005
  orbit_integrated_data_cluster/OPTIONS-000007
  orbit_integrated_data_cluster/OPTIONS-000009
  scripts/run-ci.sh
  scripts/start-multiprotocol-server.sh
  scripts/start-orbit-redis.sh
  tools/analyze_complexity.py
Due: none

fix: revert breaking dependency updates from dependabot merges
  Cargo.lock
  Cargo.toml
  orbit/compute/Cargo.toml
  orbit/ml/Cargo.toml
  orbit/operator/Cargo.toml
  orbit/proto/Cargo.toml
  orbit/protocols/Cargo.toml
  orbit/server/Cargo.toml
  orbit/shared/Cargo.toml
  orbit/util/Cargo.toml
  tests/Cargo.toml
Due: cargo-audit

fix: update timeseries-demo to use non-deprecated rand API
  examples/timeseries-demo/src/main.rs
Due: clippy

feat: add comprehensive actor benchmarks
  orbit/benchmarks/benches/actor_benchmarks.rs
Due: clippy

fix: resolve compilation errors in orbit-benchmarks module
  orbit/benchmarks/Cargo.lock
  orbit/benchmarks/Cargo.toml
  orbit/benchmarks/benches/actor_benchmarks.rs
  orbit/benchmarks/src/lib.rs
Due: clippy, cargo-audit

fix: resolve all orbit-benchmarks compilation errors
  orbit/benchmarks/src/lib.rs
  orbit/benchmarks/src/orbitql/benchmark.rs
  orbit/benchmarks/src/performance/mod.rs
  orbit/shared/src/lib.rs
Due: clippy

fix: suppress unused PongMessage warning in actor benchmarks
  orbit/benchmarks/benches/actor_benchmarks.rs
Due: clippy

docs: update MIGRATION_GUIDE with current repository structure
  docs/MIGRATION_GUIDE.md
Due: none

feat: implement MD5 and SCRAM-SHA-256 authentication for PostgreSQL wire protocol
  Cargo.lock
  orbit/protocols/Cargo.toml
  orbit/protocols/src/postgres_wire/auth.rs
  orbit/protocols/src/postgres_wire/mod.rs
Due: clippy, cargo-audit

fix: suppress dead_code warning for ScramAuth fields
  orbit/protocols/src/postgres_wire/auth.rs
Due: clippy

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
