Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

clippy:
  name: Rust lints (cargo clippy)
  description: Run Clippy linter
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-audit:
  name: Security audit (cargo audit)
  description: Run security audit on dependencies
  entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
  language: system
  pass_filenames: false

feat: implement Field-Level Encryption (FLE) for RFC-014
  Cargo.lock
  orbit/shared/Cargo.toml
  orbit/shared/src/lib.rs
  orbit/shared/src/security/field_encryption.rs
  orbit/shared/src/security/mod.rs
Due: clippy, cargo-audit

feat: implement Dynamic Data Masking for RFC-014
  Cargo.lock
  orbit/shared/Cargo.toml
  orbit/shared/src/lib.rs
  orbit/shared/src/security/data_masking.rs
  orbit/shared/src/security/mod.rs
Due: clippy, cargo-audit

feat: implement Multi-Tenant Security Framework for RFC-014
  orbit/shared/src/lib.rs
  orbit/shared/src/security/mod.rs
  orbit/shared/src/security/multi_tenant.rs
Due: clippy

chore: move RFC-014 to completed folder
  docs/rfcs/completed/RFC-014-SECURITY_AUTHENTICATION.md
Due: none

chore: move Actor Memory and ML RFCs to completed
  docs/rfcs/completed/RFC-ML-DEEP-LEARNING-INTEGRATION.md
  docs/rfcs/completed/RFC_ACTOR_MEMORY_INTEGRATION.md
Due: none

chore: organize RFCs - move implemented to completed, remove duplicates
  docs/rfcs/RFC-001-COLUMNAR_ANALYTICS_ENGINE.md
  docs/rfcs/RFC-004-AI_NATIVE_DATABASE_FEATURES.md
  docs/rfcs/completed/RFC-005-VIRTUAL_ACTOR_SYSTEM.md
  docs/rfcs/completed/RFC-007-DISTRIBUTED_TRANSACTIONS.md
  docs/rfcs/completed/RFC-010-TIME_SERIES_ENGINE.md
  docs/rfcs/completed/RFC-012-QUERY_LANGUAGES.md
Due: none

chore: move Vector Database and Storage Backend RFCs to completed
  docs/rfcs/completed/RFC-009-VECTOR_DATABASE_CAPABILITIES.md
  docs/rfcs/completed/RFC-011-STORAGE_BACKEND_ARCHITECTURE.md
Due: none

refactor: apply clippy suggestions for code quality
  orbit/shared/src/actor_memory.rs
  orbit/shared/src/extensions/mod.rs
  orbit/shared/src/persistence/traits.rs
  orbit/shared/src/persistence/wal.rs
  orbit/shared/src/pooling/load_balancer.rs
  orbit/shared/src/spatial/functions.rs
  orbit/shared/src/spatial/streaming.rs
  orbit/shared/src/types/newtypes.rs
Due: clippy

refactor: apply clippy suggestions to orbit-compute
  orbit/compute/src/cpu/simd/mod.rs
  orbit/compute/src/cpu/simd/types.rs
  orbit/compute/src/gpu_metal.rs
  orbit/compute/src/graph_traversal.rs
  orbit/compute/src/query.rs
Due: clippy

feat: implement time series compression algorithms (Delta, Double-Delta, Gorilla)
  orbit/shared/src/timeseries/compression.rs
Due: clippy

feat: implement time series aggregation functions
  orbit/shared/src/timeseries/aggregation.rs
Due: clippy

feat: implement time series partitioning strategies
  orbit/shared/src/timeseries/partitioning.rs
Due: clippy

Remove emoji from AI-Native Database entries
  README.md
Due: none

Standardize section headers in ML SQL design doc
  docs/ML_SQL_FUNCTIONS_DESIGN.md
Due: none

docs: update ML SQL Functions Design roadmap with completion status
  docs/ML_SQL_FUNCTIONS_DESIGN.md
Due: none

feat: implement streaming ML inference pipeline
  docs/ML_SQL_FUNCTIONS_DESIGN.md
  orbit/ml/src/lib.rs
  orbit/ml/src/streaming_inference.rs
Due: clippy

Update Cargo.lock
  Cargo.lock
Due: cargo-audit

chore: bump tonic to 0.14, prost to 0.14
  Cargo.lock
  Cargo.toml
  orbit/engine/Cargo.toml
  orbit/engine/build.rs
  orbit/ml/Cargo.toml
  orbit/proto/Cargo.toml
  orbit/proto/build.rs
  orbit/server/Cargo.toml
  orbit/shared/Cargo.toml
  orbit/shared/build.rs
Due: clippy, cargo-audit

feat: expand Cypher query language support with DELETE, SET, MERGE, REMOVE, ORDER BY, LIMIT, SKIP
  README.md
  docs/features.md
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/graph_database.rs
Due: clippy

feat: add CALL procedure support with graph algorithm procedures
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_algorithms_procedures.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/cypher/mod.rs
  orbit/server/src/protocols/graph_database.rs
Due: clippy

docs: update Graph Database status after CALL procedures implementation
  README.md
  docs/features.md
Due: none

docs: add comprehensive CLAUDE.md for AI assistant guidance
  CLAUDE.md
Due: none

feat(compute): implement CUDA and WindowsML GPU backends
  orbit/compute/Cargo.toml
  orbit/compute/src/gpu_backend.rs
  orbit/compute/src/gpu_cuda.rs
  orbit/compute/src/gpu_windowsml.rs
  orbit/compute/src/lib.rs
  orbit/compute/src/shaders/cuda/database_kernels.cu
Due: clippy, cargo-audit

fix: eliminate all compiler warnings and fix test failures
  orbit/compute/src/memory.rs
  orbit/compute/src/monitoring/windows.rs
  orbit/engine/src/procedures/interpreter.rs
  orbit/engine/src/procedures/mod.rs
  orbit/engine/src/query/execution.rs
  orbit/engine/src/transactions/core.rs
  orbit/engine/src/triggers/executor.rs
  orbit/engine/src/triggers/manager.rs
  orbit/engine/src/triggers/mod.rs
  orbit/ml/src/neural_networks/gru.rs
  orbit/ml/src/neural_networks/lstm.rs
  orbit/ml/src/neural_networks/recurrent.rs
  orbit/ml/src/sql_extensions/mod.rs
  orbit/ml/src/sql_extensions/sql_functions.rs
  orbit/ml/src/streaming_inference.rs
  orbit/protocols/src/neo4j/bolt.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/resp/commands/graph.rs
Due: clippy

fix: use correct QueryEngine import in postgres-server example
  orbit/protocols/examples/postgres-server.rs
Due: clippy

fix(tests): correct GraphNode import in persistence verification test
  orbit/server/tests/persistence_verification.rs
Due: clippy

feat(tests): organize tests by feature with conditional compilation
  docs/TEST_COVERAGE_BY_FEATURE.md
  orbit/engine/tests/acceleration_integration.rs
  orbit/engine/tests/simd_acceleration_functional.rs
  orbit/protocols/Cargo.toml
  orbit/protocols/tests/cql_integration_tests.rs
  orbit/protocols/tests/cql_query_execution_tests.rs
  orbit/protocols/tests/cql_test_helpers.rs
  orbit/protocols/tests/mcp_integration_test.rs
  orbit/protocols/tests/mysql_integration_tests.rs
  orbit/protocols/tests/mysql_query_execution_tests.rs
  orbit/protocols/tests/mysql_syntax_tests.rs
  orbit/protocols/tests/mysql_unit_tests.rs
  orbit/protocols/tests/postgres_ddl_tests.rs
  orbit/protocols/tests/postgres_dml_tests.rs
  orbit/protocols/tests/postgres_dql_tests.rs
  orbit/protocols/tests/postgres_integration_test.rs
  orbit/protocols/tests/protocol_integration_tests.rs
  orbit/protocols/tests/resp_basic_tests.rs
  orbit/protocols/tests/resp_command_unit_tests.rs
  orbit/protocols/tests/resp_integration_test.rs
  orbit/server/tests/ai_tests.rs
  orbit/server/tests/integration/gpu_columnar_analytics_test.rs
  orbit/server/tests/integration/gpu_spatial_operations_test.rs
  orbit/server/tests/integration/gpu_vector_similarity_test.rs
Due: clippy, cargo-audit

feat(tests): add comprehensive test coverage for multiple subsystems
  docs/TEST_COVERAGE_BY_FEATURE.md
  orbit/engine/tests/cdc_integration_tests.rs
  orbit/engine/tests/distributed_tx_integration_tests.rs
  orbit/protocols/Cargo.toml
  orbit/protocols/tests/arangodb_integration_tests.rs
  orbit/protocols/tests/graphrag_integration_tests.rs
  orbit/protocols/tests/neo4j_integration_tests.rs
  orbit/protocols/tests/orbitql_doctest_tests.rs
  orbit/server/src/protocols/graphrag/multi_hop_reasoning.rs
  orbit/server/src/protocols/postgres_wire/jsonb/operators.rs
  orbit/server/src/protocols/rest/websocket.rs
  orbit/server/tests/integration_test.rs
  orbit/server/tests/websocket_streaming_tests.rs
  orbit/shared/tests/cluster_manager_tests.rs
Due: clippy, cargo-audit

feat: add aggregation functions, WITH clause, and variable-length paths to Cypher parser
  orbit/ml/src/streaming_inference.rs
  orbit/server/src/protocols/cypher/cypher_parser.rs
  orbit/server/src/protocols/cypher/graph_algorithms_procedures.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/graph_database.rs
Due: clippy

fix: resolve build errors and remove unused imports
  orbit/application/src/lib.rs
  orbit/client-spring/src/context.rs
  orbit/engine/src/query/execution.rs
  orbit/server-prometheus/src/exporter.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
Due: clippy

docs: update ArangoDB compatibility status
  README.md
  docs/PRIORITY_TODO_LIST.md
  docs/protocols/ARANGODB_MULTI_MODEL.md
Due: none

fix: Update graph.rs test to use new OrbitClient API
  orbit/server/src/protocols/resp/commands/graph.rs
Due: clippy

fix: Update proxy.rs tests to pass None to InvocationSystem::new()
  orbit/client/src/proxy.rs
Due: clippy

fix: Resolve compiler warnings and mark slow test as ignored
  orbit/client/src/invocation.rs
  orbit/ml/src/models.rs
  orbit/server/src/protocols/ml/mod.rs
  orbit/server/src/protocols/resp/commands/graphrag.rs
  orbit/server/src/server.rs
  orbit/server/tests/list_test.rs
Due: clippy

chore: Add orbit/server/data/ to gitignore and remove tracked data files
  .gitignore
  orbit/server/data/cql/rocksdb/MANIFEST-000005
  orbit/server/data/mysql/rocksdb/MANIFEST-000005
  orbit/server/data/postgresql/rocksdb/MANIFEST-000005
  orbit/server/data/redis/rocksdb/MANIFEST-000005
  orbit/server/data/rocksdb/MANIFEST-000005
Due: none

docs: Update CLAUDE.md with slow test and data directory info
  CLAUDE.md
Due: none

docs: Add consolidated Product Requirements Document (PRD)
  docs/PRD.md
Due: none

Path conditions:
  clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
