Repository TuringWorks/orbit-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Orbit-RS
# This ensures code quality and security before commits

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-check
        name: Rust check (cargo check) 
        description: Run cargo check
        entry: cargo check --workspace --all-targets
        language: system
        files: \.rs$
        pass_filenames: false

  - repo: local
    hooks:
      - id: clippy
        name: Rust lints (cargo clippy)
        description: Run Clippy linter
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: Security audit (cargo audit)
        description: Run security audit on dependencies
        entry: bash -c 'cargo install cargo-audit --locked || true && cargo audit'
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

      - id: test
        name: Rust tests
        description: Run Rust tests
        entry: cargo test --workspace --lib
        language: system
        files: \.rs$
        pass_filenames: false
        stages: [manual]  # Only run when explicitly requested

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(md|json|yaml|yml)$
        exclude: ^(Cargo\.lock|target/|\.github/workflows/)

# Configuration for specific hooks
default_language_version:
  rust: system

fix(sql): Add UNDROP TABLE error handling in MVCC executor
  orbit/server/src/protocols/postgres_wire/sql/execution_strategy.rs
Due: clippy

docs: Update documentation for time travel and UNDROP TABLE features
  docs/content/architecture/ORBIT_ARCHITECTURE.md
  docs/whitepapers/OrbitRS_vs_Databricks_Competitive_Analysis.md
  docs/whitepapers/OrbitRS_vs_Snowflake_Competitive_Analysis.md
  specifications/PRD.md
  specifications/protocols/ORBITQL_COMPATIBILITY.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: none

feat(iceberg): Implement time travel query methods in IcebergColdStore
  orbit/server/src/protocols/postgres_wire/sql/execution/iceberg_cold.rs
Due: clippy

docs: Update documentation to reflect complete time travel implementation
  docs/content/architecture/ORBIT_ARCHITECTURE.md
  docs/whitepapers/OrbitRS_vs_Databricks_Competitive_Analysis.md
  docs/whitepapers/OrbitRS_vs_Snowflake_Competitive_Analysis.md
  specifications/PRD.md
  specifications/protocols/ORBITQL_COMPATIBILITY.md
  specifications/protocols/POSTGRESQL_18_COMPATIBILITY.md
Due: none

feat(iceberg): Add Iceberg catalog configuration and IcebergColdStore integration
  config/orbit-server.toml
  docs/ICEBERG_TIME_TRAVEL_SETUP.md
  orbit/server/src/config.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/iceberg_cold.rs
Due: clippy

docs: Fix formatting and correct typo in directory path
  docs/content/protocols/CQL_COMPLETE_DOCUMENTATION.md
  specifications/protocols/Protocol-specs/orbitwire-protocol-specification.md
  specifications/protocols/mysql-mariadb-reference-rust.md
Due: none

fix(sql): Resolve tokio runtime nesting issue in WASM UDF execution
  .gitignore
  orbit/server/src/lua/mlua_runtime.rs
  orbit/server/src/lua/redis_api.rs
  orbit/server/src/lua/types.rs
  orbit/server/src/main.rs
  orbit/server/src/protocols/common/graph_algorithms.rs
  orbit/server/src/protocols/cql/adapter.rs
  orbit/server/src/protocols/cql/graph.rs
  orbit/server/src/protocols/cql/protocol.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/graph_engine.rs
  orbit/server/src/protocols/cypher/server.rs
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/mongodb/spatial.rs
  orbit/server/src/protocols/mysql/adapter.rs
  orbit/server/src/protocols/mysql/mod.rs
  orbit/server/src/protocols/orbitql/mod.rs
  orbit/server/src/protocols/orbitql/server.rs
  orbit/server/src/protocols/postgres_wire/sql/array_string.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  orbit/server/src/protocols/postgres_wire/sql/executor.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/query_engine.rs
  orbit/server/src/protocols/tls.rs
  orbit/server/src/wasm/mod.rs
  orbit/server/src/wasm/runtime.rs
  orbit/server/src/wasm/sql_syntax_e2e_test.rs
Due: clippy

Create SECURITY.md for security policy
  SECURITY.md
Due: none

Update project title and correct typo in README
  README.md
Due: none

fix: Resolve build errors and clippy warnings
  .cargo/config.toml
  orbit/cli/src/main.rs
  orbit/server/benches/simd_benchmarks.rs
  orbit/server/src/lib.rs
  orbit/server/src/lua/redis_api.rs
  orbit/server/src/lua/types.rs
  orbit/server/src/lua/udf_integration_test.rs
  orbit/server/src/lua/udf_registry.rs
  orbit/server/src/protocols/aql/tests.rs
  orbit/server/src/protocols/cypher/bolt_protocol.rs
  orbit/server/src/protocols/cypher/bolt_protocol_tests.rs
  orbit/server/src/protocols/orbitwire/server.rs
  orbit/server/src/protocols/postgres_wire/sql/crypto.rs
  orbit/server/src/protocols/postgres_wire/sql/execution/simd/backend.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/server/src/protocols/postgres_wire/sql/udf_handler.rs
  orbit/server/src/protocols/resp/commands/hyperloglog.rs
  orbit/server/src/protocols/resp/commands/scripting.rs
  orbit/server/src/python/runtime.rs
  orbit/server/src/python/tests.rs
  orbit/server/src/wasm/runtime.rs
  orbit/server/src/wasm/types.rs
  orbit/server/src/wasm/udf_registry.rs
  orbit/server/tests/tls_verification.rs
Due: clippy

security: Update react-router-dom to fix XSS vulnerability
  orbit/desktop/package-lock.json
  orbit/desktop/package.json
Due: none

security: Fix medium severity Dependabot vulnerabilities
  Cargo.lock
  orbit/desktop/package-lock.json
  orbit/desktop/src-tauri/Cargo.lock
  orbit/server/Cargo.toml
  tests/orbit-compatibility/mongodb/requirements.txt
Due: cargo-audit

updates to readme
  .gitignore
  README.md
Due: none

fix(server): remove unused rand trait imports in expression_evaluator
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
Due: clippy

fix(tests): generate self-signed test certs and fix TLS tests
  config/certs/.gitkeep
  config/certs/ca_cert.pem
  config/certs/ca_key.pem
  config/certs/client_cert.pem
  config/certs/client_key.pem
  config/certs/server_cert.pem
  config/certs/server_key.pem
  orbit/server/tests/lb_tls_test.rs
  orbit/server/tests/tls_test.rs
Due: clippy

fix(scripts): fix hardcoded paths, stale crate refs, and add Makefile targets for dev/cluster/lb
  Makefile
  scripts/run-tests.sh
  scripts/start_server.sh
Due: none

docs: update AGENTS.md, CLAUDE.md, .cursorrules with Make-based workflow
  .cursorrules
  AGENTS.md
  CLAUDE.md
Due: none

fix(deps): resolve 15 of 16 cargo audit vulnerabilities
  Cargo.lock
  Cargo.toml
  orbit/application/Cargo.toml
  orbit/application/src/config.rs
  orbit/application/src/error.rs
  orbit/client-spring/Cargo.toml
  orbit/client-spring/src/config.rs
  orbit/operator/Cargo.toml
  orbit/operator/src/cluster_controller.rs
  orbit/server-prometheus/Cargo.toml
  orbit/server-prometheus/src/config.rs
  orbit/server/Cargo.toml
Due: clippy, cargo-audit

Add code design principles to docs
  .cursorrules
  AGENTS.md
  CLAUDE.md
Due: none

docs: trim CLAUDE.md and add orbit-dev-commands skill
  .claude/skills/orbit-dev-commands/SKILL.md
  CLAUDE.md
Due: none

chore(deps): upgrade thiserror to 2.0 and consolidate on workspace dep
  Cargo.lock
  Cargo.toml
  orbit/cli/Cargo.toml
  orbit/client-spring/Cargo.toml
  orbit/compute/Cargo.toml
  orbit/engine/Cargo.toml
  orbit/server-etcd/Cargo.toml
  orbit/server-prometheus/Cargo.toml
Due: cargo-audit

chore(deps): upgrade rand to 0.10 and migrate the API
  Cargo.lock
  Cargo.toml
  orbit/compute/benches/columnar_analytics_bench.rs
  orbit/compute/benches/spatial_operations_bench.rs
  orbit/compute/benches/vector_similarity_bench.rs
  orbit/compute/src/monitoring/windows.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/anomaly_detection.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/reinforcement_learning.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/time_series_models.rs
  orbit/ml/src/industry_models/cross_cutting_horizontal/tree_ensembles.rs
  orbit/ml/src/neural_networks/gru.rs
  orbit/ml/src/neural_networks/lstm.rs
  orbit/ml/src/neural_networks/recurrent.rs
  orbit/ml/src/transformers/attention.rs
  orbit/server/src/protocols/aql/query_engine.rs
  orbit/server/src/protocols/mongodb/server.rs
  orbit/server/src/protocols/postgres_wire/auth.rs
  orbit/server/src/protocols/postgres_wire/protocol.rs
  orbit/server/src/protocols/postgres_wire/sql/expression_evaluator.rs
  orbit/shared/src/security/encryption.rs
  orbit/shared/src/security/field_encryption.rs
  orbit/util/src/misc.rs
Due: clippy, cargo-audit

chore(deps): upgrade mockall to 0.15 and cucumber to 0.23 (test-only)
  Cargo.lock
  Cargo.toml
  tests/Cargo.toml
Due: cargo-audit

chore(deps): upgrade pyo3 to 0.29 (optional python feature)
  Cargo.lock
  Cargo.toml
Due: cargo-audit

refactor(shared): functional idioms in error module + tests
  orbit/shared/src/error.rs
Due: clippy

refactor(shared): idiomatic conversions/constructors for addressable types
  orbit/shared/src/addressable.rs
Due: clippy

refactor(shared): functional style in event_sourcing replay/query
  orbit/shared/src/event_sourcing.rs
Due: clippy

refactor(shared): data-driven attack detection in security_patterns
  orbit/shared/src/security_patterns.rs
Due: clippy

refactor(shared): collect fallible query rows in transaction_log
  orbit/shared/src/transaction_log.rs
Due: clippy

refactor(engine): functional vectorized projection in query execution
  orbit/engine/src/query/execution.rs
Due: clippy

refactor(engine): functional select_rows in query execution
  orbit/engine/src/query/execution.rs
Due: clippy

docs: add performance, allocation, modelling-honesty and verification rules
  .cursorrules
  AGENTS.md
  CLAUDE.md
Due: none

refactor(proto): trait-based conversions and honest timestamp decoding
  orbit/proto/src/converters.rs
Due: clippy

refactor: add bounds-checked cursor for decompression
  orbit/shared/src/timeseries/compression.rs
Due: clippy

refactor(shared): guard capacity_for against a zero element size
  orbit/shared/src/timeseries/compression.rs
Due: clippy

Refactor shared patterns & update Cargo.lock
  orbit/desktop/src-tauri/Cargo.lock
  orbit/shared/src/lib.rs
  orbit/shared/src/patterns/conversions.rs
  orbit/shared/src/patterns/interior_mutability.rs
  orbit/shared/src/patterns/iterators.rs
  orbit/shared/src/patterns/phantom_types.rs
  orbit/shared/src/patterns/raii_guards.rs
  orbit/shared/src/patterns/sealed_traits.rs
  orbit/shared/src/patterns/strategy.rs
  orbit/shared/src/patterns/typestate.rs
  orbit/shared/src/patterns/visitors.rs
Due: clippy, cargo-audit

Refactor to use checked_div and improve type clarity
  orbit/shared/src/patterns/interior_mutability.rs
  orbit/shared/src/patterns/iterators.rs
  orbit/shared/src/patterns/typestate.rs
  orbit/shared/src/timeseries/compression.rs
Due: clippy

Add Default impl for types with new()
  orbit/shared/src/patterns/interior_mutability.rs
  orbit/shared/src/patterns/iterators.rs
  orbit/shared/src/patterns/typestate.rs
  orbit/shared/src/patterns/visitors.rs
Due: clippy
